{% extends "tutorials/base.html" %}

{% load rendering %}
{% load hyperlink %}
{% load crosslink %}
{% load negletion %}

{% block head_title %}Development{% endblock %}

{% block hierarchy %}
    > <a href="/tutorials/">Tutorials</a>
    > Development
{%  endblock %}

{% block title %}Development{% endblock %}

{% block subtitle %}Operation-System Specific-Considerations{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="span4">
            {% block column-1 %}
                <h3>{{ windows.title }}</h3>
                {% with windows.images.all as images %}
                    {% if images %}
                        {% for image in images %}
                            <center>
                                <a href="{{ image.get_absolute_url }}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                            </center>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <p>{{ windows.content|negle|reST|neglete|markdown|hyper|recross|safe }}</p>
                <p><a class="btn" href="http://www.ubuntu.com/download/desktop/windows-installer/">More on Wubi &raquo;</a></p>
            {% endblock %}
        </div>
        <div class="span4">
            {% block column-2 %}
                <h3>{{ mac.title }}</h3>
                {% with mac.images.all as images %}
                    {% if images %}
                        {% for image in images %}
                            <center>
                                <a href="{{ image.get_absolute_url }}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                            </center>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <p>{{ mac.content|negle|reST|neglete|markdown|hyper|recross|safe }}<p>
                <p><a class="btn" href="http://www.unix.org/">More on Unix &raquo;</a></p>
            {% endblock %}
        </div>
        <div class="span4">
            {% block column-3 %}
                <h3>{{ linux.title }}</h3>
                {% with linux.images.all as images %}
                    {% if images %}
                        {% for image in images %}
                            <center>
                                <a href="{{ image.get_absolute_url }}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                            </center>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <p>{{ linux.content|negle|reST|neglete|markdown|hyper|recross|safe }}</p>
                <p><a class="btn" href="http://www.ubuntu.com/">More on Ubuntu &raquo;</a></p>
            {% endblock %}
        </div>
    </div>
{% endblock %}