{% extends "tutorials/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > <a href="/tutorials">Tutorials</a>
    > Index
{% endblock %}

{% block content %}
    <p>{{ tutorials_entry.text|markdown|hyper|recross|safe }}</p>
    {% if tutorials %}
        {% for tutorial in tutorials %}
            <li><a href="/tutorials/{{ tutorial.id }}/view/">{{ tutorial.title }}</a></li>
        {% endfor %}
        <p></p>
        <a href="/admin/blog/post/add/">Add another one</a>
        <hr>
        Note: <a href="/tutorials/development/">Operation system-specific consideration for Development</a>
        <hr>
        {% for tutorial in tutorials %}
            <table>
                <tr>
                    <td>
                        <h3><a href="/tutorials/{{ tutorial.id }}/view">{{ tutorial.title }}</a></h3>
                        {{ tutorial.brief|markdown|hyper|safe }}
                    </td>
                    <td>
                        {% for image in tutorial.images.all %}
                           <img src={{ image.url }} width="100" height="100" alt={{ image.name }}/>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        {% endfor %}
        <br>

    {% else %}
        <p>There are currently no tutorials.</p>
    {% endif %}

{% endblock %}
