{% extends "tutorials/base.html" %}

{% load url from future %}
{% load rendering %} {# {% load markup %} #}
{% load hyperlink %}
{% load crosslink %}
{% load negletion %}

{% block hierarchy %}
    > <a href="/tutorials">Tutorials</a> >
    Tutorial =
    <a href="/tutorials/{{ tutorial.id }}/view">{{ tutorial.title }}</a> >
    View
{% endblock %}

{% block title %}{{ tutorial.title }}{% endblock %}

{% block content %}
    {% comment %}{#  {{ tutorial|render  }}#}{% endcomment %}
    {% if tutorial.is_rest %}
        {{ tutorial.text|hyper|negle|reST|neglete|markdown|recross|safe }}
    {% else %}
        {{ tutorial.text|markdown|hyper|recross|safe }}
    {% endif %}

    {% for image in tutorial.images.all %}
       <img src={{ image.url }} alt={{ image.name }}/>
    {% endfor %}

    {% comment %}<a href="/tutorials/{{tutorial.id }}/edit">Edit?</a>{% endcomment %}
    <br>
    <b><a href={% url 'update-entry' tutorial.pk %}>Edit tutorial</a></b>
{% endblock %}
