{% extends "tutorials/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load negletion %}

{% block hierarchy %}
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/tutorials">Tutorials</a> >
    Tutorial =
    <a href="/tutorials/{{ tutorial.id }}/view">{{ tutorial.title }}</a> >
    View
{% endblock %}

{% block content %}
   <h3>{{ tutorial.title }}</h3>
   {{ tutorial.text|markdown|restructuredtext|hyper|neglete|safe }}
   {% for image in tutorial.images.all %}
   <img src={{ image.url }} alt={{ image.name }}/>
   {% endfor %}

{% comment %}<a href="/tutorials/{{tutorial.id }}/edit">Edit?</a>{% endcomment %}
<a href="/admin/blog/post/{{ tutorial.id }}">Edit?</a>
{% endblock %}
