{% extends "tutorials/base.html" %}

{% block hierarchy %}
<div class="line">
<span class="left">
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/tutorials">Tutorials</a> >
    Tutorial =
    <a href="/tutorials/{{ tutorial.id }}/view">{{ tutorial.title }}</a> >
    View
</span>
</div>
{% endblock %}

{% block content %}
   {% load markup %}
   <h3>{{ tutorial.title }}</h3>
   {{ tutorial.text|markdown }}
   {% for image in tutorial.images.all %}
   <img src={{ image.url }} alt={{ image.name }}/>
   {% endfor %}

{% comment %}<a href="/tutorials/{{tutorial.id }}/edit">Edit?</a>{% endcomment %}
<a href="/admin/blog/post/{{ tutorial.id }}">Edit?</a>
{% endblock %}
