{% extends "gallery/base.html" %}

{% load url from future %}
{% load crispy_forms_tags %}
{% block head_title %}Media Image {{ image.name }}{% endblock %}

{% block hierarchy %}
    > <a href="{% url 'media' %}">Media</a>
    > <a href="{% url 'media' %}">Gallery</a>
    > Image
    > {{ image.name }}
{% endblock %}

{% block title %}Image {{ image.name }}{% endblock %}

{% block content %}
    <b>Url</b>: <a href="{{ image.url }}">{{ image.url }}</a><br>
    <b>Uploaded</b>: {{ image.uploaded }}<br>
    <b>Uploader</b>: <a href="{{ image.user.get_absolute_url }}">{{ image.user }}</a><br>
    <b>Artist</b>:
    {% if image.artist %}
        <a href="{{ image.artist.get_absolute_url }}">{{ image.artist }}</a>
    {% else %}
        NA
    {% endif %}<br>
    {% if image.entry_set.all %}
        <b>Data
        {% if image.entry_set.all|length == 1 %} entry{% else %} entries{% endif %}</b>:
        {% for entry in image.entry_set.all %}
            <a href="{{ entry.get_absolute_url }}">{{ entry }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}<br>
    {% endif %}
    <center><a href="{{ image.url }}"><img src="{{ image.url }}" alt="{{ image.name }}"></a></center>
    {% if user == image.user %}
        {% crispy form %}
    {% endif %}
    {% if user.is_authenticated %}
        <b><a href="{% url 'delete-image' image.pk %}">Delete</a></b>
    {% endif %}
    {% include "comments/wrapper.html" %}
{% endblock %}