{% extends "gallery/base.html" %}

{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block content %}
<html>
<head>
    <title>Web Album using Django and AWS</title>
    <style>

* {
   {% comment %} font-family: georgia;
    font-size: 12px;{% endcomment %}
}

.sidebar {
    float:left;
    width:290px;
    height:1000px;
    margin-right:2em;
    padding:1em;
    background:white;
}

.form {
    background: #cccccc;
    padding: 0.5em;
}

.photo {
    padding: 0.5em;
    background: white;
}
    </style>
</head>
<body>
    <div class="sidebar">
        <div class="form">
            <strong>{{ form.file.label }}</strong>
            <form method="POST" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form.file }}<br/>
                <input type="submit" value="Upload Photo"/>
            </form>
        </div>
        <br>
        {% if entry.text %}
            {{ entry.content|markdown|hyper|recross|safe }}
        {% else %}
        <p>
        Denigma Gallery is an illustration of using Amazon's Simple Storage Service 
        (S3) with the Django web Framework. This demo shows a common usage of S3;
        to store and server a large quantity of media files.
        </p>
        <p>
        Photos that are uploaded using the form above are not stored on the local
        server, but are remotely transferred to storage space on S3. Once stored,
        the files can be served directly from S3, saving storage and bandwith
        expenses for the site.
        </p>
        <p>
        Theoretically any kind of static data can be stored effectively in this way with unlimited scaling.
        Thus, its up to your imagination.
        Uploaded figures can be inserted into Denigma wherever you like, depending on your programming skills and creativity.
        </p>
        {% endif %}
    </div>
    <div> <class="container">
        <div style="padding:1em;">
{% for photo in photos %}
    <img class="photo" src="{{photo.url}}" />
{% endfor %}
        </div>
    </div>
</body>
</html>
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
