{% extends "news/base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > News
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" align="right" style="width: 250">
                {% for image in entry.images.all %}
                    <a href="{% url 'detail-entry' entry.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250" /></a>
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
   {% for news in page.object_list %}
       <table width="100%">
           <tr>
               <td>
                   <a href={% url 'detail-entry' news.slug %}><h3>{{ news.title }}</h3></a>
                   <p>created on {{ news.created }};
                      updated on {{ news.updated }}</p>
                   {% spaceless %}
                   {{ news.brief|markdown|hyper|recross|safe }}
                   <b><a href="/blog/{{ news.id }}">Read More</a></b>
                   {% endspaceless %}
                   ({% for tag in news.tags.all %}
                       <a href={% url 'entry-tag' tag.name %}>{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                   {% endfor %})
               </td>
               <td align="right" style="width: 150">
                   {% for image in news.images.all %}
                       {# {% url 'detail-entry' news.slug %} #}
                       <a href="/data/entry/{{ news.pk }}"><img src="{{ image.url }}" alt="{{ image.name }}" width="150" height="150"></a>
                   {% endfor %}
               </td>
           </td>
           </tr>
       </table>
       <hr>
   {% endfor %}

   {% if page.has_previous %}
       <a href="?page={{ page.previous_page_number }}">prev</a>
   {% endif %}

   | {{ page.number }} |

   {% if page.has_next %}
       <a href="?page={{ page.next_page_number }}">next</a>
   {% endif %}

    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
