{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

<div class="line" valign="botton" align="bottom">
    <span class="centre">
        <img src="http://dgallery.s3.amazonaws.com/longevity%20symbol.gif" alt="longevity-symbol">
    </span>
    <span class="right">
        <img src="http://dgallery.s3.amazonaws.com/bioharzard-laboratory.png" alt="lab" width="250" height="250">
    </span>
</div>
<h2>News</h2>
<hr>
{% for anews in news %}
    <table border="0" color="white" width="100%">
        <tr>
            <td valign="top">
                <a href="{{ anews.get_absolute_url }}"><h3>{{ anews.title }}</h3></a>

                <div class="news_meta">
                    <centre>{{ anews.created|date:"d | M"}}</centre>
                    {#{% if post.created != post.updated %}({{ post.updated|date:"d | M" }}){% endif %}#}
                </div>

                <div class="news_body">
                    {{ anews.brief|markdown|hyper|recross|safe }}<b><a href="{{ anews.get_absolute_url }}">Read more</a></b>
                </div>

                <div class="tags">
                    {% for tag in anews.tags.all %}
                        {% if tag != "news" %}
                            <a href={% url 'entry-tag' tag.slug %}>{{ tag }}</a>{% endif %}{% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td align="right" style="width: 150">
                {% for image in anews.images.all %}
                    <a href={% url 'detail-entry' anews.slug %}><img src={{ image.url }} alt={{ image.name }} width="150" height="150"></a>
                {% endfor %}
           </td>
        </tr>
    </table>
    <hr>
{% endfor %}


