{% load markup %}
{% load hyperlink %}
{% load crosslink %}

<h2>News</h2>
<hr>
{% for anews in news %}
    <table border="0" color="white">
        <tr>

            <td>
                <a href="{{ anews.get_absolute_url }}"><h3>{{ anews.title }}</h3></a>

                <div class="news_meta">
                    <centre>{{ anews.created|date:"d | M"}}</centre>
                    {#{% if post.created != post.updated %}({{ post.updated|date:"d | M" }}){% endif %}#}
                </div>

                <div class="news_body">
                    {{ anews.brief|markdown|hyper|recross|safe }}<b><a href="{{ anews.get_absolute_url }}">Read more</a></b>
                </div>

                <div class="tags">
                    {% for tag in anews.tags.all %}
                        {% if tag != "news" %}
                            <a href="/blog/tag/{{ tag }}">{{ tag }}</a>{% endif %}{% if not forloop.last %},
                        {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                {% for image in anews.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="100" height="100" />
                {% endfor %}
           </td>
        </tr>
    </table>
    <hr>
{% endfor %}


