# Temporary Files:
*.pyc
*~
*.save*
*.db
denigma.sql*
whoosh_index
memo # dynamic programming memory of the bibliography.
output* # article outputs.

# Access Keys:
ami.sh
*key.*

# Virtual Environments:
ev/
env/
envs/

# Machine-Specific Settings:
local_settings.py
configuration
