# Temporary Files:
*.pyc
*~
*.save*
*.db
denigma.sql*
whoosh_index
memo
output*
name=*
.idea/
*.pdf
denigma/documents/*.txt
denigma/documents/*.rst
denigma/documents/*.style

# Access Keys:
ami.sh
*key.*

# Virtual Environments:
ev/
env/
envs/
env14/

# Machine-Specific Settings:
local_settings.py
configuration

# Annotations:
discontinued.mrl
*ToId*
*IdTo*
*idTo*
