# Temporary Files:
*.pyc
*~
*.save*
*.db
denigma.sql*
whoosh_index
memo
output*

# Access Keys:
ami.sh
*key.*

# Virtual Environments:
ev/
env/
envs/
virtualenv.py

# Machine-Specific Settings:
local_settings.py
configuration
