{% extends "interactions/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > <a href="/interactions/">Index</a>
{% endblock hierarchy %}

{% block content %}
    <table width="100%">
        <tr>
            <td valign="top">
                {% if entry.text %}
                    {{ entry.content|markdown|hyper|recross|safe }}
                {% endif %}
            </td>
            <td valign="top" align="right" style="width: 250">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250">
                {% endfor %}
            </td>

        </tr>
    </table>
    <a href="/admin/interactions">Interaction tables</a>
    <hr>
    {% if user.is_superuser %}
        <br>
        <a href="{% url 'update-interactions' 'BioGRID' %}">BioGRID</a>
        <br>
        <a href="{% url 'interaction-integrator' %}">Integrator</a>
        <br>
    {% endif %}
    <center><img src="http://dgallery.s3.amazonaws.com/building.png" alt="building initialized ..." width=200 height=200></center>
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
