{% extends "interactions/base.html" %}

{% load render_table from django_tables2 %}

{% block head_title %}Interaction Table{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block hierarchy %}
    > Table
{% endblock %}

{% block title %}Interaction Table{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        {{ filter.form.as_p }}
        <input type="submit" value="Apply" />
        {{ filterset }}
    </form>
    {% render_table table %}
{% endblock %}