{% extends "wiki/base.html" %}

{% block hierarchy %}
<div class="line">
<span class="left">
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/wiki">Wiki</a> >
    Index
</span>
<span class="centre">
    Menu:   <a href="/wiki/page/Start">Start</a> |
            <a href="/wiki/page/SearchPage">Search</a> |
            <a href="/wiki/page/IndexPage">Index</a>
</span>
</div>
{% endblock %} 

{% block subtitle %}Index{% endblock %}

{% block content %}

<hr>
<h4>Terms:</h4>
{% for page in pages %}

<li><a href="/wiki/page/{{ page.name }}/">{{ page.name }}</a>{{ page.text }}</li>

{% endfor %}

<hr>
<h4>Tags:</h4>
{% for tag in tags %}
<li><a href="/wiki/tag/{{ tag.name }}/">{{ tag.name }}</a></li>
{% endfor %}
<hr>

{% endblock %}
