{% extends "wiki/base.html" %}

{% block hierarchy %}
<div class="line">
<span class="left">
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/wiki">Wiki</a> >
    Search
</span>
<span class="centre">
    Menu:   <a href="/wiki/page/Start">Start</a> |
            <a href="/wiki/page/SearchPage">Search</a> |
            <a href="/wiki/page/IndexPage">Index</a>
</span>
</div>
{% endblock %} 

{% block subtitle %}Search{% endblock %}

{% block content %}
<form method="post" action="">{% csrf_token %}
    {{ form }}
    <input type="submit" value-"Search"/>
</form>

{% if pages %}
<h3>Search result for page name:</h3>
<u1>
{% for page in pages %}
    <li><a href="/wiki/page/{{ page.name }}/">{{ page.name }}</a></li>
{% endfor %}
</u1>

{% else %}
{% if term %}
<h3>Page does not exist {{ term }}.</h3>
<a href="/wiki/page/{{ term }}/edit">Create?</a>
{% endif %}

{% endif %}
<p></p>

{% if contents %}
<h3>Search result for content:</h3>
<u1>
{% for page in contents %}
    <li><a href="/wiki/page/{{ page.name }}/">{{ page.name }}</a></li>
{% endfor %}
</u1>
{% endif %}
<p></p>

{% if tags %}
<h3>Search result for tags:</h3>
<u1>
{% for tag in tags %}
   <li><a href="/wiki/tag/{{ tag.name }}/">{{ tag.name }}</a></li>
{% endfor %}
</u1>
{% endif %}

{% endblock %}
