{% extends "wiki/base.html" %}

{% block hierarchy %}
<div class="line">
<span class="left">
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/wiki">Wiki</a> >
    Tag =
    {{ tag_name }}
</span>
<span class="centre">
    Menu:   <a href="/wiki/page/Start">Start</a> |
            <a href="/wiki/page/SearchPage">Search</a> |
            <a href="/wiki/page/IndexPage">Index</a>
</span>
</div>
{% endblock %} 

{% block title %}Pages tagged with {{tag_name}}{% endblock %}

{% block content %}
<h1>Pages tagged with {{tag_name}}</h1>
<ul>
{% for page in contents %}
    <li><a href="/wiki/page{{page.name}}/">{{page.name}}</a></li>
{% endfor %}
</ul>
{% endif %}

{% endblock %}
