{% extends "wiki/base.html" %}

{% block hierarchy %}
<div class="line">
<span class="left">
    <a href="/admin">{{ SITE_NAME }} db</a> >
    <a href="/wiki">Wiki</a> >
    Page =
    {{ page_name }} >
    View
</span>
<span class="centre">
    Menu:   <a href="/wiki/page/Start">Start</a> |
            <a href="/wiki/page/SearchPage">Search</a> |
            <a href="/wiki/page/IndexPage">Index</a>
</span>
</div>
{% endblock %} 

{% load wikilink %}

{% block subtitle %}{{ page_name }}{% endblock %}

{% block content %}
   {% load markup %}
    {% comment %}<h1>{{ page_name }}</h1>{% endcomment %}
     {{ content|wikify|markdown }}
    <hr/>
    <p>Tags: {% for tag in tags %}<a href="/wiki/tag/{{ tag.name }}/">{{ tag.name }}</a> {% endfor %}</p>
    <a href="/wiki/page/{{ page_name }}/edit/">Edit this page?</a>
{% endblock %}
