{% extends "wiki/base.html" %}

{% load wikilink %}
{% load markup %}

{% block hierarchy %}
    > <a href="/wiki">Wiki</a> >
    Page =
    {{ page_name }} >
    View
{% endblock hierarchy %} 

{% block subtitle %}{{ page_name }}{% endblock %}

{% block content %}
    {% comment %}<h1>{{ page_name }}</h1>{% endcomment %}
     {{ content|wikify|markdown|safe }}
    <hr/>
    <p>Tags: {% for tag in tags %}<a href="/wiki/tag/{{ tag.name }}/">{{ tag.name }}</a> {% endfor %}</p>
    <a href="/wiki/page/{{ page_name }}/edit/">Edit this page?</a>
{% endblock %}
