{% extends "shorty/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}{% comment %}Not used{% endcomment %}

{% block title %}{% trans "sURL" %}{% endblock %}

{% block subtitle %}{% trans "shortening URL" %}{% endblock %}

{% block content %}
<p>Shortens a URL and allows to get email alerts.</p>
<div class="shortenerForm">
  <form method="post" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="url">
      <label>{% trans "URL" %}</label>
      {{ form.url.errors }}
      <div class="input-box">
        {{ form.url }}
      </div>
    </div>
    <div class="email">
      <label>{% trans "E-mail Address" %}</label>
      {{ form.email.errors }}
      <div class="input-box">
        {{ form.email }}
      </div>
    </div>
    <div class="labels">
      <label>{% trans "Comma Separated Labels" %}</label>
      {{ form.labels.errors }}
      <div class="input-box">
        {{ form.labels }}
      </div>
    </div>
    <div class="submit">
      <span><input type="submit" value="{% trans 'Shorten' %}"/></span>
    </div>
  </form>
</div>
{% endblock %}
