{% extends "blog/base.html" %}

{% block hierarchy %}
<div class="line">
    <span class="left">
        <a href="/admin">{{ SITE_NAME }} db</a> >
        <a href="/blog/">Blog</a> >
        <a href="/blog/archive">Archive</a>

   </span>
   <span class="centre">
       Menu:
       <a href="/blog/">Posts</a> |
       <a href="/blog/archive">Archive</a>

   </span>
</div>
{% endblock %} 

{% block subtitle %}Archive{% endblock %}

{% block content %}
    <table>
        <tr>
        <td><b>Created</b></td>
        <td><b>Title</b></td>
        <td><b>(Updated)</b></td>
        </tr>
        {% for post in object_list %}
             <tr>
             <td>{{ post.created|date:"Y-m-d" }}:</td>
             <td><a href="/blog/{{ post.id }}">{{ post.title }}</a></td>
             <td>({{ post.updated|date:"Y-m-d" }})</td>
             </tr>
        {% endfor %}
     </table>
{% endblock %}
