{% extends "blog/base.html" %}

{% load markup %}

{% block hierarchy %}
        <a href="/admin">{{ SITE_NAME }} db</a> >
        <a href="/blog">Blog</a> >
        <a href="/blog">Articles</a>
{% endblock %}

{% block subtitle %}Articles{% endblock %}

{% block content %}

{% for article in object_list %}

<table border="0" color="white">
<tr>
<td>

<h3><a href="/blog/{{article.id}}">{{ article.title }}</a></h3>

<div class="post_meta">
 created on {{ article.created }}
 updated on {{ article.updated }}
</div>

<div class="post_body">
  {{ article.text|restructuredtext|markdown|safe}} {% comment %}|linebreaks }}# markdown already does linebreaks{% endcomment %}
</div>

<div class="tags">
  {% for tag in article.tags.all %}
  <a href="/blog/tag/{{tag}}">{{tag}}</a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</div>
</td>

<td>
{% for image in article.images.all %}
<img src={{ image.url }} width="150" height="150" alt={{ images.name }} /></td>
{% endfor %}
</td>
</tr>
</table>
{% endfor %}
{% endblock %}



