{% extends "blog/base.html" %}


{% block head_title %}Edit Post{% endblock %}

{% block hierarchy %}
    » <a href="/blog/">Blog</a>
    » Post
    » Edit
{% endblock %}

{% block title %}Edit Post{% endblock %}

{% block content %}
    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        {% if not user.is_authenticated %}

        {% endif %}
        <button>Submit</button>

    </form>

{% endblock %}

