{% load markup %}
{% load hyperlink %}
{% load crosslink %}

<h2 xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">News</h2>
<hr>
{% for post in posts %}
    <table border="0" color="white">
        <tr>

            <td>
                <h3>{{ post.title }}</h3>

                <div class="post_meta">
                    <centre>{{ post.created|date:"d | M"}}</centre>
                    {#{% if post.created != post.updated %}({{ post.updated|date:"d | M" }}){% endif %}#}
                </div>

                <div class="post_body">
                    {{ post.brief|markdown|hyper|recross|safe }}<b><a href="/blog/{{ post.id }}">Read more</a></b>
                </div>

                <div class="tags">
                    {% for tag in post.tags.all %}
                        {% if tag != "news" %}
                            <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
                        {% endif %}
                    {% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </td>
            <td>
                {% for image in post.images.all %}
                    <img src={{ image.url }} width="100" height="100" alt={{ image.name }} />
                {% endfor %}
           </td>
        </tr>
    </table>
    <hr>
{% endfor %}


