{% extends "blog/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > <a href="/blog">Blog</a> >
    <a href="/blog">Posts</a> >
    <a href="/blog/{{ post.id }}">{{ post.title }}</a>
{% endblock hierarchy %}

{% block subtitle %}News{% endblock %}

{% block content %}

<h3><a href="/blog/{{ post.id }}">{{ post.title }}</a></h3>

<div class="post_meta">
 created on {{ post.created }}
 modified on {{ post.updated }}
</div>

<div class="post_body">
  {{ post.text|markdown|hyper|recross|safe }}
</div>

<div class="tags">
  {% for tag in post.tags.all %}
      <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</div>

<div class="images">
   {% for image in post.images.all %}
      <img src={{ image.url }} alt={{ image.name }}/>
   
   {% endfor %}
</div>

{% endblock %}
