{% load url from future %}
{% load i18n %}
{% load track_tags %}
{% load url from future %}

<div class="line">
    <span class="left">
              <div class="legal">
        <a href="http://genomics.senescence.info/"><img src="http://dgallery.s3.amazonaws.com/hagr_logo.png" alt="HAGR" width="400" height="200"></a>
                  </div>
    </span>
    <span class="centre">
        <centre>
             <a href="#">Back to top</a>
        </centre>
    </span>
</div>
<hr/>
<div class="line">
    <span class="left">

        <div class="legal">
            <p>
                Developed by the
                <a href="http://denigma.de/experts/collaboration/27"><b>GCI</b></a>
                in the name of the <a href="{% url 'alliance-home' %}"><b>ILA</b></a> {# #'detail-entry' 'international-longevity-alliance' #}
                {#  Best regards, <a href="http://www.denigma.de/experts/profile/Daniel_Wuttke/">Daniel Wuttke</a> #} {# http://openwetware.org/wiki/User:Daniel_A._Wuttke #}
            </p>

        </div>
    </span>
    <span class="centre">
       <a href="/contact/">Contact</a>
        | <a href="/time/">Time</a>
        | <a href="/about/">About</a>
        | <a href="/sitemap.xml">Sitemap</a>
        | <a href="{% url 'donation-index' %}">Donate</a>
        {% if user.is_superuser %}
            | <a href="/meta/">Meta</a>
            | <a href="/eva/">EVA</a>
        {% endif %}
        <img src="http://dgallery.s3.amazonaws.com/loading.gif" alt="loading">
    </span>
    <span class="right">
        <a href="http://github.com/denigma/"
            class="githubbadge" title="Denigma Source!">
            <img src="http://dgallery.s3.amazonaws.com/github-logo-grey.png" alt="GitHub" width="30" height="30">
        </a>
        <a href="http://djangopony.com/"
           class="ponybadge" title="Magic! Ponies! Django! Whee!">
           <img src="http://media.djangopony.com/img/small/badge.png" width="120" height="50" alt="pony powered"> {# width="210" height="65" #}
        </a>
    </span>
    {% visitors_on_site as visitors %}
    <p>
        {{ visitors }} active user{{ visitor|pluralize }}
    </p>
    {%  visitors_on_page as same_page %}
    <p>
        {{ same_page }} of {{ visitors }} active user{{ visitor|pluralize }}
        {{ same_page|pluralize:"is,are" }} reading this page
    </p>
</div>




