{% load i18n %}
<div class="line" xmlns="http://www.w3.org/1999/html">
    <hr/>
    <span class="left">
        <div class="legal">
              Best regards, <a href="http://openwetware.org/wiki/User:Daniel_A._Wuttke">Daniel Wuttke</a>
        </div>
    </span>
    <span class="centre">
       <a href="/contact/">Contact</a> | <a href="/time/">Time</a> | <a href="/about/">About</a> | <a href="/sitemap.xml">Sitemap</a>
        {% if user.is_superuser %}
            | <a href="/meta/">Meta</a>
            | <a href="/eva/">EVA</a>
        {% endif %}
    </span>
    <span class="right">
        <a href="http://github.com/hevok/denigma/"
            class=githubbadge" title="Denigma Source!">
            <img src="http://dgallery.s3.amazonaws.com/github-logo-grey.png" alt="GitHub" width="30" height="30">
        </a>
        <a href="http://djangopony.com/"
           class="ponybbadge" title="Magic! Ponies! Django! Whee!">
           <img src="http://media.djangopony.com/img/small/badge.png" width="120" height="50" alt="pony powered"> {# width="210" height="65" #}
        </a>
    </span>
</div>




