{% extends "site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit well">
            {% block banner %}
                <h1>Denigma</h1>
                <p>The Digital Denigma to decipher life.</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            {% endblock %}
        </div>

	    {% include "news/list.html" %}
        <h4><a href="{% url 'news' %}">All News</a></h4>
        <hr>

        <div class="hero-unit well">
             <h2>{{ dashboard.title }}</2>
            <p>{{ dashboard.text|markdown|hyper|recross|safe }}</p>
        </div>
        <hr>

        <h2>The Three Aspects of Denigma</h2>
        <br>
        <div class="row">
            <div class="span4">
            {% block column-1 %}
                <h3>{{ research.title }}</h3>
                <p>{{ research.text|markdown|hyper|recross|safe }}</p>
                <p><a class="btn" href="/about/matrix/I/">Become a Scientist &raquo;</a></p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-2 %}
                <h3>{{ programming.title }}</h3>
                <p>{{ programming.text|markdown|hyper|recross|safe }}<p>
                <p><a class="btn" href="/about/matrix/II/">Become a Developer &raquo;</a></p>
            {% endblock %}
            </div>
            <div class="span4">
            {% block column-3 %}
                <h3>{{ design.title }}</h3>
                <p>{{ design.text|markdown|hyper|recross|safe }}</p>
                <p><a class="btn" href="/about/matrix/III/">Become an Artist &raquo;</a></p>
            {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
