{% extends "site_base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Content{% endblock %}

{% block hierarchy %}
    > Content
{% endblock hierarchy %}

{% block options %}
    <a href={% url 'data' %}>Data</a>
    | <a href={% url 'blog' %}>Blog</a>
    | <a href={% url 'wiki' %}>Wiki</a>
{% endblock %}

{% block title %}Content{% endblock %}

{% block content %}
    {% for content in contents %}
        <table>
            <tr>
                <td valign="top">
                    {% if content.title and content.title != "Content" %}
                        <h3><a href="{{ content.get_absolute_url }}">{{ content.title }}</a></h3>
                    {% endif %}
                    {{ content.content|markdown|hyper|recross|safe }}
                </td>
                <td valign="top">
                    {% for image in content.images.all %}
                        <img src="{{ image.url }}" alt="{{ image.name }}" width="200" height="200" />
                    {% endfor%}
                </td>
            </tr>
        </table>
        <hr>
    {% endfor %}

{% endblock %}