{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "The Digital Enigma" %}</h1>
    <p>
        {% blocktrans %}
        <b>Denigma</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for deciphering life.
        By integrating all the heterogenous types of biological data and 
        applying a robust unification schema as well as utilizing the 
        increasing computational power, it will be possible to solve 
        biological problems such aging, diseases and suffering.
        {% endblocktrans %}
    </p>
    
    <h2>Rationality</h2>
    <p>
        {% blocktrans %}
        This is a open source project providing a platform for both life and computer scientists
        in order to address the fundemental questions of life and to systematically reveal its secrets.
        Denigma particulary encourages data evolution.
        Nothing is perfect from the begin, besides the concept of Denigma.
        Denigma is as strong as diamond and as flexible as carbon-fiber, 
        but in its very heart its all silicon
        {% endblocktrans %}
    </p>
    
   {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the database.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary btn-large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}
{% endblock %}






