{% extends "banner_base.html" %}

{% load i18n %}
{% load ifsetting_tag %}

{% block head_title %}{% trans "The Digital Enigma" %}{% endblock %}

{% block body_class %}Home{% endblock %}

{% block banner %}
{# <img src="http://dgallery.s3.amazonaws.com/denigma_pos.png" alt="Denigma"></td> #}
    <table><tr><td>
    <p>
        {% blocktrans %}
        <b>Denigma</b> is a <a href="http://djangoproject.com/">Django</a>
        project intended to provide a starting point for deciphering life.
        By integrating all the heterogenous types of biological data and 
        applying a robust unification schema as well as utilizing the 
        increasingly computational power, it will be possible to solve 
        biological problems such aging, diseases and suffering due to 
        other reasons.
        {% endblocktrans %}
    </p>
    <p>
        {% blocktrans %}
        This is an open source project providing a platform for both life and computer scientists
        as well as artists in order to address the fundamental questions of life and to systematically
        reveal its secrets. Denigma particulary encourages data evolution.
        Nothing is perfect from the beginning, besides the concept of Denigma.
        Denigma is as strong as diamond and as flexible as carbon-fiber, 
        but in its very heart its all silicon.
        {% endblocktrans %}
    </p>
    </td>
    <td><center><h1><img src="http://dgallery.s3.amazonaws.com/denigma_pos.png" alt="Denigma - The Digital Enigma" height="500" width="500"></h1></td>
    
    </tr></table>
    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url acct_login as login_url %}
        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
            {% url acct_signup as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to participate in the digital revolution.{% endblocktrans %}</p>
        {% else %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-primary btn-large">Log In</a> to try out the site.{% endblocktrans %}</p>
        {% endifsetting %}
    {% endif %}

{% endblock %}






