{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title>

    Longevity DB

</title>

<!-- Bootstrap core CSS -->
<link href="{% static 'bootstrap-3.0.2/dist/css/bootstrap.min.css' %}" rel="stylesheet">

<!-- Documentation extras -->
<link href="{% static 'bootstrap-3.0.2/docs-assets/css/docs.css' %}" rel="stylesheet">
<link href="{% static 'bootstrap-3.0.2/docs-assets/css/pygments-manni.css' %}" rel="stylesheet">
<!--[if lt IE 9]><script src="./docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/bootstrap-3.0.2/docs-assets/ico/apple-touch-icon-144-precomposed.png">
                               <link rel="shortcut icon" href="../static/bootstrap-3.0.2/docs-assets/ico/favicon.png">

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-146052-10']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

  </head>
  <body class="bs-docs-home">
    <a class="sr-only" href="#content">Skip to main content</a>

    <!-- Docs master nav -->
    <header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="http://denigma.de/lifespan/" class="navbar-brand">Longevity DB</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="http://denigma.de/announcements/announcement/14/">Annoncement</a>
        </li>
        <li>
          <a href="http://denigma.de/lifespan/variants/">Database</a>
        </li>
        <li>
          <a href="http://denigma.de/data/entry/Longevity-Variant-Database">Manuscript</a>
        </li>
        <li>
          <a href="http://denigma.de/data/entry/Longevity-SNPs">Review</a>
        </li>
        <li>
          <a href="http://denigma.de/data/entry/longevity-variant-database-logo">Logo Contest</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="http://denigma.de/about">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>


    <!-- Page content of course! -->
    <main class="bs-masthead" id="content" role="main">
  <div class="container">
    <h1>Longevity DB</h1>
         <p class="lead">Genetic variants implicated in human longevity. Longevity DB is currently under construction.</p>
    <p>
      <a href="http://denigma.de" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.2']);">Go to Denigma</a>
      <a href="http://github.com/denigma" class="btn btn-outline-inverse btn-lg" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Download', 'Download 3.0.2']);">Download source</a>
    </p>
  </div>
</main>


    <footer class="container" role="contentinfo">
      <div id="carbonads-container"><div class="carbonad"><div id="azcarbon"></div><script>var z = document.createElement("script"); z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>


<div class="bs-social">
  <ul class="bs-social-buttons">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=denigma&amp;repo=denigma&amp;type=watch&amp;count=true" width="100" height="20" title="Star on GitHub"></iframe>

    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=denigma&amp;repo=denigma&amp;type=fork&amp;count=true" width="102" height="20" title="Fork on GitHub"></iframe>

    </li>
    <li class="follow-btn">
      <a href="https://twitter.com/DenigmaDestiny" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @DenigmaDestiny</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://denigma.de/" data-count="horizontal" data-via="denigma" data-related="mdo:Creator of Denigma">Code</a>
    </li>
  </ul>
</div>


      <ul class="bs-masthead-links">

       <li class="current-version">
          Currently v1.2.3
        </li>
        <li>
          <a href="https://github.com/denigma/denigma/blob/master/docs/main.rst">Denigma 1.2.3 docs</a>
        </li>
        <li>
          <a href="https://github.com/denigma/denigma" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'GitHub project']);">GitHub project</a>
        </li>
        <li>
          <a href="http://denigma.de/tutorials" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Examples']);">Tutorials</a>
        </li>
        <li>
          <a href="http://denigma.de/data" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Expo']);">Data</a>
        </li>
        <li>
          <a href="http://denigma.de/blog" onclick="_gaq.push(['_trackEvent', 'Jumbotron actions', 'Jumbotron links', 'Blog']);">Blog</a>
        </li>
      </ul>
    </footer>

    <!-- JS and analytics only. -->
    <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="{% static 'bootstrap-3.0.2/dist/js/bootstrap.js' %}"></script>

<script src="http://platform.twitter.com/widgets.js"></script>
<script src="{% static 'bootstrap-3.0.2/docs-assets/js/holder.js' %}"></script>

<script src="{% static 'bootstrap-3.0.2/docs-assets/js/application.js' %}"></script>

<!-- Analytics
================================================== -->
<script>
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>


  </body>
</html>


