{% extends "site_base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ entry.title }}{% endblock %}

{% block hierarchy %}
    > Repository
{% endblock %}

{% block options %}
    <a href="{% url 'create-entry' %}">Submit</a>
    | <a href="/search/">Search</a>
    | <a href="{% url 'detail-entry' 'site-structure' %}">Site</a>
{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <table xmlns="http://www.w3.org/1999/html">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
                <hr>
                <div class="btn-group">
                    <a href="{% url 'create-entry' %}" class="btn btn-primary btn-large">Submit</a>
                    <a href="/search/" class="btn btn-secondary btn-large">Search</a>
                    <a href="{% url 'detail-entry' 'site-structure' %}" class="btn btn-danger btn-large">Site</a>
                </div>
                <h4>Data Entry | Database | Structure</h4>
            </td>
            <td style="width: 400px">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="400" height="400">
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}