{% extends "site_base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ entry.title }}{% endblock %}

{% block hierarchy %}
    » Repository
{% endblock %}

{% block options %}
    <a href="{% url 'create-entry' %}">Submit</a>
    | <a href="/annotations/">Annotations</a>
    | <a href="/interactions/">Interactions</a>
    | <a href="/expressions/">Expressions</a>
    | <a href="/datasets/">Datasets</a>
    | <a href="/lifespan/">Lifespan</a>
    | <a href="{% url 'detail-entry' 'site-structure' %}">Site</a>
{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
                <hr>
                <div class="btn-group">
                    <a href="{% url 'create-entry' %}" class="btn btn-primary btn-large">Submit</a>
                    <a href="/search/" class="btn btn-secondary btn-large">Search</a>
                    <a href="{% url 'detail-entry' 'site-structure' %}" class="btn btn-danger btn-large">Site</a>
                    <a href='/about/what_next/' class="btn btn-warning btn-large">What's next</a>
                </div>
                <h4>Data Entry | Database | Layout | About Denigma</h4>
    <a href="http://genomics.senescence.info/"><img src="http://dgallery.s3.amazonaws.com/hagr_logo.png" alt="HAGR" width="800" height="400"></a>

            </td>
            <td style="width: 400px">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="400" height="400">
                {% endfor %}
            </td>
        </tr>
    </table>

    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}