{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
    <ul class="nav" xmlns="http://www.w3.org/1999/html">
		{% comment %}<td class="tab rtba_pastbin"><div><a href="{% url pastebin_new %}">{% trans "PasteBin" %}</a></div></td> {% endcomment %}
		<li id="tab_nav"> <a href="/polls">Polls</a> </li>
		<li id="tab_nav"> <a href="/wiki/page/Start/">Wiki</a> </li>
                <li id="tab_nav"> <a href="/blog/">Blog</a> </li>
                <li id="tab_nav"> <a href="/shorty">URLs</a> </li>
		<li id="tab_nav"> <a href="/gallery/">Gallery</a> </li>
                <li id="tab nav"> <a href="/tutorials/">Tutorials</a> </li>
                <li id="tab nav">
                <form class="navbar_search" action="/search/"> {% comment %} Replace this with haystack/Whoosh {% endcomment %}
                     <input type="hidden" name="models" value="blog.post">
                     <input type="text" class="search-query span1" name="q" placeholder="Search" value="">
                </form></li>

 		{% if user.is_authenticated %}{% spaceless %}
			<li id="tab_space"> __ </li>
			<li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
			<li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
			<li id="tab_todo"> <a href="/todos/">Todo</a> </li>
		        <li id="tab_msg"> <a href="/pastebin/">Messaging</a> </li>
                        <li id="tab_msg"> <a href="/articles/">Articles</a> </li>

             {# Simple hover drowdown menu: #}
             <style>
                 ul.nav li.dropdown:hover ul.dropdown-menu{
                     display: block;
                     margin: 0;
                 }
             </style>

             <li id="tab_third" class="dropdown">
                 <a href="/aspects/" class="dropdown-toggle" data-toggle="dropdown">
                     Aspects
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><h3><a href="/aspects/"><i class="icon-align-center"></i> Facets</a></h3></li>
                     <li><a href="/aspects/research/"><i class="icon-chevron-up"></i> Research</a></li>
                     <li><a href="/aspects/programming/"><i class="icon-cog"></i> Programming</a></li>
                     <li><a href="/aspects/design"><i class="icon-picture"></i> Design</a></li>
                     <li class="divider"</li>
                     <li><b><h3><a href="/aspects/professions/"><i class="icon-eye-close"></i> Professions</a></h3></b></li>
                     <li><a href="/aspects/profession/scientist/"><i class="icon-star-empty"></i> Scientist</a></li>
                     <li><a href="/aspects/profession/developer/"><i class="icon-download"></i> Developer</a></li>
                     <li><a href="/aspects/profession/artist/"><i class="icon-camera"></i> Artist</a></li>
                     <li class="divider"</li>
                     <li><h3><a href=/aspects/achievements/"><i class="icon-signal"></i> Achievements</h3></li>
                     <li><a href="/aspects/research/ranks/"><i class="icon-eject"></i> Ranks</a></li>
                     <li><a href="/aspects/programming/grades/"><i class="icon-pencil"></i>Grades</a></li>
                     <li><a href="/aspects/design/title/"><i class="icon-plus-sign"></i> Titles</a></li>
                 </ul>
             </li>
        		{% endspaceless %}</ul>
		{% endif %}

    {% comment %}

                 <li id="tab_third" class="dropdown">
                 <a href="/aspects/" class="dropdown-toggle" data-toggle="dropdown">
                     Aspects
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a href="/aspects/research/">Research</a></li>
                     <li><a href="/aspects/programming/">Programming</a></li>
                     <li><a href="/aspects/design">Design</a></li>
                     <li class="divider"</li>
                     <li><b><h3><a href="/aspects/professions/">Professions</a></h3></b></li>
                     <li><a href="/aspects/profession/scientist/">Scientist</a></li>
                     <li><a href="/aspects/profession/developer/">Developer</a></li>
                     <li><a href="/aspects/profession/artist/">Artist</a></li>
                 </ul>
             </li>

                     <li><a href="/aspects/research/">Research/Scientist</a></li>
                     <li><a href="/aspects/programming/">Programming/Developer</a></li>
                     <li><a href="/aspects/design">Design/Artist</a></li>
                     {%  endcomment %}


<style>body { overflow:scroll; }</style> {# This adds a scrollbar to all pages and prevents jumping of the header by switching #}

{% comment %}
<style>
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin-top: 0px;
}
</style>

<div style="z-index: 5;" class="topbar-wrapper">

      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Project Name</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
          <form action="" class="pull-left">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>

{% endcomment %}


{% endblock %}

{% comment %} A menu right below the navigation.
{% block menu %}
   <a href="/polls">Polls</a> |
   <a href="/shorty">URL</a> |
   <a href="/wiki/page/Start/">Wiki</a> |
   <a href="/gallery/">Gallery</a> |
   <a href="/meta">Meta</a> |
   <a href="/blog/">Blog</a> |
   <a href="/contact/">Contact</a> |
   <a href="/todos/">Todo</a> |
   <a href="/experts/">Experts</a> |
   <a href="/time/">Time</a> |
{% endblock %}
{% endcomment %}

{% block footer %}
    {% include "_footer.html" %}
    <center>
    <a href="/contact/">Contact</a> | <a href="/time/">Time</a> | <a href="/about/">About</a> | <a href="/sitemap.xml">Sitemap</a>
    {% if user.is_superuser %}
        | <a href="/meta/">Meta</a>
    </center>
    {% endif %}

{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
