{% extends "theme_base.html" %}

{% load url from future %}
{% load metron_tags %}
{% load i18n %}

{% block nav %}

    {# Simple hover drowdown menu: #}
    <style xmlns="http://www.w3.org/1999/html">
        ul.nav li.dropdown:hover ul.dropdown-menu{
            display: block;
            margin: 0;
        }
    </style>

    <style>
        .dropdown-menu .sub-menu {
            left: 100%;
            position: absolute;
            top: 0;
            visibility: hidden;
            margin-top: -1px;
        }
        .dropdown-menu li:hover .sub-menu {
            visibility: visible;
            display: block;
        }
        .navbar .sub-menu:before {
            border-bottom: 7px solid transparent;
            border-left: none;
            border-right: 7px solid rgba(0, 0, 0, 0.2);
            border-top: 7px solid transparent;
            left: -7px;
            top: 10px;
        }
        .navbar .sub-menu:after {
            border-top: 6px solid transparent;
            border-left: none;
            border-right: none;
            border-bottom: 6px solid transparent;
            left: 10px;
            top: 11px;
            left: -6px;
        }
    </style>

    <ul class="nav">

        {# About #}
        <li id="tab_nav" class="dropdown">
            <a href="{% url 'about' %}" class="dropdown-toggle" data-toggle="dropdown">
                About
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'detail-entry' 'objective' %}">Objective</a></li>
                <li><a href="{% url 'detail-entry' 'the-purpose-of-denigma' %}">Purpose</a></li>
                <li><a href="{% url 'detail-entry' 'denigma-concepts' %}">Concepts</a></li>
                <li><a href="{% url 'detail-entry' 'philosophy'%}">Philosophy</a></li>
                <li><a href="{% url 'detail-entry' 'international-longevity-alliance' %}">ILA</a></li> {# International Longevity Alliance #}
                <li><a href="{% url 'collaboration' '27' %}">GCI</a></li> {# Global Computing Initiative #}
                <li><a href="{% url 'what_next' %}">What Next?</a></li>
                <li><a href="{% url 'matrix' %}">Matrix</a></li>
                <li><a href="{% url 'terms' %}">Terms</a></li>
                <li><a href="{% url 'privacy' %}">Privacy</a></li>
            </ul>
        </li>

        {# Aspects #}
        <li id="tab_third" class="dropdown">
            <a href="/aspects/" class="dropdown-toggle" data-toggle="dropdown">
                Aspects
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><h3><a href="/aspects/"><i class="icon-align-center"></i> Facets</a></h3></li>
                <li><a href="/aspects/research/"><i class="icon-chevron-up"></i> Research</a></li>
                <li><a href="/aspects/programming/"><i class="icon-cog"></i> Programming</a></li>
                <li><a href="/aspects/design"><i class="icon-picture"></i> Design</a></li>
                <li class="divider"></li>
                <li><b><h3><a href="/aspects/professions/"><i class="icon-eye-close"></i> Professions</a></h3></b></li>
                <li><a href="/aspects/profession/scientist/"><i class="icon-star-empty"></i> Scientist</a></li>
                <li><a href="/aspects/profession/developer/"><i class="icon-download"></i> Developer</a></li>
                <li><a href="/aspects/profession/artist/"><i class="icon-camera"></i> Artist</a></li>
                <li class="divider"></li>
                <li><h3><a href="/aspects/achievements/"><i class="icon-signal"></i> Achievements</a></h3></li>
                <li><a href="/aspects/research/ranks/"><i class="icon-eject"></i> Ranks</a></li>
                <li><a href="/aspects/programming/grades/"><i class="icon-pencil"></i>Grades</a></li>
                <li><a href="/aspects/design/titles/"><i class="icon-plus-sign"></i> Titles</a></li>
            </ul>

		{% comment %}<td class="tab rtba_pastbin"><div><a href="{% url pastebin_new %}">{% trans "PasteBin" %}</a></div></td> {% endcomment %}


		{# <li id="tab_nav"> <a href="/wiki/page/Start/">Wiki</a> </li> #}
                {#  <li id="tab_nav"> <a href="/blog/">Data/</a> </li> #}

        {# Content #}
        <li id="tab=third" class="dropdown">
            <a href="/content/" class="dropdown-toggle" data-toogle="dropdown">
                Content
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li> <a href="/data/"><i class="icon-folder-close"></i> Data/Entries/Relations <i class="icon-random"></i></a></li> {##}
                <li> <a href="/blog/"><i class="icon-bold"></i> Blog/Posts/Comments <i class="icon-comment"></i></a></li> {##}
                <li> <a href="/wiki/"><i class="icon-question-sign"></i> Wiki/Pages/Tags <i class="icon-tags"></i></a></li> {#icon-globe#}
                <li> <a href="/articles/"><i class="icon-book"></i> Articles (Reports/Reviews)</a></li>
                <li><a href="{% url 'ontology' %}"><i class="icon-qrcode"></i> Ontology</a></li>
            </ul>
        </li>
        <li id="tab_nav"> <a href="/links/">Links</a> </li>{# URLs #}
        <li id="tab_nav"> <a href="/gallery/">Media</a> </li> {# Gallery #}
        {#  <li id="tab_nav"> <a href="/polls">Polls</a> </li>#}
        <li id="tab_third" class="dropdown">
            <a href="{% url 'polls' %}" class="dropdown-toggle" data-toogle="dropdown">
                Polls{# Surveys #}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                {#  <li><a href="{% url 'polls'  %}">Polls</a></li>#}
                <li><a href="{% url 'questionnaires' %}">Questionnaires</a></li>
            </ul>
        <li id="tab nav"> <a href="/tutorials/">Tutorials</a> </li>

        <li id="tab nav">
            <form class="navbar-search" action="/search/"> {% comment %} Replace this with haystack/Whoosh {% endcomment %}
                 <input type="hidden" name="models" value="data.entry">
                 <input type="text" class="search-query span1" name="q" placeholder="Search" value="">
            </form>
        </li>
        <li class="dropdown">
            <a href="{% url 'repository' %}" data-toggle="dropdown" class="dropdown-toggle">Repository<b class="Caret"></b></a>
            <ul class="dropdown-menu" id="menu1">{# <i class="icon-arrow-right"></i>#}
                <li><a href="{% url 'annotations' %}">Annotations</a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a href="{% url 'classifications' %}">Classifications</a></li>
                        <li><a href="{% url 'tissues' %}">Tissues</a></li>
                        <li><a href="{% url 'species' %}">Species</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'interactions' %}">Interactions</a>
                    {% comment %}
                    <ul class="dropdown-menu sub-menu">
                        <li><a href="/interactions/table/">Table</a></li>
                    </ul>
                    {% endcomment %}
                </li>
                <li><a href="{% url 'expressions' %}">Expressions</a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a href="{% url 'profiles' %}">Profiles</a></li>
                        <li><a href="{% url 'signatures' %}">Signatures</a></li>
                        <li><a href="{% url 'intersections' %}">Intersections</a></li>
                        <li><a href="{% url 'sets' %}">Sets</a></li>
                        <li><a href="{% url 'meta' %}">Meta</a></li>
                    </ul>

                </li>
                <li><a href="{% url 'datasets' %}">Datasets</a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a href="/datasets/reference/create">Create</a></li>
                        <li><a href="{% url 'references' %}">References</a>
                        <li><a href="/datasets/references/archive">Archive</a></li>
                        <li><a href="datasets/changes">Changes</a>
                    </ul>
                </li>
                <li><a href="{% url 'lifespan' %}">Lifespan</a>
                    <ul class="dropdown-menu sub-menu">
                        <li><a href="/lifespan/studies/">Studies</a></li>
                        <li><a href="/lifespan/experiments/">Experiments</a></li>
                        <li><a href="/lifespan/measurements/">Measurements</a></li>
                        <li><a href="/lifespan/comparisons/">Comparisons</a></li>
                        <li><a href="/lifespan/interventions/">Interventions</a></li>
                        <li><a href="/lifespan/factors/">Factors</a></li>
                        <ul class="dropdown-menu sub-menu">
                            <li><a href="/lifespan/assays/">Assays</a></li>
                            <li><a href="/lifespan/strains/">Strains</a></li>
                            <li><a href="/lifespan/regimens/">Regimens</a></li>
                            <li><a href="/lifespan/manipulations/">Manipulations</a></li>
                            <li><a href="/lifespan/epistases/">Epistases</a></li>
                        </ul>

                    </ul>
                </li>
            </ul>
        </li>

        <li id="tab_third" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toogle="dropdown">
                Com
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'pastebin' %}">Messaging</a></li>
                <li><a href="{%  url 'announcements_list' %}">Announcements</a></li>
                <li><a href="http://www.denigma.org/chat/">Chat</a></li> {# {% url 'chat_chat' %}">Chat</a></li> #}
                {# <li><a href="{% url 'channel' %}">Videochat Channel</a></li>  #}
            </ul>
        </li>
 		{% if user.is_authenticated %}{% spaceless %}

             <li id="tab_notices"><a href="{% url 'notification_notices' %}">{% trans "Notices" %}{% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
             <li id="tab_third" class="dropdown">  {# Duties: Tasks, Todos and Quests #}
                <a href="{% url 'duties' %}" class="dropdown-toggle" data-toogle="dropdown">
                    Duties
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'tasks'  %}">Tasks</a></li>
                    <li><a href="{% url 'todos' %}">Todos</a></li>
                    <li><a href="{% url 'quests' %}">Quests</a></li>
                </ul>
             </li>
             <li id="tab_profile"><a href="{% url 'profile_detail' user.username %}">{% trans "Profile" %}</a></li>
             </li>
             <li id="tab_experts" class="dropdown">  {# Duties: Tasks, Todos and Quests #}
                 <a href="{% url 'experts' %}" class="dropdown-toggle" data-toogle="dropdown">
                     Experts
                     <b class="caret"></b>
                 </a>
                 <ul class="dropdown-menu">
                     <li><a href="{% url 'experts-profiles' %}">Profiles</a></li>
                     <li><a href="{% url 'collaborations' %}">Collaborations</a></li>
                 </ul>
             </li>
        		{% endspaceless %}</ul>
        {% else %}
             <li id="tab nav"> <a href="{% url 'donation-index' %}">Donate</a> </li>
		{% endif %}

<style>body { overflow:scroll; }</style> {# This adds a scrollbar to all pages and prevents jumping of the header by switching #}

{% comment %}
<style>
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
    margin-top: 0px;
}
</style>

<div style="z-index: 5;" class="topbar-wrapper">

      <div class="topbar-inner">
        <div class="container">
          <h3><a href="#">Project Name</a></h3>
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
          <form action="" class="pull-left">
            <input type="text" placeholder="Search">
          </form>
          <ul class="nav secondary-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" href="#">Dropdown</a>
              <ul class="dropdown-menu">
                <li><a href="#">Secondary link</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Another link</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div><!-- /topbar-inner -->
    </div><!-- /topbar -->
  </div>

{% endcomment %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
