{% extends "theme_base.html" %}

{% load metron_tags %}
{% load i18n %}

{% block nav %}
	<ul class="nav">
		{% comment %}<td class="tab rtba_pastbin"><div><a href="{% url pastebin_new %}">{% trans "PasteBin" %}</a></div></td> {% endcomment %}
		<li id="tab_nav"> <a href="/polls">Polls</a> </li>
		<li id="tab_nav"> <a href="/wiki/page/Start/">Wiki</a> </li>
                <li id="tab_nav"> <a href="/experts/">Experts</a> </li>
                <li id="tab_nav"> <a href="/blog/">News</a> </li>
                <li id="tab_nav"> <a href="/shorty">sURL</a> </li>
		<li id="tab_nav"> <a href="/gallery/">Gallery</a> </li>
 		{% if user.is_authenticated %}{% spaceless %}
			<li id="tab_space"> ____ </li>
			<li id="tab_profile"><a href="{% url profile_detail user.username %}">{% trans "Profile" %}</a></li>
			<li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}{% if notice_unseen_count %}({{ notice_unseen_count }}){% endif %}</a></li>
			<li id="tab_todo"> <a href="/todos/">Todo</a> </li>
		        <li id="tab_msg"> <a href="/pastebin/">Messaging</a> </li>
        		{% endspaceless %}</ul>
		{% endif %}  

<style>body { overflow:scroll; }</style> {% comment %} This adds a scrollbar to all pages and prevents jumping of the header by switching {% endcomment %}

{% endblock %}

{% comment %} A menu right below the navigation.
{% block menu %}
   <a href="/polls">Polls</a> |
   <a href="/shorty">URL</a> |
   <a href="/wiki/page/Start/">Wiki</a> |
   <a href="/gallery/">Gallery</a> |
   <a href="/meta">Meta</a> |
   <a href="/blog/">Blog</a> |
   <a href="/contact/">Contact</a> |
   <a href="/todos/">Todo</a> |
   <a href="/experts/">Experts</a> |
   <a href="/time/">Time</a> |
{% endblock %}
{% endcomment %}

{% block footer %}
    {% include "_footer.html" %}
    {% if user.is_authenticated %}
    <center>
     <a href="/contact/">Contact</a> | <a href="/meta">Meta</a> | <a href="/time/">Time</a>
    </center>
    {% endif %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
