{% extends "quests/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink%}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ quests.content|markdown|hyper|recross|safe }}
                {% for entry in entries %}
                    <li>
                        <b><a href={% url "quest" entry.slug %}>{{ entry.title }}</a></b>
                        ({% for tag in entry.tags.all %}
                        <a href={% url 'entry-tag' tag.name %}>{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}) <b><a href={% url 'engage-quest' entry.slug %}>Engage</a></b>
                    </li>
                {% endfor %}
            </td>
            <td style="width: 250px">
                {% for image in quests.images.all %}
                    <img src={{ image.get_absolute_url }} alt={{ image.name }} width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
