{% extends "quests/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}
{% load pubmed_linker %}

{% block head_title %}{{ quest.title }}{% endblock %}

{% block hierarchy %}
    > Quest
    = {{ quest.title }}
{% endblock %}

{% block title %}{{ quest.title }}{% endblock %}

{% block content %}
    {{ quest.text|markdown|hyper|recross|pubmed_links|safe }}
    {% for image in quest.images.all %}
        <img src={{ image.get_absolute_url }} alt={{ image.name }}>
    {% endfor %}
    <br><br>
    <b>Tags</b>:
    {% for tag in quest.tags.all %}
        <a href={% url 'entry-tag' tag.name %}>{{ tag.name}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}

    <hr>
    <b><a href={% url 'update-entry' quest.slug %}>Update</a></b> |
    <b><a href={% url 'engage-quest' quest.slug %}>Engage</a></b>
{% endblock %}