{% extends 'site_base.html' %}

{% load url from future %}

{% block head_title %}Ontology{% endblock %}

{% block base_hierarchy %}
    » <a href="{% url 'ontology' %}">Ontology</a>
{% endblock %}

{% block base_options %}
    <a href="/admin/ontology/entity/add/">New Entity</a>
    | <a href="/admin/ontology/relation/add/">New Relation</a>
    | <a href="{% url 'ontology-list' %}">List</a>
    | <a href="{% url 'ontology-graph' %}">Graph</a>
{% endblock %}

{% block options %}
    | (<a href="/admin/ontology">Admin</a>)
{% endblock options %}

{% block title %}Ontology{% endblock %}