{% extends "ontology/base.html" %}
{% load staticfiles %}

{% block extra_script %}
    <!-- JSON support for IE (needed to use JS API) -->
    <script type="text/javascript" src="{% static "cytoscape/js/min/json2.min.js" %}"
            xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"></script>

    <!-- Flash embedding utility (needed to embed Cytoscape Web) -->
    <script type="text/javascript" src="{% static "cytoscape/js/min/AC_OETags.min.js" %}"></script>

    <!-- Cytoscape Web JS API (needed to reference org.cytoscapeweb.Visualization) -->
    <script type="text/javascript" src="{% static "cytoscape/js/min/cytoscapeweb.min.js" %}"></script>

    <script type="text/javascript">
    window.onload=function() {
        // id of Cytoscape Web container div
        var div_id = "cytoscapeweb";

        // you could also use other formats e.g. GraphML or grab the network data via AJAX
        // Create a network model object

        var network_json = {
            // you need to specify a data schema for custom attributes!
            dataSchema: {
                nodes: [ { name: "label", type: "string" },
                    { name: "foo", type: "string" }
                ],
                edges: [ { name: "label", type: "string" },
                    { name: "bar", type: "string" }
                ]
            },
            // NOTE the custom attributes on nodes and edges
            data: {
                nodes: [ { id: "1", label: "1", foo: "Is it real?" },
                    { id: "2", label: "2", foo: "Is it the matrix?" }
                ],
                edges: [ { id: "2to1", target: "1", source: "2", label: "2 to 1", bar: "Enter the matrix" }
                ]
            }
        };

        var xml = '\
                <graphml>\
                  <key id="label" for="all" attr.name="label" attr.type="string"/>\
                  <key id="weight" for="node" attr.name="weight" attr.type="double"/>\
                  <graph edgedefault="directed">\
                    <node id="1">\
                        <data key="label">A</data>\
                        <data key="weight">2.0</data>\
                    </node>\
                    <node id="2">\
                        <data key="label">B</data>\
                        <data key="weight">1.5</data>\
                    </node>\
                    <node id="3">\
                        <data key="label">C</data>\
                        <data key="weight">1.0</data>\
                    </node>\
                    <edge source="1" target="2">\
                        <data key="label">A to B</data>\
                    </edge>\
                    <edge source="1" target="3">\
                        <data key="label">A to C</data>\
                    </edge>\
                  </graph>\
                </graphml>\
                ';

        var compound_network_json = {
            // note the parent attribute:
            data: {
                nodes: [
                    { id: "1" },
                    { id: "2", parent: "1" },
                    { id: "3", parent: "1" },
                    { id: "4", parent: "2" },
                    { id: "5", parent: "6" },
                    { id: "6" },
                    { id: "7" },
                    { id: "8", parent: "1"}
                ],
                edges: [
                    { target: "3", source: "5" },
                    { target: "3", source: "8" },
                    { target: "2", source: "7" }
                ]
            }
        };


        function rand_color() {
            function rand_channel() {
                return Math.round(Math.random() * 255);
            }

            function hex_string(num) {
                var ret = num.toString(16);

                if (ret.length < 2) {
                    return "0" + ret;
                } else {
                    return ret;
                }
            }

            var r = rand_channel()
            var g = rand_channel();
            var b = rand_channel();

            return "#" + hex_string(r) + hex_string(g) + hex_string(b);
        }

        // Mapper
        var colorMapper = {attrName: "weight", minValue: "#ffff00", maxValue: "#00ff00", minAttrValue: 0.1, maxAttrValue: 1.0};

        // visualize style we use
        var visual_style = {
           // global: {
           //    backgroundColor: "#ABCFD6"//"#FFFFFF" //
           //},
            nodes: {
               //parent: 50,
                //compoundShape: "RECTANGLE",
               // compoundLabel: { passthroughMapper: { attrName: "label" }},
                //compoundBorderWidth: 1,
               // compoundBorderColor: "#999999",
               // compoundColor: "#eaeaea",

                shape: { //"ELLIPSE", // OCTAGON",
                    discreteMapper: {
                        attrName: "shape",
                        entries: [
                            { attrValue: 1, value: "RECTANGLE" },
                            { attrValue: 2, value: "OCTAGON" },
                            { attrValue: 3, value: "ROUNDRECT" },
                            { attrValue: 4, value: "HEXAGON" },
                            { attrValue: 5, value: "PARALLELOGRAM" },
                            { attrValue: 6, value: "DIAMOND" },
                            { attrValue: 7, value: "DIAMOND" },
                            { attrValue: 8, value: "ELLIPSE" },
                            { attrValue: 9, value: "VEE" }]}
                            // Not used: "TRIANGLE"
                },

                // labelFontWeight: 'bold',
                borderWith: 3,
                borderColor: "#ffffff",
                size: {
                    defaultValue: 25,
                    continuousMapper: { attrName: "weight", minValue: 25, maxValue: 250 }//75 }
                },
                color: {
                    discreteMapper: {
                        attrName: "color",
                        entries: [
                            { attrValue: 'blue', value: "#0B94B1" },
                            { attrValue: 'red', value: "#9A0B0B" },
                            { attrValue: 'yellow', value: "#dddd00" },
                            //{ attrValue: 'blue', value: "#0000FF" }, //  'Nucleus & Endoplasmic Reticulum'
                            { attrValue: 'tan narrow', value: "#F5DEB3" }, // 'Cytoplasmic molecules',
                            { attrValue: 'light blue', value: "#87CEFA" }, // 'Mitochondria',
                            { attrValue: 'brown', value: "#8B4513" }, // 'Extracellular Proteins, etc.',
                            { attrValue: 'pink', value:"#FF82AB" }, // 'Controlled Degradation
                            { attrValue: 'green', value:"#00CD66" }, // 'Beneficial process or intervention',
                            { attrValue: 'purple', value:"#9400D3" }, // 'Signaling Pathway',
                            //{ attrValue: 'red', value:"#DC143C" },  // 'Damaging Substance or Process',
                            { attrValue: 'black', value:"#A9A9A9" } // 'Senescence Physiology'  # is grey
                        ]
                    }
                },
                //color: {continuousMapper: colorMapper},
                //color: rand_color(),// # "#FF66CC",
                labelHorizontalAnchor: "center"

            },
            edges: {
                label: '',
                targetArrowShape: {
                    discreteMapper: {
                        attrName: "shape",
                        entries: [
                            { attrValue: 'no', value: 'ARROW'},
                            { attrValue: 'X', value: 'T'}]
                    }
                },
                width: {
                    discreteMapper: {
                    attrName: "weight",
                    entries: [
                        { attrValue: 'narrow', value: 3 },
                        { attrValue: 'wide', value: 6 }]

                }
            },
                color: {
                    discreteMapper: {
                        attrName: "label",
                        entries: [
                            { attrValue: 'blue', value: "#0000FF" }, //  'Nucleus & Endoplasmic Reticulum'
                            { attrValue: 'tan narrow', value: "#F5DEB3" }, // 'Cytoplasmic molecules',
                            { attrValue: 'light blue', value: "#87CEFA" }, // 'Mitochondria',
                            { attrValue: 'brown', value: "#8B4513" }, // 'Extracellular Proteins, etc.',
                            { attrValue: 'pink', value:"#FF82AB" }, // 'Controlled Degradation
                            { attrValue: 'green', value:"#00CD66" }, // 'Beneficial process or intervention',
                            { attrValue: 'purple', value:"#9400D3" }, // 'Signaling Pathway',
                            { attrValue: 'red', value:"#DC143C" },  // 'Damaging Substance or Process',
                            { attrValue: 'black', value:"#292421" } // 'Senescence Physiology'

                        ]
                    }
                }

            }
        };

        // Note the "compound" prefix in some visual properties
        var compound_visual_style = {
            nodes: {
                shape: "DIAMOND",
                compoundShape: "RECTANGLE",
                label: { passthroughMapper: { attrName: "id" } },
                compoundLabel: { passthroughMapper: { attrName: "id" } },
                borderWidth: 2,
                compoundBorderWidth: 1,
                borderColor: "#666666",
                compoundBorderColor: "#999999",
                size: 25,
                color: "#ffffff",
                compoundColor: "#eaeaea"
            }
        };

        // initialization options
        var options = {
            // where you have the Cytoscape Web SWF
            swfPath: "{% static "cytoscape/swf/CytoscapeWeb" %}",
            // where you have the Flash installer SWF
            flashInstallerPath: "{% static "cytoscape/swf/playerProductInstall" %}"
        };

        // init and draw
        var vis = new org.cytoscapeweb.Visualization(div_id, options);

        // callback when Cytoscape Web has finished drawing
        vis.ready(function() {

            // set the style programmatically
            document.getElementById("color").onclick = function(){
                visual_style.global.backgroundColor = rand_color();
                vis.layout("CompoundSpringEmbedder");
                vis.visualStyle(visual_style)

            };

            // add a listener for when nodes and edges are clicked
            vis.addListener("click", "nodes", function(event) {
                handle_click(event);
            })
                    .addListener("click", "edges", function(event) {
                        handle_click(event);
                    });
            function handle_click(event) {
                var target = event.target;

                clear();
                print("event.group = " + event.group);
                for (var i in target.data) {
                    var variable_name = i;
                    var variable_value = target.data[i];
                    print("event.target.data." + variable_name + " = " + variable_value);
                }
            }

            function clear() {
                document.getElementById("note").innerHTML = "";
            }

            function print(msg) {
                document.getElementById("note").innerHTML += "<p>" + msg + "</p>";
            }
        });

        var layout = {
            name: "CompoundSpringEmbedder", //ForceDirected",
            options: { tension: 0.00001 } //, restLength: 5
        };

        {#  var network_data = JSON.parse("{ \"data\" : { \"nodes\": [{ \"id\" : \"1\" }, {\"id\" : \"2\"}, {\"id\" : \"3\"}], \"edges\": [{\"id\": \"2to1\",\"target\": \"1\",\"source\": \"2\" }]  }}"); #}
        data = {{ network_json|safe }};
        // draw options
        var draw_options = {
            // data goes here
            network: data, //network_data, //compound_network_json, //xml,  //network_json, ////

            // hide pan zoom
            panZoomControlVisible: true,

            // show edge labels too
            edgeLabelsVisible: true,

            // alternative layouts
            layout: layout,//"Tree", //CompoundSpringEmbedder", //ForceDirected", //"Preset",//"Radial",//,"CompoundSpringEmbedder" //#"Tree",ForceDirected

            // set the style at initialisation
            visualStyle: visual_style//compound_visual_style compound_visual_style //
        };

        vis.draw(draw_options);
    };

    </script>
{% endblock %}

{% block extra_style %}
    <style>
        * { margin: 0; padding: 0; font-family: Helvetica, Arial, Verdana, sens-serif; }
        html, body { height: 100%; width: 100%; padding: 5; margin: 5; }
        body { line-height: 1.5; color: #000000; font-size: 14px; }
            /* The Cytoscape Web container must have its dimensions set. */
        #cytoscapeweb { width: 100%; height: 1000px; }
        #note { width: 100%; height: 50%; background-color: #f0f0f0; overflow: auto; }
        p { padding: 0 0.5em; margin: 0; }
        p:first-child { padding-top: 0.5em; }
        .link { text-decoriation: underline; color: #0b94b1; cursor: pointer; }
    </style>
{% endblock %}

{% block head_title %}Graph{% endblock %}

{% block hierarchy %}
    » Graph
{% endblock %}

{% block title %}Graph{% endblock %}

{% block content %}
    <p>Digitalized Aging Schema, derived from <b><a href="http://www.legendarypharma.com/chartbg.html">John Furber’s Systems Biology of Aging chart</a></b></p>
    <hr>
    <h3>Legend</h3>
    <table width="100%">
        <tr>
            <td valign="top" align="top">
                <br>
                <h4>Colors</h4><b>
                <li><font color='#0000FF'>Nucleus & Endoplasmic Reticulum (blue)</font></li>
                <li><font color='#F5DEB3'>Cytoplasmic molecules (tan narrow)</font></li>
                <li><font color='#87CEFA'>Mitochondria (light blue)</font></li>
                <li><font color='#8B4513'>Extracellular Proteins, etc. (brown)</font></li>
                <li><font color='#FF82AB'>Controlled Degradation (pink)</font></li>
                <li><font color='#00CD66'>Beneficial process or intervention (green)</font></li>
                <li><font color='#9400D3'>Signaling Pathway (purple)</font></li>
                <li><font color='#DC143C'>Damaging Substance or Process (red)</font></li>
                <li><font color='#292421'>Senescence Physiology (black)</font></li>
            </b>
            </td>
            <td valign="top" align="top">
                <br>
                <h4>Arrow With</h4>
                <li>thin: Causel sequence of events</li>
                <li><b>thick: Movement, transport or flow of things</b></li>
                <br>
                <h4>Node Shapes</h4>
                <li><b>Rectangle: Thing</b> (Quantities or Pools of Molecules, Cells, Substances, etc.)</li>
                <li><b>Octagon: Action</b> (Process, Action, Change,or Reaction)</li>
                <li><b>Roundrect: Compartment</b> (Organelle or compartment)</li>
                <li><b>Hexagon: Accumulation</b> (Gradual Accumulation or Increase in Quantity or Mass with Aging)</li>
                <li><b>Parallelogram: Loss</b> (Gradual Loss or Decrease in Quantity or Mass with Aging)</li>
                <li><b>Diamond: External</b> (External Intervention, or Environmental Factors)</li>
                <li><b>Ellipse: Condition</b> (Physiological Condition; Senescence)</li>
                <li><b>Vee: Suppression</b> (Inhibition of pathways & process that is inhibited)</li>
                {# Not used: <li>Triangle</li> #}
            </td>
        </tr>
    </table>


    </b>
    <hr>
    <div id="cytoscapeweb">
        Cytoscape Web will replace the contents of this div with the graph.
    </div>
    <div id="note">
        <p>Click nodes or edges.</p>
    </div>
    <span class="link" id="color">Change Background color at random.</span>
{% endblock %}
