{% extends "ontology/base.html" %}

{% load url from future %}

{% block options %}
    <a href="{% url 'ontology-list' %}">List</a>
    | <a href="{% url 'ontology-graph' %}">Graph</a>
    | (<a href="/admin/ontology">Admin</a>)
{% endblock %}

{% block head_title %}
    {{ entry.title }}
{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    {% include 'data/render_entry.html' %}
    {% with entry as object %}
        {% include 'comments/wrapper.html' %}
    {% endwith %}
{% endblock %}