@charset "utf-8";

* {
        margin: 0;
        padding: 0;
        outline: 0;
}

a {
        color: #0a5477;
        text-decoration: none;
}


ul,ol,li {
        list-style: none;
}

body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        color: #333;
}

.content {
        width: 940px;
        margin: 0 auto;
}

.header,.container,.footer {
        width: 100%;
        float: left;
}

.header {
   max-height: 708px;
   background: url(../img/bg-header.jpg) repeat-x left bottom;
}

.container {
        background: url(../img/bg-container.gif) repeat-x left top;
        padding: 25px 0 35px;
}


.footer {
   position: absolute;
   bottom: 0;
   /*background: url(../img/bg-footer-prom.png) repeat-x left top; */
   background: url(../img/bg-header.jpg) repeat-x left top;
   padding: 10px 0;
   width: 100%;
   text-align: center;
}

.page-title {
   margin-bottom: 20px;
   margin-top: 20px;
   background: url(../img/bg-mask.png);
   border: solid 1px #d5dbde;
   border-radius: 6px;
   -moz-border-radius: 6px;
   -webkit-border-radius: 6px;
   -moz-box-shadow: 0 1px 0 #c6cccf;
   -webkit-box-shadow: 0 1px 0 #c6cccf;
   box-shadow: 0 1px 0 #c6cccf;
   text-align: center;
   padding: 3px 20px;
   border: solid 1px #f8fafb;
   border-radius: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   width: 898px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
}

.page-title h2 {
   line-height: 46px;
   font-weight: normal;
}

.shortenerForm {
   width: 100%;
   float: left;
}

.shortenerForm input[type=submit],submit {
        background: none;
        border: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: bold;
        text-shadow: 0 1px 0 #fff;
        cursor: pointer;
        height: 32px;
}

.shortenerForm label {
        font-size: 14px;
        font-weight: bold;
        display: block;
        padding-bottom: 3px;
}

.shortenerForm>form>div {
        margin-bottom: 15px;
}

.shortenerForm .input-box {
        background: #e5e5e5 url(../img/dot.gif) repeat-x left top;
        border: solid 1px #d4d4d4;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 3px;
        border-bottom-width: 2px;
}

.input-box input {
        background-color: #fff;
        border: solid 1px #d9d9d9;
        border-top-width: 2px;
        padding: 7px;
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: #555;
        box-shadow: 0 1px 0 #fff;
        -webkit-box-shadow: 0 1px 0 #fff;
        -moz-box-shadow: 0 1px 0 #fff;
        border-radius: 3px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
}

.shortenerForm .errorlist {
   color: red;
}

.shortenerForm .url {
   float: left;
}

.shortenerForm .email {
   float: right;
}

.shortenerForm .email,
.shortenerForm .url {
   width: 450px;
}

.shortenerForm .email input,
.shortenerForm .url input {
        width: 426px;
}

.shortenerForm .labels input {
        width: 916px;
}

.shortenerForm .submit {
        margin-right: -5px;
        float: right;

}

.shortenerForm .submit,
.shortenerForm .submit span {
        background-image: url(../img/bg-btn.png);
        background-repeat: no-repeat;
        display: inline-block;
        white-space: nowrap;
        text-shadow: 0 1px 0 #fff;
        color: #333;
        font-size: 14px;
        font-weight: bold;
        line-height: 32px;
}

.shortenerForm .submit {
        padding-left: 29px;
        background-position: left -47px;
}

.shortenerForm .submit span {
        background-position: right -47px;
        padding-right: 29px;
        padding-top: 7px;
        padding-bottom: 7px;
}

.shortenerForm .submit input {
        width: 130px;
}

.manageForm {
   font-size: 20px;
}

.manageForm > div {
   margin-bottom: 10px;
   margin-left: auto;
   margin-right: auto;
}

.manageForm label {
   margin-left: 100px;
   width: 250px;
   float: left;
}

.manageForm .shortened {
   margin-top: 30px;
}

.manageForm table {
   float: left;
   margin-left: 100px;
   text-align: left;
   width: 760px;
}

.manageForm table .label {
   width: 250px;
}

.manageForm table .notification {
   text-align: right;
}
