{% extends "site_base.html" %}

{% load url from future %}

{% block head_title %}Todos{% endblock %}

{% block base_hierarchy %}
    » <a href="{% url 'todos' %}">Todos</a>
{% endblock %}

{% block options %}
    <a href={% url 'todo-list' %}>Own</a>
    | <a href="/todos/create/">Create</a>
    (</b><a href="/admin/todo/">Admin</a><b>)
    | <a href={% url 'tasks' %}>Tasks</a>
    | <a href={% url 'todos' %}>Todos</a>
    | <a href={% url 'quests' %}>Quests</a>

{% endblock %}

{% block title %}Todos{% endblock %}
