{% extends "site_base.html" %}
{% block content %}
<html>
    
<head>
<title>My Todo List</title>
<style type="text/css">
    body {  font-family: arial, Helvetica, sans-setif;
            color: black;
            background: #ffffff; }
            .error { color: red; }
</style>
</head>
<body>

<link rel="stylesheet" type="text/css"
    href="/site_media/sheets/style.css">
<img src="/site_media/images/django.jpg">

{% if error_msg %}
    <p class="error">{{ error_msg }}</p>
{% endif %}
{% if todos %}
<table border="1">
<tr><td>Todo</td>
    <td>Created</td>
    <td>Importance</td>
    <td>Updated</td>
    <td>Description</td>
    <td>Started</td>
    <td>Done</td>
    <td>Stoped</td>
    <td>del.</td>
</tr>
{% for todo in todos %}
{% if not todo.done %}
<tr>
    <td><a href="{{todo.id}}">{{todo.title}}</a></td>
    <td>{{todo.created|date:"Y-m-d"}}</td> 
    <td>{{todo.text_importance}}</td>
    <td>{{todo.updated|date:"Y-m-d"}}</td>
    <td>{{todo.short_description}}</td>
    <td>{{todo.start_date|date:"Y-m-d"}}</td>
    <td>{{todo.done}}</td>
    <td>{{todo.stop_date|date:"Y-m-d"}}</td>
    <td><a href="{{todo.id}}/delete"><b>X</b></td>
</tr>
{% endif %}
{% endfor %}
</table><br>
{% else %}
<p>There is nothing to do! Create new tasks to keep on development.</p>
{% endif %}

{% comment %}
{% if todos %}
<table border="1">
<tr><td>Todo</td>
    <td>Importance</td>

    <td>Created</td>
    <td>Updated</td>
    <td>Description</td>
</tr>
{% for todo in todos %}
    <tr><td>{{todo.title}}</td>
        <td>{{todo.text_importance}}</td>
        <td>{{todo.start_date}}</td>
        <td>{{todo.stop.date}}</td>
        <td>{{todo.created}}</td>
        <td>{{todo.updated}}</td>
        <td>{{todo.description}}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have nothing to do!</p>
{% endif %}
</body>
{% endcomment %}

<p>Add a todo:<br>
<form action="add" method="POST">{% csrf_token %}
    Todo:<input type="text" name="title"><br>
    Importance<select name="importance" />
    {% for value, importance in choices %}
        <option value="{{value}}">
            {{importance}}</option>
    {% endfor %}
    </select><br>
    Start date: <input type="text" name="start_date"><br>
    Stop date: <input type="text" name="stop_date"><br>
    <textarea name="description"></textarea>
    <input type="submit" value="Add">
</form>
</p>
{% endblock %}
