{% extends "todos/base.html" %}

{% load render_table from django_tables2 %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block head_title %}Todos{% endblock %}

{% block title %}Todos{% endblock %}

{% block content %}
    {% if entry.text %}
        {% include 'data/render_entry.html' %}
    {% else %}
        <p>This is a list of things which were proposed to improve Denigma.</p>
    {% endif %}

    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Filter" />{{ form.filter }}
        {{ filter.form.as_p }}

        {{ filterset }}
    </form>

   {% render_table table %}
    {% if entry.text %}
        {% with entry as object %}
            {% include 'comments/wrapper.html' %}
        {% endwith %}
    {% endif %}
{% endblock %}