{% extends "todos/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Todo {{ object.title }}{% endblock %}

{% block hierarchy %}
    » {{ object.title }}
{% endblock %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
    {{ object.description|markdown|hyper|recross|safe }}

    {% with object.categories.all as categories %}
        {% if categories %}
            <b>Categories</b>:
            {% for category in categories %}
                <a href="{{ category.get_absolute_url }}">{{ category }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
        {% endif %}
    {% endwith %}

    <b>Creator</b>: <a href="{{ object.creator.get_absolute_url }}">{{ object.creator }}</a> <br>

    {% with object.executor.all as executors %}
        {% if executors %}
            <b> Executors</b>:
            {% for executor in executors %}
                <a href="{{ executor.get_absolute_url }}">{{ executor }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>
        {% endif %}
    {% endwith %}
    <br>

    {% with object.start_date as start_date %}
        {% if start_date %}
            <b>From</b> {{ start_date }}
        {% endif %}
    {% endwith %}

    {% with object.stop_date as stop_date %}
        {% if stop_date %}
            <b> To </b>{{ object.stop_date }}<br>
        {% endif %}
    {% endwith %}

    <br>

    {% with object.priority as priority %}
        {% if priority %}
            <b>Priority</b>: {{ object.get_priority_display }}<br>
        {% endif %}
    {% endwith %}

    <b>Value</b>: {{ object.value }}<br>

    <b>Difficulty</b>: {{ object.difficulty }}<br>
    <b>Progress</b>: {{ object.progress }}<br>

    {% if object.done %}<b>Done</b>{% endif %}
    {% if object.onhold %}
        <b>On Hold</b><br>
    {% endif %}
    <hr>
    <b><a href="{% url 'update_todo' object.pk %}">Update</a></b>
    {% include 'comments/wrapper.html' %}
{% endblock %}