{% extends "todos/base.html" %}

{% load url from future %}
{% load crispy_forms_tags %}

{% block extra_scripts %}
    <style type="text/css">
        body {  font-family: arial, Helvetica, sans-setif;
            color: black;
            background: #ffffff; }
    </style>
{% endblock %}

{% block hierarchy %}
    » Todo
    = <a href="/todos/{{ object.id }}">{{ object.title }}</a>
    » Edit
{% endblock %}

{% block title %}Edit Todo #{{ object.id }}{% endblock %}

{% block content %}
    {% crispy form %}
    <br>
      <a href="/todos/index">Return to todo list</a>
    | <a href="{% url 'create-quest' object.pk %}">Create Quest</a>
{% endblock %}
