{% extends "todos/base.html" %}

{% block hierarchy %}
   > <a href="/todos">Todos</a> >
   Todo =
   <a href="/todos/{{ object.id }}">{{ object.title }}</a> >
   <a href="/todos/{{ object.id }}/delete">Delete</a>
{% endblock %}

{% block subtitle %}Todo{% endblock %}

{% block content %}
<html>
<head>
<title>Delete Todo #{{object.id}}</title>
<style type="text/css">
    body { font-family: Arial, Helvetica, sans-serif;
           color: black;
           background: #ffffff; }
</style>
</head>
<body>

<form action="" method="POST">{% csrf_token %}
    <p>Are you sure you want to delete
        todo #{{object.id}}:
        "{{object.title}}"?<br>
    <input type="submit" value="Delete!"><br>
    <a href="..">Back...</a>
</form>

</body>
</html>
{% endblock %}
