{% extends "todos/base.html" %}

{% comment %}This is not gone by used as the link to the is only visible for logged in users.
However, as it is still possible to access this site via the address directly it is necessary.
{% endcomment %}

{% block hierarchy %}
    > Todos >
    <a href="/todos/login">Login</a> 
{% endblock %}

{% block subtitle %}Login{% endblock %}

{% block content %}
<html>
<head>
<title>Todo Login</title>
<style type="text/css">
    body { font-family: Arial, helvetica, sens-serif;
    color: black;
    background: #ffffff; }
    .error { color: red; }
</style>
</head>
<body>

{% if error_msg %}
    <p class="error">{{ error_msg }}</p>
{% endif %}

<form action="" method="POST"> {% csrf_token %}
    </table>
    <tr><td valign="top">Username:
        <td><input type="text" name="username"
            value="{{username}}">
            <tr><td valign="top">Password:
            <td><input type="password" name="password"
                value="{{password}}">
    <tr><td colspan="2">
        <input type="submit" value="login">
    </table>
</form>

</body>
</html>
{% endblock %}
