{% extends "aspects/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink%}

{% block head_title %}Achievements{% endblock %}

{% block hierarchy %}
    > Achievements
    | <a href="/aspects/achievement/create/">Create</a>
    </b>(<a href="/admin/aspects/hierarchytype/">Admin</a>)<b>
{% endblock %}

{% block title %}Achievements{% endblock %}

{% block content %}
    {{ entry.content|markdown|hyper|recross|safe }}
    {% for achievement in achievements %}
        <hr>
        <table width="100%">
            <tr>
                <td>
                    <a href="/aspects/{{ achievement.requirement }}/{{ achievement.name|lower }}s/"><h3>{{ achievement.name }}</h3></a>
                    {{ achievement.description|markdown|hyper|recross|safe }}
                    <b><a href="/aspects/{{ achievement.requirement }}/{{ achievement.name|lower }}s/">See all</a></b>
                </td>
                <td style="width: 250px">
                    <right>
                    <a href="/aspects/{{ achievement.requirement }}/{{ achievement.name|lower }}s/"><img src="{{ achievement.symbol.url }}" alt="{{ achievement.symbol.name }}" width="250"  height="250"></a>
                    </right>
                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}