{% extends "aspects/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ aspect.title }}{% endblock %}

{% block hierarchy %}
    > {{ aspect.title }}
{% endblock %}

{% block title %}{{ aspect.title }}{% endblock %}

{% block content %}
    {{ aspect.content|markdown|hyper|recross|safe }}
    {% for image in aspect.images.all %}
        <img src={{ image.url }} alt={{ image.name }} />
    {% endfor %}
    {% with aspect as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}