{% extends "aspects/base.html" %}

{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block head_title %}{{ hierarchy_name }}{% endblock %}

{% block hierarchy %}
    > {{ hierarchy_name }}
    | <a href="/aspects/{{ hierarchy_name|lower }}/create/">Create</a>
    </b>(<a href="/admin/aspects/hierarchy/">Admin</a>)<b>
{% endblock %}

{% block title %}{{ hierarchy_name }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td style="width: 300px">
                {% for image in entry.images.all %}
                    <img src={{ image.url }} alt={{ image.name }} width="300" height="300">
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    {% render_table hierarchy %}
    {% comment %}
    <hr>
    <table border="0">
        <tr>
            <td><b>Name</b></td>
            <td><b>Description</b></td>
            <td><b>Requirement</b></td>
        </tr>
        {% for level in hierarchy %}
        <tr>
            <td>{{ level.name }}</td>
            <td>{{ level.description }}</td>
            <td>{{ level.requirement }}</td>
        </tr>
        {% endfor %}
    </table>
    {%  endcomment %}
{% endblock %}