{% extends "aspects/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Aspects{% endblock %}

{% block hierarchy %}
    > Facets
{% endblock %}

{% block title %}Aspects{% endblock %}


{% block content %}
    {{ aspects_entry.text|markdown|hyper|recross|safe }}
    {% for aspect in aspects %}
        <hr>
        <table>
            <tr>
                <td>
                    <h3>{{ aspect.title }}</h3>
                    {{ aspect.text|markdown|hyper|recross|safe }}
                    <b><a href="/aspects/{{ aspect.title|lower }}">Read more</a></b>
                </td>
                <td>
                    {% for image in aspect.images.all %}
                        <img src={{ image.url }} alt={{ image.name }} width=250 height=250/>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endfor %}
    <hr>
{% endblock %}

