{% extends "aspects/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{% endblock %}

{% block hierarchy %}
    > <a href="/aspects/{{ level.type.aspect }}/">{{ level.type.aspect }}</a>
    > <a href="/aspects/{{ level.type }}s/">{{ level.type }}s</a>
    > <a href="/aspects/{{ aspect }}/">{{ aspect }}</a>
    {{ level }}
{% endblock %}

{% block title %}{{ level }}{% endblock %}

{% block content %}
    {{ level.description|markdown|hyper|recross|safe }}
    <b>Requirements</b>: {{ level.requirement|markdown|hyper|recross|safe }}
    {% if level.symbol %}
        <center><img src="{{ level.symbol.url }}" alt="{{ level.symbol.name }}"></center>
    {% endif %}
    {% if profiles %}
        <hr>
        <h3>{{ level.type.profession|title }}s with {{ level.type|lower }} {{ level }}:</h3>
        {% for profile in profiles %}
            <a href="/profiles/profile/{{ profile.name }}/">{{ profile.name }}</a>
        {% endfor %}
    {% endif %}
    <hr>
    <b><a href="{% url level.get_update_url level.pk %}">Update</a></b>
{% endblock %}
