{% extends "aspects/base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}
{% load paragraphs %}

{% block head_title %}Professions{% endblock %}

{% block hierarchy %}
    > Professions
{% endblock %}

{% block title %}Professions{% endblock %}

{% block content %}
    {{ professions_entry.content|markdown|hyper|recross|safe }}
    {% for profession in professions %}
        <hr>
        <table width="100%">
            <tr>
                <td valign="top">
                    <a href={{ profession.get_absolute_url }}><h3>{{ profession.title }}</h3></a>
                    {{ profession.content_link|paraone|markdown|hyper|recross|safe }}
                    <b><a href="{% url 'profession' profession.title|lower %}">Read more</a></b>
                </td>
                <td align="right" style="width: 250px">
                    {% for image in profession.images.all %}
                        <a href={{ profession.get_absolute_url }}><img src={{ image.url }} alt={{ image.name }} width="250" height="250"></a>
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endfor %}
    {% with professions_entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
