{% extends "aspects/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Professions{% endblock %}

{% block hierarchy %}
    > Professions
{% endblock %}

{% block title %}Professions{% endblock %}

{% block content %}
    {{ professions_entry.text|markdown|hyper|recross|safe }}

    {% for profession in professions %}
        <hr>
        <table>
            <tr>
                <td>
                    <h2>{{ profession.title }}</h2>
                    {{ profession.text|markdown|hyper|recross|safe }}
                    <b><a href="/aspects/profession/{{ profession.title|lower }}/">Read more</a></b>
                </td>
                <td>
                    {% for image in profession.images.all %}
                        <img src={{ image.url }} alt={{ image.name }} width=250 height=250 />
                    {% endfor %}

                </td>
            </tr>
        </table>
    {% endfor %}
{% endblock %}
