{% extends "aspects/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ profession.title }}{% endblock %}

{% block hierarchy %}
    > <a href="{% url 'professions' %}">Professions</a>
    > {{ profession.title }}
{% endblock %}

{% block title %}{{ profession.title }}{% endblock %}

{% block content %}
    {{ profession.content|markdown|hyper|recross|safe }}
    <center>
    {% for image in profession.images.all %}
        <a href="{% url 'detail-entry' profession.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" ></a>
    {% endfor %}
    </center>
    {% with profession as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}