{% extends "site_base.html" %}

{% block head_title %}Contact{% endblock%}

{% block hierarchy %}
    > Contact
{% endblock %}

{% block content %}
<html>
<head>
    <title>Contact us</title>
</head>
<body>
    <h1>Contact us</h1>
    <p>You can directly contact the creators of Denigma with any inquiry you may have.
    {% if form.errors %}
    <p style="color: red;">
        Please correct the error{{ form.errors|pluralize }} below.
    </p>
    {% endif %}
    {% if user.is_authenticated %}
    
        <form action="" method="post">{% csrf_token %}
            <div class="field">
                {{ form.subject.errors }}
                <label for="id_subject">Subject:</label>
                {{ form.subject }}
            </div>
            <div class="field">
                {{ form.email.errors }}
                <label for="id_email">Your e-mail address:</label>
                {{ form.email }}
            </div>
            <div class="field">
                {{ form.message.errors }}
                <label for="id_message">Message:</label>
                {{ form.message }}
            </div>
            <input type="submit" value="Submit">
        </form>
    {% endif %}
</body>
</html>

<style type="text/css">
    ul.errorlist{
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block:
        font-size: 10px;
        margin: 0 0 3px;
        padding 4px 5px;
    }
</style>
{% endblock %}
