{% extends "site_base.html" %}

{% block head_title %}Lifespan{% endblock %}

{% block title %}Lifespan{% endblock %}

{%  comment %} To many options. Options is replaced by dropdown menu.
{% block options %}
    <a href="/lifespan/studies/">Studies</a> |
    <a href="/lifespan/experiments/">Experiments</a> |
    <a href="/lifespan/measurements/">Measurements</a> |
    <a href="/lifespan/comparisions/">Comparisions</a> |
    <a href="/lifespan/interventions/">Interventions</a>|
    <a href="/lifespan/factors/">Factors</a>
{% endblock %}
{% endcomment %}


