{% extends "lifespan/base.html" %}

{% load crispy_forms_tags %}

{% block head_title %}Comparision{% endblock %}

{% block hierarchy %}
    > <a href="/lifespan/comparisions/">Comparision</a>
    > Comparision
{% endblock %}

{% block title %}{{ comparision }}{% endblock %}

{% block content %}
    <b>Study:</b> <a href="/lifespan/study/{{ comparision.exp.experiment.study.pk }}">{{ comparision.exp.experiment.study }}</a><br>
    <b>Experiment: </b> <a href="/lifespan/experiment/{{ comparision.exp.experiment.pk }}/">{{ comparision.exp.experiment.name }}</a><br>
    <b>Experimental measurement:</b> <a href="/lifespan/measurement/{{ comparision.exp.pk }}">{{ comparision.exp }}</a><br>
    <b>Control measurement:</b> <a href="/lifespan/measurement/{{ comparision.ctr.pk }}">{{ comparision.ctr }}</a><br>
    <b>Epistasis:</b> <a href="/lifespan/epistasis/{{ comparision.epistasis.pk }}">{{ comparision.epistasis }}</a><br>
    <b>Intervention:</b> {{ comparision.intervention }}<br>
    <b>Mean lifespan change: </b> {{ comparision.mean }}<br>
    <b>Median lifespan change: </b> {{ comparision.median }}<br>
    <b>Maximum lifespan change: </b>{{ comparision.max }}<br>
    {% crispy form %}
{% endblock %}