{% extends "lifespan/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > Index
{% endblock hierarchy %}

{% block options %}
    (<a href="/admin/lifespan">Admin</a>)
{% endblock %}

{% block content %}
    <table width="100%">
        <tr valign="top">
            <td>
                {{ lifespan.content|hyper|recross|safe }}
            </td>
            <td align="right" valign="top" style="width: 250px">
                {% for image in lifespan.images.all %}
                    <img src="{{ image.url }}" name="{{ image.nam }}" width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <b>Main:</b><br>
    <a href="/lifespan/studies/">Studies</a><br>
    <a href="/lifespan/experiments/">Experiments</a><br>
    <a href="/lifespan/measurements/">Measurements</a><br>
    <a href="/lifespan/comparisions/">Comparisions</a></br>
    <a href="/lifespan/interventions/">Interventions</a><br>
    <a href="/lifespan/factors/">Factors</a><br>
    <br>
    <b>Accessory:</b><br>
    <a href="/lifespan/assay">Assays</a><br>
    <a href="/lifespan/strains/">Strains</a><br>
    <a href="/lifespan/regimen/">Regimens</a><br>
    <a href="/lifespan/mainpulations">Manipulations</a><br>
    <a href="/lifespan/epistasis/">Epistases</a><br>

    {% if user.is_superuser %}
        <hr>
        <a href="/lifespan/interventions/link">Link interventions</a><br>
        <a href={% url 'map_species' 'factor' %}>Map species for factors</a><br>
        <a href={% url 'map_species' 'intervention' %}>Map species for interventions</a><br>
        <a href={% url 'integrity' %}>Integrity</a><br>
        <a href="{% url 'correct_classes' %}">Correct Classes</a>
    {% endif %}
    {% with lifespan as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
