{% extends "lifespan/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > Index
{% endblock hierarchy %}

{% block options %}
    (<a href="/admin/lifespan">Admin</a>)
{% endblock %}

{% block content %}
    <table width="100%">
        <tr valign="top">
            <td>
                {{ lifespan.content|hyper|recross|safe }}
            </td>
            <td align="right" valign="top" style="width: 250px">
                {% for image in lifespan.images.all %}
                    <img src="{{ image.url }}" name="{{ image.nam }}" width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <center>
        <h2>Main:</h2>
        <h3><a href={% url 'studies'  %}>Studies</a></h3>
        <h3><a href={% url 'experiments' %}>Experiments</a></h3>
        <h3><a href={% url 'measurements' %}>Measurements</a></h3>
        <h3><a href={% url 'comparisons' %}>Comparisons</a></h3>
        <h3><a href={% url 'interventions' %}>Interventions</a></h3>
        <h3><a href={% url 'factors' %}>Factors</a></h3>
        <h3><a href={% url 'variants' %}>Variants</a></h3>
        <br>
        <h2><b>Accessory:</b><br>
        <h3><a href={% url 'assays' %}>Assays</a></h3>
        <h3><a href={% url 'strains' %}>Strains</a></h3>
        <h3><a href={% url 'regimens' %}>Regimens</a></h3>
        <h3><a href={% url 'manipulations' %}>Manipulations</a></h3>
        <h3><a href={% url 'epistasis' %}>Epistases</a></h3>
        <h3><a href={% url 'populations' %}>Populations</a></h3>
        <h3><a href={% url 'study_types' %}>Study Types</a></h3>
        <h3><a href={% url 'technologies' %}>Technologies</a></h3>
        <h3><a href={% url 'states' %}>States (Choice)</a></h3>
    </center>
    {% if user.is_superuser %}
        <hr>
        <a href="/lifespan/interventions/link">Link interventions</a><br>
        <a href={% url 'map_species' 'factor' %}>Map species for factors</a><br>
        <a href={% url 'map_species' 'intervention' %}>Map species for interventions</a><br>
        <a href={% url 'integrity' %}>Integrity</a><br>
        <a href="{% url 'correct_classes' %}">Correct Classes</a>
    {% endif %}
    {% with lifespan as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
