{% extends "lifespan/base.html" %}

{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block hierarchy %}
    > Interventions
{% endblock %}

{% block options %}
    <a href="/lifespan/interventions/">Interventions</a> |
    <a href="/lifespan/intervention/add">Add</a> /
    <a href="/lifespan/intervention/create/">Create</a> |
    <a href="/lifespan/interventions/archive">Archive</a>
{% endblock %}

{% block head_title %}Interventions{% endblock %}

{% block title %}Interventions{% endblock %}

{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
    <input type="submit" value="Apply" />
        {{ interventionsfilter }}
        <table width="100%">
            <tr>
                <td valign="top">
                    {% render_table table %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}