{% extends "lifespan/base.html" %}
{% load url from future %}
{% load mptt_tags %}

{% block head_title %}Populations{% endblock %}
{% block title %}Populations{% endblock %}
{% block hierarchy %}
    » <a href="{% url 'variants' %}">Variants</a>
    » Populations
{% endblock %}
{% block options %}
    | <a href="/admin/lifespan/population/{{ object.pk }}">Admin</a>
{% endblock %}
{% block content %}
{#    {% for object in object_list %}#}
{#        <li><a href="{{ object.get_absolute_url }}">{{ object }}</a></li>#}
{#    {% endfor %}#}
      {% recursetree object_list %}
        <li>
            <a href="{{ node.get_absolute_url }}">{{ node }}</a>
{#            <a href="http://denigma.de/lifespan/variants/?ethnicity={{ node.id }}">{{ node }}</a> (<a href="{{ node.get_absolute_url }}">Browse</a>)#}
            {% if not node.is_leaf_node %}
                <ul class="children">
                    <a href="{{ node.get_absolute_url }}">{{ children }}</a>
{#                     <a href="http://denigma.de/lifespan/variants/?ethnicity={{ children.id }}">{{ children }}</a>#}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}

{% endblock %}
