{% extends "lifespan/base.html" %}

{% block head_title %}Studies archive{% endblock %}

{% block hierarchy %}
    > <a href="/lifespan/">Lifespan</a>
    > <a href="/lifespan/studies/">Studies</a>
    > Archive
{% endblock %}

{% block options %}
    <a href="/lifespan/studies/">Studies</a> |
    <a href="/lifespan.studies/archive">Archive</a>
{% endblock %}

{% block title %}Studies Archive{% endblock %}


{% block content %}
    <table>
        <tr><td><b>PMID</b></td><td><b>Title</b></td><td><b>Experiments</b></td><td><b>Integrated</b></td></tr>
        {% for study in studies %}
            <tr>
                <td><a href="/lifespan/study/{{ study.pk }}">#</a>{{ study.pmid }}</td>
                <td><a href="/lifespan/study/{{ study.pk }}">{{ study.title }}</a></td>
                <td><center>{{ study.experiment_set.all|length }}</center></td>
                <td><center>{{ study.integrated }}</center><td>
            </tr>



                </tr>

        {% endfor %}
    </table>


{% endblock %}