{% extends "lifespan/base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load pubmed_linker %}
{% load rendering %}
{% load hyperlink %}

{% block head_title %}Variant{% endblock %}

{% block hierarchy %}
    » <a href="/lifespan/variants/">Variants</a>
    » Variant
    = {{ variant.polymorphism }}
{% endblock %}

{% block title %}
   {{ variant.polymorphism  }}
{% endblock %}

{% block options %}
    | <a href="/admin/lifespan/variant/{{ variant.pk }}">Admin</a>
{% endblock %}

{% block content %}

            {% if variant.polymorphism %}<b>Polymorphism:</b> <a href="http://snpedia.com/index.php/{{ variant.polymorphism }}">{{ variant.polymorphism }}</a><br>{% endif %}
            {% if variant.location %}<b>Location:</b> {{ variant.location }}<br>{% endif %}
            <br>

            {% if variant.factor %}
                <b>Factor:</b><br>

                <b>- Symbol:</b> <a href="{% url 'factor' variant.factor.id %}">{{ variant.factor.symbol }}</a><br>
                <b>- Name:</b> <a href="{% url 'factor' variant.factor.id %}">{{ variant.factor.name }}</a><br>
               {% if variant.factor.entrez_gene_id %}
                    <b>- Entrez ID:</b> <a href="http://www.ncbi.nlm.nih.gov/gene/{{ variant.factor.entrez_gene_id }}">{{ variant.factor.entrez_gene_id }}</a><br>
                {% endif %}
                {% if variant.factor.ensembl_gene_id %}
                    <b>- Ensembl ID:</b> <a href="http://www.ensembl.org/Multi/Search/Results?species=all;idx=;q={{ variant.factor.ensembl_gene_id }}">{{ variant.factor.ensembl_gene_id }}</a><br>
                {% endif %}

           {% with variant.factors as factors %}
               {% if factors.all %}
                    <br>
                    <b>Factors:</b><br>
                    {% for factor in factors.all %}
                        <li><a href="{% url 'factor' variant.factor.id %}">{{ variant.factor.symbol }}</a>
                        </b> <a href="{% url 'factor' variant.factor.id %}">{{ variant.factor.name }}</a> (
                       {% if variant.factor.entrez_gene_id %}
                           </b> <a href="http://www.ncbi.nlm.nih.gov/gene/{{ variant.factor.entrez_gene_id }}">{{ variant.factor.entrez_gene_id }}</a>
                        {% endif %}/
                        {% if variant.factor.ensembl_gene_id %}
                            <a href="http://www.ensembl.org/Multi/Search/Results?species=all;idx=;q={{ variant.factor.ensembl_gene_id }}">{{ variant.factor.ensembl_gene_id }}</a>
                            )
                        {% endif %}
                        </li>
                    {% endfor %}
               {% endif %}
           {% endwith %}

            {% endif %}
            {% if variant.description %}
                <br><b>Description:</b>
                {{ variant.description|markdown|hyper|pubmed_links|safe }}
            {% endif %}

{#            <br><b>Ethnicity:</b>#}
{#            {% for ethnicity in variant.population.all %}#}
{#                <a href="/lifespan/ethnicity/{{ ethnicity.pk }}">{{ ethnicity.name }}</a>#}
{#            {% endfor %}<br>#}

            {% if variant.ethnicity.all %}
                <b>Ethnicity:</b>
                {% for population in variant.ethnicity.all %}
                    {{ population.name }}{% if not forloop.last %},{% endif %}
                {% endfor %}<br>
            {% endif %}
            {% if variant.age_of_cases %}<b>Age of cases:</b> {{ variant.age_of_cases }}<br>{% endif %}
            {% if variant.shorter_lived_allele %}<b>Shorter lived allele: </b> {{ variant.shorter_lived_allele }}<br>{% endif %}
            {% if variant.longer_lived_allele %}<b>Longer lived allele: </b> {{ variant.longer_lived_allele }}<br>{% endif %}<br>


            <b>Statistics</b><br>
            {% if variant.initial_number %}<b>- Number of cases/controls: </b> {{ variant.initial_number }} (initial){% endif %}
            {% if variant.replication_number %}<b></b>  <b>|</b> {{ variant.replication_number }} (replication){% endif %}<br>
            {% if variant.odds_ratio %}<b>- Odds ratio:</b> {{ variant.odds_ratio }}<br>{% endif %}
            {% if variant.pvalue %}<b>- p-value: </b> {{ variant.pvalue }}{% endif %}
            {% if variant.p_value %} ({{ variant.p_value }})<br>{% endif %}
            {% if variant.qvalue %}<b>- q-value: </b> {{ variant.qvalue }}<br>{% endif %}
            {% if variant.significant %}<b>- Significant: </b> {{ variant.significant }}<br>{% endif %}
            <br>

            <b>Study Design</b><br>
            {% with variant.classifications.all as classifications %}
               {% if classifications %}
                <b>- Classifications:</b>
                {% for classification in classifications %}
                    <a href="{{ classification.get_absolute_url }}">{{ classification.title }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}<br>
            {% endif %}
            {% endwith %}
            {% if variant.study_type %}<b>- Study type: </b> {{ variant.study_type.name }}<br>{% endif %}
            {% if variant.technology %}<b>- Technology: </b> {{ variant.technology.name }}<br>{% endif %}

            {% if variant.reference %}
                <br><b>Reference:</b><br>
                    <a href="/datasets/reference/{{ variant.reference.id }}">{{ variant.reference.pmid }}: {{ variant.reference.title }}</a>
                <br>
            {% endif %}<br>

            <b>Created: </b>{{ variant.created }}<br>
            <b>Updated: </b>{{ variant.updated }}<br>

            <br><b><a href="/lifespan/variant/edit/{{ variant.pk }}">Edit</a></b>
                (<a href="/admin/lifespan/variant/{{ variant.pk }}">Admin</a>) |
            <b><a href="/lifespan/variant/delete/{{ variant.pk }}">Delete</a></b>


    {% with variant as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
