{% extends "lifespan/base.html" %}
{% load url from future %}
{% block head_title %}Variant Types{% endblock %}
{% block title %}Variant Types{% endblock %}
{% block hierarchy %}
   » <a href="{% url 'variants' %}">Variants</a>
   » Variant Types
{% endblock %}
{% block options %}
    | <a href="/admin/lifespan/varianttype">Admin</a>
{% endblock %}
{% block content %}
    {% for object in object_list %}
        <li><a href="http://denigma.de/lifespan/variants/?variant_type={{ object.id }}">{{ object }}</a> (<a href="{{ object.get_absolute_url }}">Browse</a>)</li>
    {% endfor %}
{% endblock %}