{%  extends "lifespan/base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Variants{% endblock %}

{% block hierarchy %}
    » <a href="{% url 'variants' %}">Variants</a>
{% endblock %}

{% block options %}
    <a href="{% url 'add_variant' %}">Add</a> /
    <a href="{% url 'create-variant' %}">Create</a> |
    <a href="{% url 'variant-bulk-insert' %}">Bulk Insert</a> |
    <a href="{% url 'variant-index' %}">Index</a> |
    </b>(<a href="/admin/lifespan/variant/">Admin</a>)<b>
{% endblock %}

{% block title %}
    <div id=title-header><span style="font-family: 'Copperplate Gothic Light'; color: #669966; font-size: 30px" >
    Longevity Variant Database</span>
{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td valign="top">
{#                <img src="http://dgallery.s3.amazonaws.com/LVDB_logo.svg" alt="LVDB - Longevity Variants Datbase" height="600" width="600">#}
                {{ entry.content|markdown|hyper|recross|safe }}
                <hr>
                     <h3>
{#                    <a href="{% url 'variant-list' %}">Variant List</a> |#}
                        <a href="{% url 'populations' %}">Populations</a> |
                        <a href="{% url 'study_types' %}">Study Types</a> |
                        <a href="{% url 'variant_types' %}">Variant Types</a> |
                        <a href="{% url 'or_types' %}">Odds Ratio Types</a> |
                        <a href="{% url 'technologies' %}">Technologies</a> |
                        <a href="{% url 'states' %}">States (Choices)</a> |
                        <a href="{% url 'variant-issues' %}">Issues</a>
                     </h3>
              <hr>
              <form action="" method="POST">{% csrf_token %}


                <i>{{ form.filter.help_text }}</i><br>
                <input type="submit" value="Search " />{{ form.filter }} <br>
                 <i>{{ form.term.help_text|safe }}</i><br>
                <input type="submit" value="Term    " />{{ form.term }}  <br>
                {{ filter.form.as_p }}
                {{ variantsfilter }}
                      {% for choice, chr in form.chromosome.field.choices %}
                      {% if forloop.counter == 13 %}
                          <br>
                      {% endif %}
                      {% if choice == 'MT' %}
                         <a href="{% url 'variants' choice %}"><img src="https://s3.amazonaws.com/denigma/m{{ choice }}.gif" alt="{{ choice }}" width="54px" height="90px" ></a>
                      {% else %}
                           <a href="{% url 'variants' choice %}"><img src="https://s3.amazonaws.com/denigma/m{{ choice }}.png" alt="{{ choice }}" width="50px" height="100px" ></a>
                      {% endif %}
                     <label for="id_chromosome_{{ choice }}"><input type="checkbox" name="chromosome" value="{{ choice }}" id="id_chromosome_{{ choice }}" /> </label>
                 {% endfor %}<br>
                {{ form.output }}Export results
              </form>
            </td>
             <td valign="top" align="right" style="width: 125px">
               {% for image in entry.images.all reversed %}<br>
                   <a href="{{ image.get_absolute_url }}"><img src="{{ image.url }}" alt="{{ image.name }}" width="125" height="125"></a>
{#                   {% if not forloop.last %} ... ... ...{% endif %}#}
               {% endfor %}
            </td>
        </table>
        <table width="100%">
            <tr>
                <td valign="top">
                    {% render_table table %}
                 </td>
               </tr>
        </table>
    <hr>
        <center>
            <a href="{% url 'add_variant' %}" class="btn btn-success btn-large">Suggest a new study</a>
            <a href="{% url 'contact'  %}" class="btn btn-danger btn-large">Report a database issue</a>
        </center>
    {% if entry.text %}
        {% with entry as object %}
            {% include "comments/wrapper.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}