{% extends "lifespan/base.html" %}
{% load url from future %}
{% block head_title %}{{ object }}{% endblock %}
{% block title %}{{ object }}{% endblock %}
{% block hierarchy %}
   » <a href="{% url 'variants' %}">Variants</a>
   » <a href="{% url 'variant_types' %}">Variant Types</a>
   » {{ object }}
{% endblock %}
{% block options %}
    | <a href="/admin/lifespan/varianttype/{{ object.pk }}">Admin</a>
{% endblock %}
{% block content %}
    {% for variant in object.variant_set.all %}
        <li><a href="{{ variant.get_absolute_url }}">{{ variant }}</a> {% if variant.pvalue %}({{ variant.pvalue }}){% endif %} {% if variant.factors.all %}{% for factor in variant.factors.all %}<a href="{{ factor.get_absolute_url }}">{{ factor }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}{% endif %}</li>
    {% endfor %}
    {% include "comments/wrapper.html" %}
{% endblock %}
