{%  extends "lifespan/base.html" %}

{% load url from future %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Variants{% endblock %}

{% block hierarchy %}
    » <a href="/lifespan/variants/">Variants</a>
{% endblock %}

{% block options %}
    <a href="/lifespan/variant/add">Add</a> /
    <a href="/lifespan/variant/create">Create</a> |
    <a href="{% url 'variant-bulk-insert' %}">Bulk Insert</a> |
    <a href="{% url 'variant-index' %}">Index</a> |
    </b>(<a href="/admin/lifespan/variant/">Admin</a>)<b>
{% endblock %}

{% block title %}
    <div id=title-header><span style="font-family: 'Copperplate Gothic Light'; color: #669966; font-size: 30px" >
    Longevity Variant Database</span>{% endblock %}

{% block content %}
    <br>
    <table width="100%">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
                 <center>
{#                    <h3><a href="{% url 'variant-list' %}">Variant List</a> |#}
                    <a href="{% url 'populations' %}">Populations</a> |
                    <a href="{% url 'study_types' %}">Study Types</a> |
                    <a href="{% url 'technologies' %}">Technologies</a> |
                    <a href="{% url 'states' %}">States (Choices)</a></h3>
                </center>
             </td>
             <td valign="top" align="right" style="width: 400px">
               {% for image in entry.images.all reversed %}
                   <img src="{{ image.url }}" alt="{{ image.name }}" width="125" height="125">
                   {% if not forloop.last %} ... ... ...{% endif %}
               {% endfor %}
            </td>
                    </table>
                <hr>
                    <form action="" method="POST">
    {% csrf_token %}
        <input type="submit" value="Filter" />{{ form.filter }}
        {{ filter.form.as_p }}
        {{ variantsfilter }}
        </tr>
        <table width="100%">
            <tr>
                <td valign="top">
                    {% render_table table %}
                 </td>
               </tr>
        </table>
    {% if entry.text %}
        {% with entry as object %}
            {% include "comments/wrapper.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}