{% extends "lifespan/base.html" %}
{% load url from future %}
{% block head_title %}Variants Index{% endblock %}
{% block title %}Variants Index{% endblock %}
{% block hierarchy %}
   » <a href="/lifespan/variants/">Variants</a>
   » Index
{% endblock %}
{% block options %}
    <a href="/lifespan/variant/add">Add</a> /
    <a href="/lifespan/variant/create">Create</a> |
    <a href="{% url 'variant-bulk-insert' %}">Bulk Insert</a> |
    <a href="{% url 'variant-index' %}">Index</a> |
    </b>(<a href="/admin/lifespan/variant/">Admin</a>)<b>
{% endblock %}
{% block content %}
    <center>
        <h3><a href="{% url 'variants' %}">Variant Table</a></h3>
        <h3><a href="{% url 'variant-list' %}">Variant List</a></h3>
        <h3><a href="{% url 'populations' %}">Populations</a></h3>
        <h3><a href="{% url 'study_types' %}">Study Types</a></h3>
        <h3><a href="{% url 'technologies' %}">Technologies</a></h3>
        <h3><a href="{% url 'states' %}">States</a><br>
   </center>
{% endblock %}