{% extends 'longevitydb/base.html' %}

{% block main %}
      <h3 class="title">About</h3>
      <p class="about">Longevity DB is a collaborative effort to catalogue all published genetic variants relevant to human longevity.</p>
      <p class="about">The project is directed by the <a href="#">Health Extension Research Foundation</a>, in collaboration with the <a href="http://buckinstitute.org">Buck Institute for Research on Aging</a> and the <a href="">Global Computing Initiative</a>.</p>
      <p class="about">Many scientists, programmers and volunteers have helped contributed to Longevity DB, including: Joe Betts-LaCroix, Kristen Fortney, Daniel Wuttke, Eric K. Morgen, Nick Schaum, John M. Adams, Jessica Choi, Barry Goldberg, Amir Levine, Maria Litovchenko, Aiste Narkeviciute, Emily Quist, Navneet Ramesh, Justin Rebo, Dmitri Shytikov, Jimi Vyas,
        Chaoyi Du, Tal Ronnen Oron, Julian Chytrowski, and Sean Mooney.</p>
{% endblock main %}