{% extends 'longevitydb/base.html' %}
{% load render_table from django_tables2 %}

{% block main %}
    <table>
        <tr>
            <td>
                <h3 class="title">Search</h3>
            </td>
            <td>
                <form action="/longevitydb/search/{{ term }}/{{ keyword }}/" method="post" name="example form" >
                    {% csrf_token %}
                    <button type="submit" style="border: 0; background: transparent">
                        <img src="http://dgallery.s3.amazonaws.com/download.jpg" width="60">
                    </button>
                </form>
            </td>
        </tr>
    </table>
    <div class="search-wrapper">
    <div class="promption">Search by variant, gene, study or associated filed (example: ADRB2)</div>
    <form action="/longevitydb/search/" method="POST">{% csrf_token %}
        <input type="submit" value="Basic Search" />
        <input type="text" name="keyword" class="search" />
    </form>
    </div>
    <div class="search-wrapper">
        <div class="promption">Search by Gene Ontology term (example: insulin)</div>
    <form action="/longevitydb/search/" method="POST">{% csrf_token %}
            <input type="submit" value="Ontology search" />
            <input type="text" name="term" class="search" />
        </form>
    </div>
    <hr>
    <div class="longevitydb-result">
        {% render_table table %}
    </div>

{% endblock main %}





