{% extends 'longevitydb/base.html' %}
{% load render_table from django_tables2 %}

{% block main %}

    <table border="1">
        <tr>
            <td>
{#                <h3 class="title">Search</h3>#}

                <div class="search-wrapper">
            {#    <div class="promption"></div>#}
                <form action="/longevitydb/search/" method="POST">{% csrf_token %}
                    <input type="submit" value="Submit" />
                    <input type="text" name="keyword" class="search" placeholder="variant, gene, study or associated filed (example: ADRB2)" />
                    <input type="text" name="term" class="search" placeholder="Gene Ontology term (example: insulin)" />
                </form>
                </div>
            </td>
            <td>
                <form action="/longevitydb/search/{{ term }}/{{ keyword }}/" method="post" name="example form" >
                    {% csrf_token %}

{#                    <button type="submit" style="border: 0; background: transparent">#}
{#                        <img src="http://dgallery.s3.amazonaws.com/download.jpg" width="30">#}
{#                    </button>#}
            <input type="submit" value="Download">
             </form>
            </td>
        </tr>
    </table>

{#    <div class="search-wrapper">#}
{#        <div class="promption"></div>#}
{#    <form action="/longevitydb/search/" method="POST">{% csrf_token %}#}
{#            <input type="submit" value="Ontology search" />#}
{#           #}
{#        </form>#}
{#    </div>#}
    <hr>
    <div class="longevitydb-result">
        {% render_table table %}
    </div>

{% endblock main %}





