{% extends "site_base.html" %}

{% load url from future %}

{% block head_title %}Search{% endblock %}

{% block hierarchy %}
    >
    <a href="/search/">Site-Wide Search</a>
{% endblock hierarchy %}

{# {% block title %}Search{% endblock %} #}

{% block content %}
    <form method="get" action=".">
        <table>
            <tr>
                <td>
                    {{ form.as_p }}
                    &nbsp;
                    <input type="submit" value="Search">
                </td>
                <td valign="top"">
                <br><br>
                {% if query %}
                    <h3>Results</h3>
                    {%  if  page.object_list %}
                        {% for result in page.object_list %}
                            {# {% if result.object.published %} #}
                            <p>
                                <b><a href="{{ result.object.get_absolute_url }}">{{ result.object }}</a></b>
                                {% if result.object.categories %}
                                    (<a href={% url 'detail-entry' result.object.slug %}>View</a> |
                                    <a href={% url 'update-entry' result.object.pk %}>Update</a>)
                                {% endif %}
                            </p>
                            {# {% endif %} #}
                        {% empty %}
                            <p>No results found.</p>
                        {% endfor %}
                   {% endif %}
                      <p>No results found</p>
                    {% if page.has_previous or page.has_next %}
                        <div>
                            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                            |
                            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                            {{ page }}
                        </div>
                    {% endif %}
                {% else %}
                    {# Show some example queries to run, maybe query syntax, something else? #}
                    <p>Search for instance for entries related to "aging".</p>
                {% endif %}
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
