{% extends 'about/base.html' %}

{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    » {{ entry.title }}
{% endblock %}

{% block title %}{{ entry.title }}{% endblock %}

{% block content %}
    <table width="100%" border="0">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" style="width:250px">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}