{% extends "about/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block hierarchy %}
    > <a href="/about/">About</a> >
    <a href="/about/matrix/0">Matrix</a> >
    <a href="/about/matrix/{{ number }}">Path of Truth {{ number }}</a>
{% endblock %}

{% block title %}{{ path.title }}{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td>
                {{ path.content|markdown|hyper|recross|safe }}
                {% if number != 0 and number != "0" %}
                    <center>
                    <b><a href="choice/red">Truth</a></b>
                    <img src="http://3.bp.blogspot.com/_ahOToy1EVkE/S1ssdEoVTSI/AAAAAAAAAtM/_xb1-kNwtIM/s400/Matrix.jpg" alt="chose a pill">
                    <b><a href="choice/blue">Lie</a></b>
                    </center>
                {% endif %}
            </td>
            <td valign="top" style="width: 200px">
                {% for image in path.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="200" height="200" />
                {% endfor %}
            </td>
        </tr>
    </table>
{% endblock %}
