{% extends "site_base.html" %}

{% block hierarchy %}
<div class="line">
    <span class="left">
        <a href="/admin">{{ SITE_NAME }} db</a> >
        <a href="/about">About</a> >
        Privacy of usage

   </span>
   <span class="centre">
       Menu:
       <a href="/about">About</a> |
       <a href="/about/what_next">What Next?</a> |
       <a href="/about/terms">Terms</a> |
       <a href="/about/privacy">Privacy</a>
   </span>
</div>
{% endblock %}

{% block title %}Privacy{% endblock %}

{% block content %}
All personal data will be kept confident by Denigma. Do not worry.
{% endblock %}
