{% extends "site_base.html" %}

{% block title %}Tutorial{% endblock %}

{% block content %}
<p>To switch to the admin interface of Denigma click either on Denigm db on the left top in the hierarchy navigation or under your username in the right corner on admin. Both ways are equivallent.</p>

<p>You will now be confronted with a list of all the applications installed in denigma as well as all the models which represent database tables.</p>

<p>You can click on a given model in an application section and get a list of all entries in the table.</p>

<p>Each entry can be seen with all its associated information and should be fully editable.</p>

{% endblock %}

         
