{% extends "about/base.html" %}

{% block hierarchy %}
    » What next?
{% endblock %}

{% block subtitle %}What's next?{% endblock %}

{% load i18n %}

{% load ifsetting_tag %}

{% comment %}{% block head_title %}{% trans "What Next?" %}{% endblock %}{% endcomment %}

{% block body %}
    {% if user.is_authenticated %}
        <p>Here are some things to do to get started with Denigma:</p>
        
        <dl class="what_next">
            {% if not entry.text or entry.text %}
                <table>
                <tr>
                    <td>
                        <dt><a href="{% url acct_email %}">Verify an email address</a></dt>
                        <dd>so you can receive notifications, reset your password, other people can find you more easily and most importantly receive access to capacity to modify Denigma.</dd>

                        <dt><a href="{% url profile_detail user.username %}">Fill out your profile</a></dt>
                        <dd>so that Denigma can serve your needs and interests better.</dd>

                        {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                        {% else %}
                        {% if user.is_staff %}
                            <dt><a href="{% url admin_invite_user %}">Invite more people to the participate on this project</a> [admin only]</dt>
                            <dd>so the singularity can be reached earlier.</dd>
                        {% endif %}
                        {% endifsetting %}
{#                        <dt> <a href="/polls">Vote in a poll</a></dt>#}
{#                        <dd> so we know the consensus on most important fundamental questions to work on as well as decide on the destiny of Denigma.</dd>#}
{#                        <dt> <a href="/wiki">Check out the Wiki</a></dt>#}
{#                        <dd> which is an innovative Wiki of the next generation to create a common Ontology for computational purposes.</dd>#}
{#                        <dt> <a href="/blog">Engage in the Blog</a></dt>#}
{#                        <dd> and therefore study a selection of articles on cutting-edge knowledge and technology as well as news on Denigma and its progress towards singularity.</dd>#}
{#                        <dt> <a href="/data">Access the Data App</a></dt>#}
{#                        <dd> and meet Denigma's internal data structure.</dd>#}
{#                        <dt> <a href="/links">View Links</a></dt>#}
{#                        <dd> to external resources and information.</dd>#}
{#                        <dt> <a href="/gallery">See Gallery</a></dt>#}
{#                        <dd> to upload images/figures/pictures/photos which can be included anywhere in Denigma where you like it.</dd>#}
{#                        <dt> <a href="/tutorials">Do the Tutorials</a></dt>#}
{#                        <dd> to learn how Denigma can effectively be altered.</dd>#}
                        <dt> <a href="/duties">Call for Duty</a></dt>
                        <dd> to accelerate reaching the singularity. Engage on tasks, todos and quests.</dd>
                        <dt> <a href="/about/matrix/0">Reveal the Matrix</a></dt>
                        <dd> and change your view of the world forever.</dd>

                        <table width="100%" border=0>
                            {#   %}<h3>Paths of Truth</h3>#}
                            <tr>
                                <td valign="top" align="center">
                                    <a href="/about/matrix/I"><b>Become a Scientist</b><br>
                                    <img src="http://dgallery.s3.amazonaws.com/luminating-dna.jpg" alt="Become a Scientist" width="200">
                                    </a>
                                </td>
                                <td valign="top" align="center">
                                    <a href="/about/matrix/II"><b>Become a Developer</b>
                                    <img src="http://dgallery.s3.amazonaws.com/longevity_symbol_sticker.jpg" alt="Longevity Symbol" width="210">
                                    </a>
                                </td>
                                <td valign="top" align="center">
                                    <a href="/about/matrix/III"><b>Become an Artist</b>
                                    <img src="http://dgallery.s3.amazonaws.com/design.jpg" alt="Design" width="270">
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td valign="top">
                        <img src="http://dgallery.s3.amazonaws.com/Singularity3.jpg" alt="What's next?">
                    </td>
                </tr>
                </table>
            {% else %}
                {{ entry.content|safe }}
            {% endif %}
        </dl>      
    {% else %}
            {% url acct_login as login_url %}
            
            <p class="what_next">
                {% ifsetting ACCOUNT_OPEN_SIGNUP %}
                    {% url acct_signup as signup_url %}
                    {% blocktrans %}Start by <a href="{{ signup_url }}">signing up</a> and <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Start by <a href="{{ login_url }}">logging in</a>.{% endblocktrans %}
                {% endifsetting %}
            </p>
        {% endif %}

{% endblock %}
