<!DOCTYPE html>
<html>
    <head>
        <title>jQuery test page</title>
        <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
        <script type="text/javascript">
            function send_request(){
                $.get(location.href, function(data){
                    $("#idName").html(data.name);
                    $("#idBirthday").html(data.birthday);
                });
            }
        </script>
    </head>
    <body>
        Object in template called without AJAX: {{ object }}<hr/>
        <input type="button" onclick="send_request();" value="Request this page with AJAX" /><br/>
        <b>Name via AJAX:</b><span id="idName"></span><br/>
        <b>Birthday via AJAX:</b><span id="idBirthday"></span><br/>
    </body>
</html>


