{% extends "experts/base.html" %}

{% load url from future %}

{% block head_title %}Collaboration {{ object.title }}{% endblock %}

{% block hierarchy %}
    > {{ object.title }}
    | <a href="{% url 'update-collaboration' object.pk %}">Update</a>
{% endblock %}

{% block title %}Collaboration {{ objects.title }}{% endblock %}

{% block content %}
    <b>Title</b>: <a href="{{ object.project.get_absolute_url }}">{{ object.project.title }}</a><br>
    <b>Description</b>: {{ object.project.text }}<br>
    {% if object.labs.all %}
        <b>Labs ({{ object.labs.all|length }})</b>:
        {% for lab in object.labs.all %}
            <a href="{{ lab.get_absolute_url }}">{{ lab }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}<br>
    {% endif %}
    {% if object.members.all %}
        <b>Members ({{ object.labs.all|length }})</b>:
        {% for member in object.members.all %}
            <a href="{{ project.get_absolute_url }}">{{ member}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    <hr>
    <b><a href="{% url 'update-collaboration' object.pk %}">Update</a></b>
    {% include "comments/wrapper.html" %}
{% endblock %}