{% extends "experts/base.html" %}

{% load url from future %}
{% load render_table from django_tables2 %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block head_title %}Collaborations{% endblock %}

{% block hierarchy %}
    > <a href="{% url 'collaborations' %}">Collaborations</a>
    | <a href={% url 'create-collaboration' %}>Create</a>
{% endblock %}

{% block title %}Collaborations{% endblock %}

{% block content %}
    {% include "data/render_entry.html" %}
    {% render_table table %}
    <hr>
    <b><a href="{% url 'create-collaboration' %}">Create</a></b>
    {% if entry.text %}
        {% with entry as object %}
            {% include "comments/wrapper.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}