{% extends "experts/base.html" %}

{% load url from future %}

{% block head_title %}Collaboration {{ object.title }}{% endblock %}

{% block hierarchy %}
    > {{ object.title }}
    | <a href="{% url 'update-collaboration' object.pk %}">Update</a>
{% endblock %}

{% block title %}Collaboration <a href="{{ object.project.get_absolute_url }}">{{ object.project.title }}</a>{% endblock %}

{% block content %}
    {% if object.labs.all %}
        <b>Involved Labs/Organisations ({{ object.labs.all|length }})</b>:
        {% for lab in object.labs.all %}
            <a href="{{ lab.get_absolute_url }}">{{ lab }}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}<br>
    {% endif %}
    {% if object.members.all %}
        <b>Participating Members ({{ object.members.all|length }})</b>:
        {% for member in object.members.all %}
            <a href="{{ project.get_absolute_url }}">{{ member}}</a>{% if not forloop.last %}, {% endif %}
        {% endfor %}<br><br>
    {% endif %}
        {% with object.project as entry %}
            {% include "data/render_entry.html" %}
        {% endwith %}<br>
    <hr>
    <b><a href="{% url 'update-collaboration' object.pk %}">Update</a></b>
    {% include "comments/wrapper.html" %}
{% endblock %}