{% extends "site_base.html" %}

{% block hierarchy %}
<div class="line">
    <span class="left">
        <a href="/admin>{{ SITE_NAME }} db</a> >
        <a href="/experts">Experts</a> >
        Expert =
        <a href="{{ expert.get_absolute_url }}">{{ expert.user_name }}</a>
    <span>
</div>
{% endblock %}

{% block title %}Expert{% endblock %}

{% block subtitle %}{{ expert.user_name }}{% endblock %}

{% load obfuscation %}

{% block content %}

<p>First name:<b> {{ expert.first_name }}</b></p>
<p>Last name:<b> {{ expert.last_name }}</b></p>
<p>Email:<b> {{ expert.email|obfuscate }}</b></p>
<p>Gender:<b> {{ expert.gender }}</b></p>
<p>Affliation: <b> {{ expert.affliation }}</b></p>
<p>Street: <b> {{ expert.street }}</b></p>
<p>State: <b> {{ expert.state }}</b></p>
<p>Zip code: <b> {{ expert.zip_code }}</b></p>
<p>Country: <b> {{ expert.country }}</b></p>
<p>Work: <b> {{ expert.work }}</b></p>
<p><a href="{{ expert.website }}">Website</a></p> 
<p>{% endblock %}</p>



