{% extends "site_base.html" %}

{% block title %}List of Experts{% endblock %}

{% block content %}

<p>These are the experts on one of the most fundamental questions in biology: Why do we age?</p>

<table border="1">
    <tr>
    <td><b>ID</b></td>
    <td><b>Name</b></td>
    <td><b>Affliation</b></td>
    <td><b>Website</b></td>
    <td><b>E-mail address</b></td>
    <td><b>Work</b></td>
    </tr>
    {% for e in experts %}
        <tr>
        <td>{{ e.id }}</td>
        <td>{{ e.user_name }}</td>
        <td>{{ e.affliation }}</td>
        <td><a href="{{ e.website }}">lab</a></td>
        <td><a href="{{ e.email }}">{{ e.email }}</a></td>
        <td>{{ e.work }}</td>
        </tr>
    {% endfor %}
</table>
	
{% endblock %}
