{% extends "experts/base.html" %}

{% load url from future %}
{% load render_table from django_tables2 %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block hierarchy %}
    » <a href="{% url 'experts-profiles' %}">Profiles</a>
    | <a href="{% url 'create-expert-profile' %}">Create</a>
{% endblock %}

{% block title %}Profiles{% endblock %}

{% block content %}
    {% include "data/render_entry.html" %}
    <form action="" method="POST">
        {% csrf_token %}
        <input type="submit" value="Filter" />{{ form.filter }}
        {{ filter.form.as_p }}
        {{ filterset }}
    </form>
    {% render_table table %}
    {% if entry.text %}
        {% with entry as object %}
            {% include "comments/wrapper.html" %}
        {% endwith %}
    {% endif %}
{% endblock %}