{% extends "articles/base.html" %}

{% load url from future %}
{% load rendering %}
{% load abstraction %}
{% load hyperlink %}
{% load crosslink %}
{% load sets %}

{% block hierarchy %}
    > <a href="/articles">Index</a>
{% endblock %}

{% block options %}
    <a href={% url 'create-entry' %}>Create</a> </b>(<a href="/admin/data/entry/add/">Admin</a>)<b>
{% endblock %}

{% block title %}<a href="{% url 'detail-entry' entry.slug %}"><h2>{{ entry.title }}</h2></a>{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" style="width: 250">
                {% for image in entry.images.all %}
                    <a href="{% url 'detail-entry' entry.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                {% endfor %}
            </td>
        </tr>
    </table>
    {% for article in object_list %}
        <hr>
        <table border="0" color="white" width="100%">
            <tr>
                <td valign="top">
                    <h3><a href="/articles/{{ article.id }}">{{ article.title }}</a></h3
                    <div class="entry_meta">
                         Created on {{ article.created }} by <a href={% url 'profile_detail' article.creator.username %}> {{ article.creator.username }}</a>
                         & updated on {{ article.updated }}
                         {% if article.updates.all|unique|length > 1 %} by
                             {% for updater in article.updates.all|unique %}
                                 {% if updater != article.creator %}<a href{{ updater.get_absolute_url }}>{{ updater }} </a>{% endif %}
                             {% endfor %}
                         {% endif %}
                    </div>
                    <div class="entry_body">
                        {{ article.text|abstract|markdown|hyper|safe}}
                    </div>
                    <div class="tags">
                        <b>Keywords:</b>
                        {% for tag in article.tags.all %}
                            <a href={% url 'entry-tag' tag.pk %}>{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                         {% endfor %}
                    </div>
                {% if user.is_superuser %}
                    <a href={% url 'reference' article.slug %}>Reference</a>
                    | <a href={% url 'presentation' article.slug %}>Presentation</a>
                    | <a href={% url 'connect' article.slug %}>Connect</a>
                {% endif %}
                </td>
                <td align="right" valign="top" style="width: 200px">
                    {% for image in article.images.all %}
                        <img src="{{ image.url }}" alt="{{ images.name }}" width="200" height="200">
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% endfor %}
    <hr>
    <b><a href={% url 'create-entry' %}>Create</a></b> (<a href="/admin/blog/post/add/">Admin</a>)
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}

