{% extends "articles/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load negletion %}

{% block hierarchy %}
    > <a href="/articles">Articles</a> >
    Article >
    <a href="/articles/{{ post.id }}">{{ post.title }}</a>
{% endblock %}

{% block subtitle %}Article{% endblock %}

{% block content %}

    <div class="post_body">
      {{ post.text|negle|restructuredtext|neglete|markdown|hyper|safe }}
    </div>

    <div class="tags">
      <b>Keywords:</b>
      {% for tag in post.tags.all %}
          <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
      {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </div>

    <br>

    <div class="images">
       {% for image in post.images.all %}
          <img src={{ image.url }} alt={{ image.name }}/>

       {% endfor %}
    </div>

    <b><a href="/admin/blog/post/{{ post.id }}/">Edit article</a></b>

{% endblock %}






