{% extends "articles/base.html" %}

{% load markup %}
{% load hyperlink %}

{% block hierarchy %}
<div class="line">
    <span class="left">
        <a href="/admin">{{ SITE_NAME }} db</a> >
        <a href="/articles">Articles</a> >
        Article >
        <a href="/articles/{{ post.id }}">{{ post.title }}</a>
   </span>
</div>
{% endblock %}

{% block subtitle %}Article{% endblock %}

{% block content %}

<h1>{{ post.title }}</h1>

<div class="post_meta">
 created on {{ post.created }}
 modified on {{ post.updated }}
</div>
<br>

<div class="post_body">
  {{ post.text|markdown|hyper|safe }}
</div>

<div class="tags">
  Keywords:
  {% for tag in post.tags.all %}
      <a href="/blog/tag/{{ tag }}">{{ tag }}</a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</div>

<p> </p>

<div class="images">
   {% for image in post.images.all %}
      <img src={{ image.url }} alt={{ image.name }}/>

   {% endfor %}
</div>
<a href="/admin/blog/post/{{ post.id }}/">Edit</a>

{% endblock %}






