{% extends "articles/base.html" %}

{% load url from future %}
{% permissions %}

{% block hierarchy %}
    > Article
    > <a href="/articles/{{ article.pk }}">{{ article.title }}</a>
{% endblock %}

{% block options %}
    <a href={% url 'update-entry' article.pk %}>Update</a> </b>(<a href="/admin/data/entry/{{ article.pk }}/">Admin</a>)<b>
{% endblock %}

{#{% block title %}{{ article.title }}{% endblock %}  #}

{% block content %}
    {% if article.published %}
        {% include "articles/article.html" %}
    {% else %}
         {% if request.user|allowed:article %}
               {% include "articles/article.html" %}
         {% else %}
         SECRET!
        {% endif %}
    {% endif %}
{% endblock %}






