{% extends "site_base.html" %}

{% block head_title %}Annotations{% endblock %}

{% block base_hierarchy %}
    > <a href="/annotations/">Annotations</a>
{% endblock %}

{% block options %}
    <a href="/annotations/">Index</a> |
    <a href="/annotations/classifications/">Classes</a> |
    <a href="/annotations/tissues/">Tissues</a>
    <a href="/annotations/tissue/archive/">Archive</a> |
    <a href="/annotations/species">Species</a>
    <a href="/annotations/species/archive">Archive</a>
    {# <a href="/annotations/bulk_upload">Bulk Upload</a> #}
{% endblock options %}

{% block title %}Annotations{% endblock %}
