{% extends "annotations/base.html" %}

{% load mptt_tags %}

{% block head_title %}Classifications{% endblock %}

{% block hierarchy %}
    > Classifications
{% endblock %}

{% block title %}Molecule Classifications{% endblock %}

{% block content %}
    <p>Dengima developed a sophisticated classification hierarchical schema for biological entities.</p>
    <ul>
        {% recursetree nodes %}
            <li>
                <a href="/annotations/classification/{{ node.pk }}/">{{ node }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        <a href="/annotations/classification/{{ node.pk }}/">{{ children }}</a>
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>
   <hr>
   <b><a href="/annotations/classification/add/">Add classification</a></b>
   (<a href="/admin/annotations/classification/add/">Admin</a>)

{% endblock %}


