{% extends "annotations/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ classification.title }}{% endblock %}

{% block hierarchy %}
    > <a href="/annotations/">Annotations</a>
    > <a href="/annotations/classifications">Classes</a>
    > {{ classification.title }}
{% endblock %}

{% block subtitle %}Classification{% endblock %}

{% block content %}
   <br>
   <h4>{{ classification.title }} ({{ classification.abbreviation }})</h4>
   <p>{{ classification.description|markdown|hyper|recross|safe }}</p><br>
<br>
<b><a href="/admin/annotations/classification/{{ classification.pk }}">Edit class</b>
{% endblock %}

