{% extends "annotations/base.html" %}

{% load markup %}

{% block hierarchy %}
    > <a href="/annotations">Annotations</a>
    > Index
{% endblock hierarchy %}

{% block subtitle %}Index{% endblock %}

{% block content %}
{{ annotations.text|markdown|safe }}

    {% if user.is_authenticated %}
        <p>Specify the model and input the annotation data:</p>
        <form action="bulk_upload" method="POST">{% csrf_token %}
        Model:<input type="text" name="model"<br>
        <textarea name="data"></textarea><br>
        <input type="submit" value="Add"><br>
        </form>
    {% endif %}
{% endblock %}


