{% extends "annotations/base.html" %}

{% block hierarchy %}
    > Species
{% endblock hierarchy %}

{% block options %}
    <a href="/annotations/species/">Species
    <a href="/annotations/species/archive/">Archive</a>
    </b>(<a href="/admin/annotations/species/">Admin</a>)<b> |
    <a href="/annotations/species/add/">Add</a>
    </b>(<a href="/admin/annotations/species/add">Admin</a>)<b>
{% endblock %}

{% block title %}The Species of Denigma{% endblock %}

{% block content %}
    <p>Create and customize your creature from the five main species of Denigma: tiny yeast, elegant nematode, gracious fruit fly, ingenious mice, or the ferocious rats</p>
    {% for aspecies in species %}
    <hr>
    <table width="100%">
        <td> 
            <h4>{{ aspecies.common_name }}</h4>
            <i>{{ aspecies.latin_name }}</i> (id = {{ aspecies.taxid }})
            <br>
            {{ aspecies.description }}
            <a href="/annotations/species/{{ aspecies.pk }}">Read more</a><br>
        </td>
        <td align="right" style="width: 150px">
            {% for image in aspecies.images.all %}
               <img src={{ image.url }} alt={{ image.name }} width="150" height="150">
            {% endfor %}
        </td>
    </table>
    <br>
    {% endfor %}
    <hr>
    <p>In <a href="/admin/">Denigma db</a> are many more species catographied. Check out the <a href="/annotations/species/archive/">archive</a>.
    <p><b><a href="/annotations/species/add/">Add species</a></b></p>
{% endblock %}
