{% extends "annotations/base.html" %}

{% block head_title %}Species Archive{% endblock %}

{% block hierarchy %}
     > <a href="/annotations/species/">Species</a>
     > Archive
{% endblock %}

{% block subtitle %}Species Archive{% endblock %}

{% block content %}
    {% for species in page.object_list %}
        {{ species.taxid }}
        <a href="/annotations/species/archive/{{ species.pk }}">{{ species.scientific_name }}</a>
        <br>
    {% endfor %}
    <br>
    {% if page.has_previous %}
        <a href="?page={{  page.previous_page_number }}">prev</a>
    {% endif %}
    | {{  page.number }} |
    {% if page.has_next %}
        <a href="?page={{  page.next_page_number }}">next</a>
    {% endif %}
    <hr>
    <a href="/admin/annotations/taxonomy/add/">Add species</a>
{% endblock %}
