{% extends "annotations/base.html" %}

{% load url from future %}
{% load render_table from django_tables2 %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Tissues{% endblock %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css"
{% endblock %}

{% block hierarchy %}
    > Tissues
{% endblock %}

{% block options %}
    <a href="/annotations/tissues/">Tissues</a>
    <a href="/annotations/tissue/archive/">Archive</a>
    </b>(<a href="/admin/annotations/tissue/">Admin</a>)<b> |
    <a href="/annotations/tissue/add/">Add</a>
    </b>(<a href="/admin/annotations/tissue/add">Admin</a>)<b>
{% endblock %}

{% block title %}Tissues{% endblock %}

{% block content %}
    {% if entry.text %}
        <table>
            <tr>
                <td valign="top">
                    {{ entry.content|markdown|hyper|recross|safe }}
                </td>
                <td valign="top" style="widht: 120px">
                    {% for image in entry.images.all %}
                        <img src="{{ image.url }}" alt="{{ image.name }}" width="120" height="120">
                    {% endfor %}
                </td>
            </tr>
        </table>
    {% else %}
        <p>These are all the tissues and cell types defined in an animal organism, hierarchical structured and fully described.</p>
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'tissue_hierarchy' %}">Hierarchy</a>
    {% endif %}
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_table }}
        {{ filter.form.as_p }}
        <input type="submit" value="Apply" />
        {{ filterset }}
    </form>
    {% render_table table %}

    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}


{% endblock %}