{% extends "annotations/base.html" %}

{% load url from future %}

{% block head_title %}Tissues{% endblock %}

{% block hierarchy %}
    > <a href="/annotations/tissues">Tissues</a>
    > Archive
{% endblock %}

{% block options %}
    <a href="{% url 'tissues' %}">Tissues</a>
    <a href="{% url 'tissue_archive' %}">Archive</a>
    </b>(<a href="/admin/annotations/tissue/">Admin</a>)<b></b> |
    <a href="{% url 'add_tissue' %}">Add</a>
    </b>(<a href="{% url 'add_tissue' %}">Admin</a>)<b>
{% endblock %}

{% block title %}Tissue Archive{% endblock %}

{% block content %}
    <p>These is an extensive archive of all the major tissues and cell types present in animal organism:</p>
    {% load mptt_tags %}
    <ul>
        {% recursetree tissues %}
            <li>
                <a href="{% url 'tissue' node.pk  %}">{{ node.name }}</a> {% if node.synonyms %}({{ node.synonyms }}){% endif %}
                {% if not node.is_leaf_node %}
                <ul class="children">
                    {{ children }}
                </ul>
                {% endif %}
            </li>
        {% endrecursetree tissues %}
    </ul>
    <br>
    <p><b><a href="{% url 'add_tissue' %}">Add tissue</a></b></p>
{% endblock %}

