{% extends "annotations/base.html" %}

{% block head_title %}Tissues{% endblock %}

{% block hierarchy %}
    > <a href="/annotations/">Annotations</a>
    > Tissue Archive
{% endblock %}

{% block subtitle %}Tissue Archive{% endblock %}

{% block content %}
<p>These is an extensive archive of all the major tissues and cell types present in animal organism:</p>
    <table border="0">
        <tr><td><b>Name</b></td>
            <td><b>Hierarchy</b></td>
        </tr>
        {% for tissue in tissues %}
        <tr>
            <td><a href="/annotations/tissues/{{ tissue.id }}">{{ tissue.name }}</td>
            <td>{{ tissue.hierarchy }}</td>
        </tr>
        
       {% endfor %}
    </table>
    <br>
    <p><b><a href="/admin/annotations/tissue/add">Add tissue</a></b></p>

    {% comment %}
    <hr>
    <h3>Add Tissue:</h3>
    <form action="add_tissues" method="POST">{% csrf_token %}
    <input type="text" name="tissues">
    </form>
    {% endcomment %}

{% endblock %}

