{% extends "annotations/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Tissue = {{ tissue.name }}{% endblock %}

{% block hierarchy %}
    > <a href="/annotations/tissues/">Tissues</a>
    > Tissue
    = {{ tissue.name }}
{% endblock %}

{% block options %}
    <a href="/annotations/tissues/">Tissues</a>
    <a href="/annotations/tissue/archive/">Archive</a> |
    <a href="/annotations/tissue/edit/{{ tissue.pk }}">Edit</a>
    </b>(<a href="/admin/annotations/tissue/{{ tissue.pk }}/">Admin</a>)<b> |
    <a href="/annotations/tissue/delete/{{ tissue.pk }}/">Delete</a>
{% endblock %}

{% block title %}{{ tissue.name|title }}{% endblock %}

{% block content %}
    {{ tissue.description|markdown|hyper|recross|safe }}
    {% if tissue.synonyms %}<p><b>Synonyms:</b> {{ tissue.synonyms }}</p>{% endif %}
    <p><b>Hierarchy:</b> {{ tissue.hierarchy }}</p>
    <b>Parent:</b> <a href="{{ tissue.parent.get_absolute_url }}">{{ tissue.parent }}</a><br>
    {% if tissue.notes %}<p><b>Notes:</b> {{ tissue.notes }}</p>{% endif %}
    {% for image in tissue.images.all %}
        <img src={{ image.url }} alt={{ image.name }} />
    {% endfor %}

{% with tissue as object %}
       {% include "comments/wrapper.html" %}
{% endwith %}

{% endblock %}