/*styles/app.less generates resources/css/app.css if you want to add some changes - edit less*/
html,
body {
  margin: 0;
  padding: 0;
}
button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  vertical-align: baseline;
  font-family: inherit;
  color: inherit;
}
body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  color: #4d4d4d;
  margin: 0 auto;
}
header {
  padding-top: 10px;
  z-index: 2;
  border-bottom: 1px solid navy;
  background: #87cefa;
  background: -webkit-gradient(linear, left top, left bottom, from(#00bfff), to(#87ceeb));
  text-align: center;
}
header h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #b3b3b3;
  color: rgba(255, 255, 255, 0.3);
  text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}
.dashboard {
  padding: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 25px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-left: 1px solid #87cefa;
  border-right: 1px solid #87cefa;
  overflow-x: hidden;
  overflow-y: none;
}
.dashboard_static {
  background-color: black;
  overflow: none;
  padding: 5px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  margin: 25px;
  border: 1px solid #ccc;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-left: 1px solid #87cefa;
  border-right: 1px solid #87cefa;
  overflow-x: hidden;
  overflow-y: none;
}
.board {
  margin: 15px;
  z-index: 2;
  border-top: 1px dotted #adadad;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 70%;
}

#bottombar {

    position: fixed;
    bottom: 10px;
    right: 10px;
}

div.pageheader
{
    cursor: pointer;

}

#userboard {
    display: inline-block;

    position: relative;
  bottom: 5px;

  float: left;
  vertical-align: bottom;


}

#messageboard {
    display: inline-block;
    position: relative;
    bottom: 5px;

    float: left;
    vertical-align: bottom;

}
#taskboard {
    display: inline-block;

    position: relative;
    bottom: 5px;

    float: left;
    vertical-align: bottom;

}
