/*styles/tasks.less generates resources/css/tasks.css if you want to add some changes - edit less*/
div.task {
  padding: 4px 0;
  border-bottom: 1px solid #eee;
  position: relative;
}
#newTaskText {
  min-height: 50px;
  width: 95%;
}
#new-task,
.edit {
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
#new-task {
  padding: 16px 16px 16px 60px;
  border: none;
  background: rgba(0, 0, 0, 0.02);
  position: relative;
  z-index: 2;
  box-shadow: none;
}
label[for='toggle-all'] {
  display: none;
}
#toggle-all {
  position: absolute;
  top: -42px;
  left: 12px;
  text-align: center;
}
#toggle-all:before {
  content: '»';
  font-size: 28px;
  color: #d9d9d9;
  padding: 0 25px 7px;
}
#toggle-all:checked:before {
  color: #737373;
}
/* Need this ugly hack, since only
WebKit supports styling of inputs */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  #toggle-all {
    top: -52px;
    left: -11px;
  }
}
#task-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#task-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px dotted #ccc;
}
#task-list li:last-child {
  border-bottom: none;
}
#task-list li.editing {
  border-bottom: none;
  padding: 0;
}
#task-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}
#task-list li.editing .view {
  display: none;
}
#task-list li .toggle {
  text-align: center;
  width: 35px;
}
#task-list li .toggle:after {
  font-size: 18px;
  content: '✔';
  line-height: 40px;
  font-size: 20px;
  color: #d9d9d9;
  text-shadow: 0 -1px 0 #bfbfbf;
}
#task-list li .toggle:checked:after {
  color: #85ada7;
  text-shadow: 0 1px 0 #669991;
  bottom: 1px;
  position: relative;
}
#task-list li label {
  margin: 20px 15px;
  display: inline-block;
}
#task-list li.completed label {
  color: #a9a9a9;
  text-decoration: line-through;
}
#task-list li .destroy {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #a88a8a;
}
#task-list li .destroy:hover {
  text-shadow: 0 0 1px #000000, 0 0 10px rgba(199, 107, 107, 0.8);
}
#task-list li .destroy:after {
  content: '✖';
}
#task-list li:hover .destroy {
  display: block;
}
#task-list li .edit {
  display: none;
}
#task-list li.editing:last-child {
  margin-bottom: -1px;
}
#task-count {
  float: left;
  text-align: left;
}
#filters {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
}
#filters li {
  display: inline;
}
#filters li a {
  color: #83756f;
  margin: 2px;
  text-decoration: none;
}
#filters li a.selected {
  font-weight: bold;
}
#clear-completed {
  float: right;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 11px;
  padding: 0 10px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
#clear-completed:hover {
  background: rgba(0, 0, 0, 0.15);
  box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.3);
}
#info {
  margin: 65px auto 0;
  color: #a6a6a6;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  text-align: center;
}
#info a {
  color: inherit;
}
