{% extends "questionnaire/base.html" %}
{% load todo %}
{% load rendering %}
{% load staticfiles %}

{% block extra_style %}
    <style>
        textarea {
            border:1px solid #999999;
            width:98%;
            margin:5px 0;
            padding:3px;
        }
    </style>
    <link rel="stylesheet" href="{% static "css/annotate.css" %}" type="text/css">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "js/highlights.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dictionary.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}

    <div class="main">
        <h1>{{ questionnaire.name }}</h1>
        <form action="" method="POST">{% csrf_token %}
            <p>
            <fieldset class="module aligned">
                {% for section in form.questionnaire.sections.all  %}
                    <h2>{{ section.name }}</h2>
                    {{ section.description|markdown|urlize  }}
                    {% if not "Stages" in section.name %}
                        {% for fld in form %}
                            {% if section.name.lower in fld.label.lower %}
                                <div class="form-row">
                                    <label class="{% if fld.field.required %} required {% endif %}">
                                        <b>
                                            {% if section.start %}
                                                {{ fld.label|number_letter:section.start }}.
                                            {% else %}
                                                {{ fld.label }}.
                                            {% endif %}
                                            {{ fld.help_text }}</b><br>
                                    </label>
                                    {{ fld }} {{ fld.errors }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <!-- see note in SectionForm docstring -->
                        {% for fld in form %}

                            {% if section.name.lower in fld.label.lower  %}
                                {% if not forloop.counter|divisibleby:2 %}
                                    <div class="form-row">
                                        <label class="{% if fld.field.required %} required {% endif %}">
                                            <b> {{ fld.label|number_letter:section.start }} . {{ fld.help_text }}</b><br>
                                        </label>
                                        {#  {{ fld }} {{ fld.errors } }#}
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        <br>
                        <table width="100%" border="1">
                            <tr>
                                <td valign="centre" align="left"><b>Stage</b></td>
                                <td valign="centre" align="left"><b>How could citizen scientists help at this stage? (Feel free to include multiple answers)</b></td>
                                <td valign="centre" align="left"><b>Are there any risks of involvement of citizen scientists? (Feel free to include multiple answers)</b></td>
                            </tr>
                            {% for fld in form %}
                                {% if section.name.lower in fld.label.lower %}
                                    {% if not forloop.counter|divisibleby:2 %}
                                        <tr>
                                            <div class="form-row">
                                                <label class="{% if fld.field.required %} required {% endif %}">
                                                    <td align="center"><b>  {{ fld.label|number_letter:section.start  }}.</b></td>
                                                    <td>{{ fld }} {{ fld.errors }}</td>
                                                    {% else %}
                                                    <td>{{ fld }} {{ fld.errors }}</td>
                                                </label>
                                            </div>
                                        </tr>
                                    {% endif  %}
                                {% endif %}
                            {% endfor %}
                        </table>
                    {% endif %}
                    {{ questionnaire|get_footnotes:section.name|markdown|urlize }}
                    <hr>

                {% endfor %}

            </fieldset>

            <div id="submit">
                <center>
                    <input id="submit-btn" type="submit" value="Submit" class="btn btn-primary btn-large">
                </center>
            </div>
            </p>
        </form>
    </div>


{% endblock %}