{% extends "questionnaire/base.html" %}
{% load todo %}
{% load rendering %}
{% block options %}
    Section {{ current }} of {{ form.total }}
{% endblock %}
{% block content %}
    <div class="main">
        <form action="" method="POST">{% csrf_token %}
            <fieldset class="module aligned">
            <h2>{{ form.name }}</h2>
            {{ form.description|markdown }}
            <!-- see note in SectionForm docstring -->
                {% for fld in form %}
                    <div class="form-row">
                        <label class="{% if fld.field.required %} required {% endif %}">
                           <b> {{ fld.label }}. {{ fld.help_text }}</b><br>
                        </label>
                        {{ fld }} {{ fld.errors }}
                    </div>
                {% endfor %}
            </fieldset>
            <div id="submit"><input id="submit-btn" type="submit" value="Continue"></div>
        </form>
    </div>
    {# <b>Footnotes:</b><br> #}
    {{ form.footnotes|safe }}

{% endblock %}