{% extends "questionnaire/base.html" %}
{% load todo %}
{% load rendering %}
{% load staticfiles %}

{% block options %}
    Section {{ current }} of {{ form.total }}
{% endblock %}

{% block extra_style %}
    <style>
        textarea {
            border:1px solid #999999;
            width:98%;
            margin:5px 0;
            padding:3px;
        }
    </style>
    <link rel="stylesheet" href="{% static "css/annotate.css" %}" type="text/css">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script src="{% static "js/highlights.js" %}" type="text/javascript"></script>
    <script src="{% static "js/dictionary.js" %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="main">
        <form action="" method="POST">{% csrf_token %}
            <fieldset class="module aligned">
            <h2>{{ form.name }}</h2>
            {{ form.description|markdown|urlize }}


            {% if not "Stages" in form.name %}
                {% for fld in form %}
                    <div class="form-row">
                        <label class="{% if fld.field.required %} required {% endif %}">
                        <b>
                         {% if form.start %}
                            {{ fld.label|number_letter:form.start }}.
                        {% else %}
                           {{ fld.label}}.
                        {% endif %}
                        </b>
                            {{ fld.help_text|markweg|safe }}<br> 
                        </label>
                        {{ fld }} {{ fld.errors }}
                    </div>
                {% endfor %}
            {% else %}
                <!-- see note in SectionForm docstring -->
                {% for fld in form %}
                    {% if not forloop.counter|divisibleby:2 %}
                        <div class="form-row">
                            <label class="{% if fld.field.required %} required {% endif %}">
                                <b> {{ fld.label|number_letter:form.start }} .</b> {{ fld.help_text|markweg|safe }}<br>
                            </label>
                            {#  {{ fld }} {{ fld.errors } }#}
                        </div>
                    {% endif %}
                {% endfor %}
                <hr>
                <table width="100%" border="1">
                    <tr>
                        {% with form.section.headers.all as headers %}
                            {% if headers %}
                                {% for header in headers %}
                                    <td valign="centre" align="left"><b>{{ header }}</b></td>
                                {% endfor %}
                            {% else %}
                                <td valign="centre" align="left"><b>Stage</b></td>
                                <td valign="centre" align="left"><b>How could citizen scientists help at this stage? (Feel free to include multiple answers)</b></td>
                                <td valign="centre" align="left"><b>Are there any risks of involvement of citizen scientists? (Feel free to include multiple answers)</b></td>
                            {% endif %}
                        {% endwith %}
                    </tr>
                    {% for fld in form %}
                        {% if not forloop.counter|divisibleby:2 %}
                        <tr>
                            <div class="form-row">
                                <label class="{% if fld.field.required %} required {% endif %}">
                                    <td align="center"><b>  {{ fld.label|number_letter:form.start  }}.</b></td>
                                        <td>{{ fld }} {{ fld.errors }}</td>
                                    {% else %}
                                        <td>{{ fld }} {{ fld.errors }}</td>
                                </label>
                            </div>
                        </tr>
                        {% endif  %}

                    {% endfor %}
                </table>
            {% endif %}

            <br>

            </fieldset>
            <div id="submit"><input id="submit-btn" type="submit" value="Continue"></div>
        </form>
    </div>
    {# <b>Footnotes:</b><br> #}
    {{ form.footnotes|markdown|urlize }}
{% endblock %}
