{% extends "data/base.html" %}

{% load url from future %}

{% block head_title %}Categories{% endblock %}

{% block hierarchy %}
    > Categories
    | <a href={% url 'create-category' %}>Create</a>
{% endblock %}

{% block title %}Categories{% endblock %}

{% block content %}
    {% if object_list %}
        {% for category in object_list %}
            <li><b><a href={{ category.get_absolute_url }}>{{ category }}</a></b>: {{ category.definition.text }} (<a href={% url 'update-category' category.pk %}>Update</a>)</li>
        {% endfor %}
    {% else %}
        <p>No data categories.</p>
    {% endif %}
{% endblock %}