{% extends "data/base.html" %}

{% load url from future %}
{% load permissions %}

{% block head_title %}Change - {{ object.of.title }}{% endblock %}

{% block hierarchy %}
    > Change
    > {{ object.of.title }}
{% endblock %}

{% block title %}Change: {{ object.of.title }}{% endblock %}

{% block content %}
    {% if object.of.published %}
        {% include "data/chg_detail.html" %}
    {% else %}
         {% if request.user|allowed:object.of  %}
               {% include "data/chg.html" %}
         {% else %}
         SECRET!
        {% endif %}
    {% endif %}
    {% include "comments/wrapper.html" %}
{% endblock %}


