{% extends "data/base.html" %}

{% load url from future %}


{% block head_title %}Change {{ change.title }}{% endblock %}

{% block hierarchy %}
    > <a href={% url 'list-changes' %}>Changes</a>
    > {{ change.title }}
{% endblock %}

{% block title %}Change - {{ changes.title|safe }}{% endblock %}

{% block content %}
     {% if change.of.published %}
        {% include "data/chg.html" %}
    {% else %}
         {% if request.user|allowed:object  %}
               {% include "data/chg.html" %}
         {% else %}
         SECRET!
        {% endif %}
    {% endif %}

    {% with change as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock content %}