{% extends "data/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Change List{% endblock %}

{% block hierarchy %}
    > <a href={% url 'list-entries' %}>Entries</a>
    > Changes
    > List
{% endblock %}

{% block options %}
    | <a href={% url 'data-change-feed' %}><img src="http://dgallery.s3.amazonaws.com/feed.png"></a>
{% endblock %}

{% block title %}Change List {% if object %}for "<a href={{ object.get_absolute_url }}>{{ object.title }}</a>"{% endif %}{% endblock %}

{% block content %}
    <table width="100%">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" style="width: 250px">
                {% for image in entry.images.all %}
                    <a href="{% url 'detail-entry' entry.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    {% if object_list %}
        {% for change in object_list %}
            <a href={% url 'profile_detail' change.by %}>{{ change.by }}</a>
            {% if change.initial %} initialized
            {% else %} changed
            {% endif %}
            <a href={% url 'detail-change' pk=change.pk %}>"<b>{{ change.title }}</b>"</a>
            on {{ change.at }}
            {% if not change.initial %}<a href={% url 'change' slug=change.slug %}> <b>Diffs</b></a> are on {{ change.diff }} {##}
            {% endif %}
            {# <a href={{ change.get_absolute_url }}>{{ change }}</a> #}
            {% if change.comment and change.comment != "Created entry" and change.comment != "Updated Entry" %}
                 <b>Comment</b>: {{ change.comment }}
            {% endif %}
            <br>
        {% endfor %}
        {% include "pagination.html" %}
    {% else %}
        <p>No data changes.</p>
    {% endif %}
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock content %}


{% comment %}
    {% for change in object.updates.all %}
        {{ change }}
    {% endfor %}
    {% endcomment %}