{% load url from future %}
{% load rendering %}
{% load negletion %}
{% load hyperlink %}
{% load crosslink %}
{% load sets %}

{% load pubmed_linker %}
<p>
    Created on {{ object.created }} by <a href={% url 'profile_detail' object.creator %}>{{ object.creator }}</a>
    {% if object.updates.all %}
            & updated by
            {% for updater in object.updates.all|unique %}
                {# {% if updater != object.creator %}{% endif %} #}
                    <a href={{ updater.get_absolute_url }}>{{ updater }}</a>
                on {{ object.updated }}
            {% endfor %}
    {% endif %}
</p>
{% if object.is_rest %}
    {{ object.text|hyper|negle|reST|neglete|markdown|relate|recross|generate|pubmed_links|safe }} {# {{ object.text|reST|safe }} {# restructuredtext }} #}
{% else %}
    {{ object.text|markdown|hyper|relate|recross|generate|pubmed_links|safe }}
{% endif %}
{% for image in object.images.all %}
    <center><a href="{{ image.get_absolute_url }}"><img src="{{ image.url }}" alt="{{ image.name }}" /></a></center>
{% endfor %}
<br>
<b>Tags</b>:
{% for tag in object.tags.all %}
    <a href={% url 'entry-tag' tag.slug %}>{{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
{% endfor %}<br>
{% if object.categories.all %}
    <b>Categories</b>:
    {% for category in object.categories.all %}
        <a href={{ category.get_absolute_url }}>{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}<br>
{% endif %}
{% if object.parent %}
    <b>Parent</b>:
    <a href="{{ object.parent.get_absolute_url }}">{{ object.parent.title }}</a><br>
{% endif %}
{% if object.get_children %}
    <b>Children</b>:
    {% for child in object.get_children %}
        <a href="{{ child.get_absolute_url }}">{{ child.title}}</a>{% if not forloop.last %},{% endif %}
    {% endfor %}
<br>
{% endif %}
{% if object.url %}
    <p>
        <b>URL</b>:
        <a href={{ object.url }}>{{ object.url }}</a>
    </p>
{% endif %}
<br>
<b><a href={% url 'update-entry' object.pk %}>Update entry</a></b>
(<a href="/admin/data/entry/{{ object.pk }}/">Admin</a>) |
<b><a href={% url 'changes' object.pk %}>See changes</a></b>
<b>{% if object.url %} | <a href={{ object.get_absolute_url }}>View on site</a>{% endif %}</b>
{% if user.is_superuser %}
    | <b><a href={% url 'delete-entry' object.pk %}>Delete</a></b>
{% endif %}