{% extends "data/base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Data Index{% endblock %}

{% block hierarchy %}
    > Index
    | <a href={% url 'create-entry' %}>Create Entry</a>
{% endblock %}

{% block title %}
    {% if entry.pk %}
        <a href={% url 'detail-entry' entry.pk %}><h2>{{ entry.title }}</h2></a>
    {% else %}
        Data App
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td style="width: 250px">
                {% for image in entry.images.all %}
                    <img src={{ image.url }} alt={{ image.name }} width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
    <div class="line">
        <span class="left"><a href="{% url 'entry-table' %}"><img src="http://dgallery.s3.amazonaws.com/next-actions-hit-list.png" alt="Table" width="100"></a></span>
        <span class="center"><b><a href="{% url 'data-graph' %}"><img src="http://dgallery.s3.amazonaws.com/NetworkExcel.jpg" alt="Graph" width="100"></a></b></span>
        {#  <span class="right"><a href="{% url 'entries-list' %}"><img src="http://dgallery.s3.amazonaws.com/table.png" alt="List" width="100"></a></span>#}
    </div>
    <hr>
    <div class="row">
        <div class="span4">
            {% block column-1 %}
                <a href={{ tags.get_absolute_url }}><h3>Tags</h3></a>
                {{ tags.content|markdown|hyper|recross|safe }}
                {% for image in tags.images.all %}
                    <a href={{ tags.get_absolute_url }}><img src={{ image.url }} alt={{ image.name }} width="250" height="250"></a>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="span4">
            {% block column-2 %}
                <a href={{ categories.get_absolute_url }}><h3>Categories</h3></a>
                {{ categories.content|markdown|hyper|recross|safe }}
                {% for image in categories.images.all %}
                    <a href={{ categories.get_absolute_url }}><img src={{ image.url }} alt={{ image.name }} width="250" height="250"></a>
                {% endfor %}
            {% endblock %}
        </div>
        <div class="span4">
            {% block column-3 %}
                <a href={{ hierarchy.get_absolute_url }}><h3>Hierarchy</h3></a>
                {{ hierarchy.content|markdown|hyper|recross|safe }}
                {% for image in hierarchy.images.all %}
                    <a href={{ hierarchy.get_absolute_url }}><img src={{ image.url }} alt={{ image.name }} width="250" height="250"></a>
                {% endfor %}
            {% endblock %}
        </div>
    </div>


    {% if user.is_superuser %}
        <hr>
        <a href={% url 'entry-table' %}>Entry Table</a>
        <br>
        <a href={% url 'list-entry-tags' %}>Tags</a>
        <br>
        <a href={% url 'list-categories' %}>Categories</a>
        <br>
        <a href={% url 'hierarchy' %}>Hierarchy</a> <a href={% url 'list-hierarchy' %}>List</a>
    {% endif %}

{% endblock %}