{% extends "data/base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Data Index{% endblock %}

{% block hierarchy %}
    > Index
{% endblock %}

{% block title %}Data{% endblock %}

{% block content %}
    {{ entry|markdown|hyper|recross|safe }}
    <center>
    {% for image in entry.images.all %}
        <img src="{{ image.url }}" alt="{{ image.name }}" />
    {% endfor %}
    </center>
    <a href={% url 'entry-table' %}>Entry Table</a>
    <br>
    <a href={% url 'hierarchy' %}>Hierarchy</a> <a href={% url 'list-hierarchy' %}>List</a>
{% endblock %}