{% extends "data/base.html" %}

{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Relation List{% endblock %}

{% block hierarchy %}
    > Relation
    > List
    | <a href={%  url 'create-relation' %}>Create</a>
{% endblock %}

{% block options %}
    | <a href={% url 'data-relation-feed' %}><img src="http://dgallery.s3.amazonaws.com/feed.png"></a>
{% endblock %}

{% block title %}Relation List{% endblock %}

{% block content %}
    <table width="100%" border="0">
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" style="width: 250px">
                {% for image in entry.images.all %}
                    <a href="{% url 'detail-entry' entry.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <div>
        {% for relation in object_list %}
            <b><a href={{ relation.get_absolute_url }}>o
            </a></b>
            <a href={{ relation.fr.get_absolute_url }}>{{ relation.fr.title }}</a>
            -<a href={{ relation.be.get_absolute_url }}>{{ relation.be.title }}</a>->
            <a href={{ relation.to.get_absolute_url }}>{{ relation.to.title }}</a>
            created on {{ relation.created }}
            by <a href={{ relation.creator.get_absolute_url }}>{{ relation.creator }}</a>
            updated on {{ relation.updated }}<br>
        {% endfor %}
    </div>
    <br>
    <div>
        <b><a href={% url 'create-relation' %}>Create relation</a></b>
        (<a href="/admin/data/relation/add/">Admin</a>)
    </div>
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}