{% extends "data/base.html" %}

{% load url from future %}

{% block head_title %}Relation List{% endblock %}

{% block hierarchy %}
    > Relation
    > List
    | <a href={%  url 'create-relation' %}>Create</a>
{% endblock %}

{% block title %}Relation List{% endblock %}

{% block content %}
    <div>
        {% for relation in object_list %}
            <b><a href={{ relation.get_absolute_url }}>o
            </a></b>
            <a href={{ relation.fr.get_absolute_url }}>{{ relation.fr.title }}</a>
            -<a href={{ relation.be.get_absolute_url }}>{{ relation.be.title }}</a>->
            <a href={{ relation.to.get_absolute_url }}>{{ relation.to.title }}</a>
            created on {{ relation.created }}
            by <a href={{ relation.creator.get_absolute_url }}>{{ relation.creator }}</a>
            updated on {{ relation.updated }}<br>
        {% endfor %}
    </div>
    <br>
    <div>
        <b><a href={% url 'create-relation' %}>Create relation</a></b>
        (<a href="/admin/data/relation/add/">Admin</a>)
    </div>
{% endblock %}