{% load url from future %}
{% load rendering %}
{% load hyperlink %}
{% load crosslink %}
{% load negletion %}
{% load pubmed_linker %}


<table width="100%">
    <tr>
        <td valign="top">
            {% if entry.is_rest %}
                {{ entry.content|hyper|negle|reST|neglete|markdown|recross|pubmed_links|safe }} {# {{ object.text|reST|safe }} {# restructuredtext }} #}
            {% else %}
                {{ entry.content|markdown|hyper|recross|pubmed_links|safe }}
            {% endif %}
        </td>
        <td valign="top" style="width: 250px">
            {% for image in entry.images.all %}
                <a href="{% url 'detail-entry' entry.slug %}"><img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250"></a>
            {% endfor %}
        </td>
    </tr>
</table>
<hr>