{% extends "data/base.html" %}

{% load url from future %}

{% block head_title %}{{ object }}{% endblock %}

{% block hierarchy %}
    > <a href={% url 'list-entry-tags' %}>Tags</a>
    > Tag
    = {{ object }}
{% endblock %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
        {% for object in object_list %}
            {% if object.published %}
                <li>{# {{ object.created|date:"Y-m-d" }}: #}
                    <a href={% url 'detail-entry' object.object_id %}>{{ object}}</a>
                {# ({{ object.updated|date:"Y-m-d" }}) #}</li>
            {% endif %}
        {% endfor %}
    {% include "comments/wrapper.html" %}
{% endblock %}
    {% comment %}
    {% if object.entry_set.all %}
        <p>
            {% for entry in object.entry_set.all %}
                {{ entry.created|date:"Y-m-d" }}:
                <a href={{ entry.get_absolute_url }}>{{ entry }}</a>
                ({{ entry.updated|date:"Y-m-d" }})
            {% endfor %}
        </p>
    {% else %}
            <p>
                {% for post in object.post_set.all %}
                    {{ post.created|date:"Y-m-d" }}:
                    <a href={{ post.get_absolute_url }}>{{ post }}</a>
                    ({{ post.updated|date:"Y-m-d" }})
                {% endfor %}
            </p>
    {% endif %}
    {% endcomment %}



