{% extends "site_base.html" %}

{% block head_title %}Expressions{% endblock %}

{% block base_hierarchy %}
    > <a href="/expressions/">Expressions</a>
{% endblock %}

{% block base_options %}
    <a href="/expressions/profiles/">Profiles</a> |
    <a href="/expressions/signatures">Signatures</a> |
    <a href="/expressions/signatures/sets/">Sets</a> |
    <a href="/expressions/intersections/">Intersections</a> |
    <a href="/expressions/meta/">Meta-Analysis</a>
{% endblock %}

{% block title %}Expressions{% endblock %}

