{% extends "site_base.html" %}

{% block head_title %}Expressions{% endblock %}

{% block base_hierarchy %}
    > <a href="/expressions/">Expressions</a>
{% endblock %}

{% block base_options %}
    <a href="/expressions/profiles/">Profiles</a>

    </b>(<a href="/expressions/profile/add/">Add</a> / <a href="/expressions/profile/create/">Create</a>)<b> |
    <a href="/expressions/signatures">Signatures</a> |
    </b>(<a href="/expressions/signature/add/">Add</a> / </a><a href="/expressions/signature/create/">Create</a>)<b>
{% endblock %}

{% block title %}Expressions{% endblock %}

