{% extends "expressions/base.html" %}

{% load render_table from django_tables2 %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}


{% block head_title %}{{ title }}{% endblock %}

{% block hierarchy %}
    > <a href="/expressions/intersections/" xmlns="http://www.w3.org/1999/html">Intersections</a>
    > {{ title }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="line">
        <span class="left">
            <b>Name:</b> <a href="/expressions/signature/{{ a_signature.pk }}/">{{ a_signature.name }}</a>
        </span>
        <span class="centre">
            <b>
            A(Up|Diff|Down)
            A&B(Up|Diff|Down)
            B(Up|Diff|Down)
            </b>
        </span>
        <span class="right">
            <b>Name: </b><a href="/expressions/signature/{{ another_signature.pk }}/">{{ another_signature.name }}</a>
        </span>
    </div>

    <div class="line">
        <span class="left">
            <b>Species</b>: <a href="/annotations/species/{{ a_signature.species.pk }}/">{{ a_signature.species }}</a>
        </span>
        <span class="centre">

            <span style="color:red">{{ a_signature.up|length }}</span> |
            {{ a_signature.differential|length }} |
            <span style="color:green">{{ a_signature.down|length }}</span>
               <->
              ({{ intersection.anti_a|length }})
            <span style="color:red">{{ intersection.up|length }}</span> |
            {{ intersection.diff|length }} |
            <span style="color:green">{{ intersection.down|length }}</span>
               ({{ intersection.anti_b|length }})
               <->
            <span style="color:red">{{ another_signature.up|length }}</span> |
            {{ another_signature.differential|length }} |
            <span style="color:green">{{ another_signature.down|length }}</span>

        </span>
        <span class="right">
            <b>Species</b>: <a href="/annotations/species/{{ another_signature.species.pk }}/">{{ another_signature.species }}</a>
        </span>
    </div>

    <div class="line">
        <span class="left">
            <b>Tissue</b>{% if a_signature.tissue > 1 %}s{% endif %}:
            {% for tissue in a_signature.tissues.all %}
                <a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </span>
        <span class="centre">
          ({{ intersection.anti_a_pvalue }})
            {{ intersection.up_pvalue }} |
            {{ intersection.diff_pvalue }} |
            {{ intersection.down_pvalue }}
           ({{ intersection.anti_b_pvalue }})
        </span>
        <span class="right">
            <b>Tissue</b>{% if another_signature.tissue > 1 %}s{% endif %}:
            {% for tissue in another_signature.tissues.all %}
                <a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name }}</a>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </span>
    </div>
    <hr>
    {# {% if benjamini %} #}
    <form action="" method="GET">
        {{ filer.form.as_p }}
        <p>
            ID: <select name="id" id="id" />
            <option selected="selected">{{ id }}</option>
            {% for ID in ids %}
                {% if ID != id %}<option {{ ID }}>{{ ID }}</option>{% endif %}
            {% endfor %}
            </select>
        </p>
        <p>Terms: <input type="checkbox" name="terms" value="terms" /></p>
        <input type="submit" value="Apply" />
    </form>
    <hr>
    <h3>Upregulated entities</h3>
    <span style="color:red">
        {% for transcript in intersection.upregulated  %}
            {{ transcript }}
        {% endfor %}
    </span>
    <hr>
    <h3>Downregulated entities</h3>
    <span style="color:green">
        {% for transcript in intersection.downregulated %}
            {{ transcript }}
        {% endfor %}
    </span>
    {% include "expressions/annotation.html" %}
{% endblock content %}
