{% extends "expressions/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ title }}{% endblock %}

{% block hierarchy %}
    > {{ title }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {{ entry.text|markdown|hyper|recross|safe }}
    <center>
    {% for image in entry.images.all %}
        <img src="{{ image.url }}" alt="{{ image.name }}" />
    {% endfor %}

     <table>
     <tr>
         <td><center><b>A</b></center</td>
         <td><center><b>A(Up|Diff|Down)</b></center></td>
         <td><center><b>A&B(Up|Diff|Down)</b></center></td>
         <td><center><b>B(Up|Diff|Down)</b></center></td>
         <td><center><b>B</b></center></td>

     </tr>
     {% for intersection in intersections %}
         <tr>
             <td><center><a href="{{ intersection.a.get_absolute_url }}">{{ intersection.a }}</a>
                 ({% for tissue in intersection.a.tissues.all %}<a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
             </center></td>

             <td>
                 <center>
                 <span style="color:red">{{ intersection.a.up|length }}</span> |
                 <a href="{{ intersection.a.get_absolute_url }}">{{ intersection.a.differential|length }}</a> |
                 <span style="color:green">{{ intersection.a.down|length }}</span></center>
             </td>
             <td>
                 <center>
                 <span style="color:red">{{ intersection.up|length }}</span> |
                 <a href="/expressions/intersection/{{ intersection.a.pk }}&{{ intersection.another.pk }}/{{ ratio }}/{{ pvalue }}/{{ fold_change }}/">{{ intersection.diff|length }}</a> |
                 <span style="color:green">{{ intersection.down|length }}</span>
                 </center>
             </td>
             <td>
                 <center>
                 <span style="color:red">{{ intersection.another.up|length }}</span> |
                 <a href="{{ intersection.another.get_absolute_url }}">{{ intersection.another.differential|length }}</a> |
                 <span style="color:green">{{ intersection.another.down|length }}</span>
                 </center>
             </td>

             <td><center><a href="{{ intersection.another.get_absolute_url }}">{{ intersection.another }}</a>
                 ({% for tissue in intersection.another.tissues.all %}<a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %})
             </center></td>
         </tr>
        {% endfor %}

     </table>
    </center>

    <hr>
    <form action="" method="GET">
        {{ filter.form.as_p }}
        <input type="submit" value="Apply" />
    </form>

    {% comment %}

             <td><center><b>A&B</b></center></td>

    <hr>
    {% for a_signature in signatures %}
        {% for another_signature in signatures %}
            {% if not a_signature == another_signature %}
                {{ a_signature }} <-> {{ another_signature }}<br>
            {% endif %}
        {% endfor %}
    {% endfor %}

        {% for intersection in intersections %}
        <a href="/{{ intersection.a.get_absolute_url }}">{{ intersection.a }}</a>
        <a href="/expressions/intersection/{{ intersection.a.pk }}&{{ intersection.b.pk }}/"><-></a>
        <a href="{{ intersection.another.get_absolute.url }}">{{ intersection.another }}</a> |
        {{ intersection.up|length }} | {# <a href="#"> </a> #}
        {{ intersection.differential|length }}| {# <a href="#"> </a> #}
        {{ intersection.down|length }}<br>{# <a href="#"></a>  #}
    {% endfor %}

   {% endcomment %}
{% endblock %}