{% extends "expressions/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}
{% load factor_linker %}

{% block head_title %}{{ title }}{% endblock %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block hierarchy %}
    > {{ title }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td valign="top" style="width: 250px">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250">
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <form action="" method="GET">
        Set: <select name="set" id="set"  />
        {% for set in sets %}
            <option value={{ set.pk }}>{{ set }}</option>
        {% endfor %}
        </select>
        {{ filter.form.as_p }}
        <p>
            ID: <select name="id" id="id" />
            <option selected="selected">{{ id }}</option>
            {% for ID in ids %}
                {% if ID != id %}<option {{ ID }}>{{ ID }}</option>{% endif %}
            {% endfor %}
            </select>
        </p>
        <p>Terms: <input type="checkbox" name="terms" value="terms" /></p>
        <input type="submit" value="Apply" />
    </form>
    <hr>
    <h3>Commonly upregulated entities [{{ signatures.up|length }}]:</h3>
    <span style="color:red">
        {% if id == 'entrez_gene_id' %}
            {{ signatures.up|factor_links }}
        {% else %}
            {{ signatures.up|factor_links:"ensembl_gene_id" }}
            {% comment %}
            {% for transcript in signatures.up %}
                {{ transcript }}
            {% endfor %}
            {% endcomment %}
        {% endif %}
    </span>
    <hr>
    <h3>Commonly downregulated entities [{{ signatures.down|length }}]:</h3>
    <span style="color:green">
        {% if id == 'entrez_gene_id' %}
            {{ signatures.down|factor_links }}
        {% else %}
            {{ signatures.down|factor_links:"ensembl_gene_id" }}
            {% comment %}
            {% for transcript in signatures.down %}
                {{ transcript }}
            {% endfor %}
            {% endcomment %}
        {% endif %}
    </span>
    <hr>
    <h3>Commonly differential entities to all signatures [{{ signatures.diff|length }}]:</h3>
    <span style="color:orange">
    {% if id == 'entrez_gene_id' %}
        {{ signatures.diff|factor_links }}
    {% else %}
        {{ signatures.diff|factor_links:"ensembl_gene_id" }}
        {% comment %}
        {% for transcript in signatures.diff %}
            {{ transcript }}
        {% endfor %}
        {% endcomment %}
    {% endif %}
    </span>

    {% include "expressions/annotation.html" %}
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}