{% extends "expressions/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}{{ title }}{% endblock %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block hierarchy %}
    > {{ title }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.text|markdown|hyper|recross|safe }}
            </td>
            <td valign="top">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="250" height="250" />
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <form action="" method="GET">
        Set: <select name="set" id="set"  />
        {% for set in sets %}
            <option value={{ set.pk }}>{{ set }}</option>
        {% endfor %}
        </select>
        {{ filter.form.as_p }}
        <p>
            ID: <select name="id" id="id" />
            <option selected="selected">{{ id }}</option>
            {% for ID in ids %}
                {% if ID != id %}<option {{ ID }}>{{ ID }}</option>{% endif %}
            {% endfor %}
            </select>
        </p>
        <p>Terms: <input type="checkbox" name="terms" value="terms" /></p>
        <input type="submit" value="Apply" />
    </form>
    <hr>
    <h3>Commonly upregulated entities [{{ signatures.up|length }}]:</h2>
    <span style="color:red">
        {% for transcript in signatures.up %}
            {{ transcript }}
        {% endfor %}
    </span>
    <hr>
    <h3>Commonly downregulated entities [{{ signatures.down|length }}]:</h2>
    <span style="color:green">
        {% for transcript in signatures.down %}
            {{ transcript }}
        {% endfor %}
    </span>
    <hr>
    <h3>Commonly differential entities to all signatures [{{ signatures.diff|length }}]:</h2>
    <span style="color:orange">
    {% for transcript in signatures.diff %}
        {{ transcript }}
    {% endfor %}
    </span>

    {% include "expressions/annotation.html" %}

{% endblock %}