{% extends "expressions/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block head_title %}Profiles{% endblock head_title %}

{% block hierarchy %}
    > Profiles
{% endblock hierarchy %}

{% block title %}Profiles{% endblock title %}

{% block content %}
    {{ entry.text|markdown|hyper|recross|safe }}
    {% for image in entry.images.all %}
        <center><img src="{{ image.url }}" alt="{{ image.name }}" /></center>
    {% endfor %}
    {% if profiles %}
        {% if user.is_superuser %}
        <b><a href="/expressions/probes/">Calculate average probe expression</a></b><br>
        <b><a href="/expressions/delete_probes/">Delete all probes</a></b><br>
        <b><a href="/expressions/create_signatures/">Create signatures</a></b>
        <hr>
        {% endif %}
        {% for profile in profiles %}
            <a href="/expressions/profile/{{ profile.pk }}/">{{ profile.name }}</a>
            {# <a href="/annotations/species/{{ profile.species.pk }}/">{{ profile.species }}</a> #}
            <a href="/lifespan/regimen/{{ profile.pk }}/">{{ profile.diet }}</a>
            {% for tissue in profile.tissue.all %}
                <a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}<br>

        {% endfor %}
    {% else %}
        <hr>
        <p>No profiles available yet.</p>
    {% endif %}
    <hr>
    <b><a href="/expressions/profile/add/">Add</a> / <a href="/expressions/profile/create/">Create</a></b>
{% endblock content %}