{% extends "expressions/base.html" %}

{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% load render_table from django_tables2 %}

{% block head_title %}Sets{% endblock %}

{% block hierarchy %}
    > <a href="/expressions/signatures/">Signatures</a>
    > Sets
{% endblock %}

{% block title %}Sets{% endblock %}

{% block content %}
    {% if entry %}
        {{ entry.text|markdown|hyper|recross|safe }}
    {% endif %}
    <table width="100%">
        <tr>
            <td valign="top">
                {% if sets %}
                    {% render_table sets %}
                {% else %}
                <p>No sets defined yet.</p>
                {% endif %}
            </td>
            <td valign="top">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="250" heigth="250" />
                {% endfor %}
            </td>
        </tr>
    </table>


    {% if sets %}
        <hr>
        {% for set in sets %}
            <b>{{ set }}</b> ({{ set.signatures.all|length }} signatures)<br>
            {% for signature in set.signatures.all %}
                <a href="/expressions/signature/{{ signature.pk }}">{{ signature }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        <hr>
        {% endfor %}

    {% endif %}

    <b><a href="/expressions/signatures/set/create">Create set</a></b>
{% endblock %}