{% extends "expressions/base.html" %}

{% load counter %}
{% load staticfiles %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block head_title %}Signature: {{ signature.name }}{% endblock %}

{% block extra_script %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block hierarchy %}
    > <a href="/expressions/signatures/">Signatures</a>
    > {{ signature.name }}
{% endblock %}

{% block title %}Signature: {{ signature.name }}{% endblock %}

{% block content %}
    <b>Species</b>: <a href="/annotations/species/{{ signature.species.pk }}">{{ signature.species }}</a> |
    <b>Tissue</b>{% if signature.tissues.all|count > 1 %}s{% endif %}: {# Pluralize only if ore than one. #}
    {% for tissue in signature.tissues.all %}
        <a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name|title }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %} |
    <b>Manipulation</b>: <a href="/lifespan/regimen/{{ signature.diet.pk }}/">{{ signature.diet }}</a> |
    <b>Transcripts</b>: {{ transcripts|count }} |
    <b>Up</b>: {{ transcripts_up|count }} |
    <b>Down</b>: {{ transcripts_down|count }} ...
    (ratio-cutoff = {{ ratio }}; p-value < {{ pvalue }} {% if benjamini %}; Benjamini < {{ benjamini }}{% endif %})
    <hr>
    <table>
        <tr>
            <td valign="top">
                {% comment %}{% crispy filter.form %}{% endcomment %}
                <form action="" method="GET">
                    {{ filter.form.as_p }}
                    Terms: <input type="checkbox" name="terms", value="terms"><br><hr>
                    <input type="submit" value="Apply" />
                </form>
            </td>
            <td valign="top">
                {% render_table table %}
            </td>
        </tr>
    </table>

    <hr>
    <h3>Upregulated entities</h3>
    <span style="color:red">
        {% for transcript in transcripts_up %}
            {{ transcript }}

        {% endfor %}
    </span>
    <hr>
    <h3>Downregulated entities</h3>
    <span style="color:green">
        {% for transcript in transcripts_down %}
            {{ transcript }}
        {%  endfor %}
    </span>
    {% if terms %}
        <div class="annotation">
            <hr>
            <h3>Upregulated terms</h3>
            <br>
            {% if table_up %}
                {% render_table table_up %}
            {% else %}
                None
            {% endif %}
            <hr>
            <h3>Downregulated terms</h3>
            <br>
            {% if table_down %}
                {% render_table table_down %}
            {% else %}
                None
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
