{% extends "expressions/base.html" %}

{% load url from future %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}
{% load counter %}

{% block head_title %}Signatures{% endblock %}

{% block hierarchy %}
    > Signatures
{% endblock %}

{% block title %}Signatures{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.content|markdown|hyper|recross|safe }}
            </td>
            <td style="width: 200px">
                {% for image in entry.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="200" height="200">
                {% endfor %}
            </td>
        </tr>
    </table>

    {% if signatures %}
    {% for signature in signatures %}
        <hr>
        <b><a href="/expressions/signature/{{ signature.pk }}/">{{ signature.name }}</a></b>
        (Species: <a href="/annotations/species/{{ signature.species.pk }}/">{{ signature.species }}</a>;
        Tissue{% if signature.tissues.all|count > 1 %}s{% endif %}:
        {% for tissue in signature.tissues.all %}
            <a href="/annotations/tissue/{{ tissue.pk }}/">{{ tissue.name|title }}</a>{% if not forloop.last %}, {% endif %}{% endfor %};
        Manipulation:
        <a href="/lifespan/regimen/{{ signature.diet.pk }}/">{{ signature.diet }}</a>)
        {% if user.is_superuser %}
            <a href="/expressions/signature/delete/{{ signature.pk }}/">Delete</a> |
            <a href="/expressions/signature/output/{{ signature.pk }}/">Output</a> |
            <a href={% url 'benjamini' signature.pk %}>Benjamini</a> |
            <a href={% url 'map_signature' signature.pk %}>Map</a>
        {% endif %}
    {% endfor %}
    {% else %}
        <hr>
        <p>No signatures available yet.</p>
    {% endif %}
    <hr>
    <b><a href="/expressions/signature/add/">Add</a> / </a><a href="/expressions/signature/create/">Create</a></b>
    {% if user.is_superuser %}
        | <b><a href={% url 'benjaminis' %}>Benjaminis</a></b>
        | <b><a href={% url 'map_signatures' %}>Map</a></b>
    {% endif %}
    {% with entry as object %}
        {% include "comments/wrapper.html" %}
    {% endwith %}
{% endblock %}
