{% extends 'links/base.html' %}

{% load url from future %}
{% load render_table from django_tables2 %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}

{% block extra_style %}
    <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock %}

{% block head_title %}Links{% endblock %}

{% block hierarchy %}
    | <a href={% url 'create-link' %}>Create</a>
{% endblock %}

{% block title %}Links{% endblock %}

{% block content %}
    <table>
        <tr>
            <td valign="top">
                {{ entry.text|markdown|hyper|recross|safe }}
            </td>
            <td>
                {% for image in entry.images.all %}
                    <img src={{ image.url }} alt={{ image.name }} width="250" height="250" />
                {% endfor %}
            </td>
        </tr>
    </table>
    <hr>
    <form action="" method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    {{ filter.form.as_p }}
    <input type="submit" value="Apply" />
    {% render_table table %}
{% endblock %}