{% extends "links/base.html" %}
{% load i18n %}

{% block content %}
    <div id="content">
        <h2>{% trans "Links" %}</h2>
        <div id="links_list" >
            {% for link in links_list %}
            <div class="links">
                <p><a href="{{ link.url }}">{{ link.title }}</a></p>
                <p>{{ link.description }}</p>
                <p><a href="{{news.get_absolute_url }}">{% trans "Open" %}</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
