{% extends 'links/base.html' %}

{% load crispy_forms_tags %}
{% load adminmedia %}

{% block head_title %}{{ action }} Link{% endblock %}

{% block extra_script %}
    <script type="text/javascript" src="{% admin_media_prefix %}js/admin/RelatedObjectLookups.js"></script>
{% endblock %}

{% block hierarchy %}
    > Link
    > {{ action }}
{% endblock %}

{% block options %}
    <a href="/admin/links/link/{{ link.pk }}/">Admin</a>
{% endblock %}

{% block title %}{{ action }} Link{% endblock %}

{% block content %}
    {% crispy form %}
{% endblock %}