video {
  maxheight: 90%;
  max-width: 100%;
  position: relative;
}
vidBtn {
  font-size: 12pt;
}
.ui-autocomplete {
  max-height: 150px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */

  overflow-x: hidden;
}
