<!DOCTYPE html>
<html>
<head>
    <title>Testing</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://jquery.com/jquery-1.8.3.min.js"></script>
    <script type="text/javascript">

        $("#foo").change(function() {
            $.ajax({
                type: 'GET',
                url: '/home/test/',
                data: {
                    'SomeData': $("#SomeData").val()
                },
                success: function(data){
                    alert("Got response from server ...", data);
                }
            });
        });
    </script>
</head>
<body>
    <form action="/home/test" method="GET">
        <input type="text" id="foo" />
        <input type="text" id="SomeData" value="something" />
    </form>
    {{ dataFromPage }}
</body>
</html>