{% extends "alliance/site_base.html" %}

{% load url from future %}
{% load i18n %}
{% load markup %}
{% load hyperlink %}
{% load crosslink %}
{% load abstraction %}
{% load splitter %}

{% block body_base %}
    <div class="container">
        {% include "_messages.html" %}
        <div class="hero-unit well">
            {% block banner %}
                <h1>Denigma</h1>
                <p>The Digital Denigma to decipher life.</p>
                <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
            {% endblock %}
        </div>

        <div class="row">
            <div class="span4">
                {% block column-1 %}
                    {% for image in about.images.all %}
                        <img src="https://s3.amazonaws.com/longevityalliance/ila_first_meeting_cut.jpg" alt="{{ image.name }}" width="350" height="350">
                    {% endfor %}<br>
                    <a class="btn" href="{% url 'alliance-about' %}">About &raquo;</a><br><br>
                    {{ about.text|abstract:"289"|snap|markdown|hyper|recross|safe }}
                    <b><a href="{% url 'alliance-about' %}">Read more</a></b>
                {% endblock %}
            </div>
            <div class="span4">
                {% block column-2 %}
                    {% for image in manifesto.images.all %}
                    <img src="{{ image.url }}" alt="{{ image.name }}" width="350" height="350">
                    {% endfor %}<br>
                    <a class="btn" href="{% url 'alliance-manifesto' %}">Manifesto &raquo;</a><br><br>
                    {{ manifesto.text|abstract:"280"|snap|markdown|hyper|recross|safe }}
                    <b><a href="{% url 'alliance-manifesto' %}">Read more</a></b>
                {% endblock %}
            </div>
            <div class="span4">
                {% block column-3 %}
                    {% for image in take_action.images.all %}
                        <img src="{{ image.url }}" alt="{{ image.name }}" width="350" height="350">
                    {% endfor %}<br>
                    <a class="btn" href="{% url 'alliance-take-action' %}">Take Action &raquo;</a><br><br>
                    {{ take_action.text|abstract:"280"|snap|markdown|hyper|recross|safe }}
                    <b><a href="{% url 'alliance-take-action' %}">Read more</a></b>
                {% endblock %}
            </div>
        </div>
	    {% include "alliance/news.html" %}
        <h4><a href="{% url 'alliance-data' %}">All Entries</a></h4>
        <hr>

        <div class="hero-unit well">
             <h2>{{ dashboard.title }}</h2>
            {{ dashboard.content|markdown|hyper|recross|safe }}
            {% comment %}{% with dashboard as object %}
                {% include "comments/wrapper.html" %}
            {% endwith %} {% endcomment %}
        </div>
        <hr>



    </div>
{% endblock %}
