{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <link rel="shortcut icon" type="image/x-icon" href="http://longevityalliance.s3.amazonaws.com/globe.gif">
        <link href="http://longevityalliance.s3.amazonaws.com/globe.gif" rel="icon" type="image/x-icon">
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}ILA{% endif %}: {% block head_title %}International Longevity Alliance{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {% block style_base %}
            <link href="{% static "pinax/css/theme.css" %}" rel="stylesheet">
            <link href="{% static "neo-bootstrap/css/bootstrap.css" %}" rel="stylesheet">
            <link href="{% static "neo-bootstrap/css/bootstrap-responsive.css" %}" rel="stylesheet">
            <link href="{% static "css/customization.css" %}" rel="stylesheet">
            <link href="{% static "css/d.css" %}" rel="stylesheet">
            <link href="{% static "css/error.css" %}" rel="stylesheet">
            <link href="{% static "css/pygments.css" %}" rel="stylesheet">
            {% block extra_style %}{% endblock %}
        {% endblock %}
        {% block script_base %}
            <script src="{% static "pinax/js/jquery-1.7.1.min.js" %}"></script>
            <script src="{% static "pinax/js/jquery.form.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-alert.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-button.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-carousel.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-collapse.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-dropdown.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-scrollspy.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-tab.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-tooltip.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-popover.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-transition.js" %}"></script>
            <script src="{% static "neo-bootstrap/js/bootstrap-typeahead.js" %}"></script>
            <script src="{% static "pinax/js/theme.js" %}"></script>
            <script src="{% static "pinax/js/pinax.modal.js" %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">

        {% block topbar_base %}
            <div class="navbar navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        {% block topbar %}
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a>
                            {% block site_brand %}<a class="brand" href="{% url 'home' %}"><img src="http://longevityalliance.s3.amazonaws.com/symbol.svg" alt="ILA" height="40" width="40"></a>{% endblock %} {#  #}
                            <div class="nav-collapse">
                                {% block nav %}
                                    {% comment %}
                                        <ul class="nav">
                                            <li><a href="#tab_one">One</a></li>
                                            <li><a href="#tab_two">Two</a></li>
                                        </ul>
                                    {% endcomment %}
                                {% endblock %}
                                {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                            </div>
                        {% endblock %}
                    </div>
                </div>


                <div id="menu">
                    <div class="inner">
                        <div class="container">
                            <b>

                            {% block navigation %}
                                <div class="line">

                                <span class="left">

                                <b><a href="/admin">ILA</a>

                                {% block base_hierarchy %}
                                {% endblock base_hierarchy %}
                                {% block hierarchy %}
                                {% endblock hierarchy %}
                                  <a href="{% url 'alliance-entry' slug='united-kingdom' %}"><img src="http://dgallery.s3.amazonaws.com/flag_of_united_kingdom.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='united-states' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_the_united_states.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='canada' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_canada.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='australia' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_australia.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='ireland' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_ireland.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='italy' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_italy.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='iraq' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_iraq.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='egypt' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_egypt.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='brazil' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_brazil.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='japan' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_japan.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='iran' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_iran.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='portugal' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_portugal.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='denmark' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_denmark.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='iraq' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_iraq.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='egypt' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_egypt.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='isreal' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_israel.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='russia' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_russia.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='ukraine' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_ukraine.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='germany' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_germany.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='austria' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_austria.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='spain' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_spain.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='mexico' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_mexico.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='argentina' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_argentina.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='colombia' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_colombia.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='venezuela' %}"><img src="http://dgallery.s3.amazonaws.com/flag_of_venezuela.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='poland' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_poland.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='india' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_india.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='slovakia' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_slovakia.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='czech-republic' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_the_czech_republic.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='france' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_france.svg_.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='benin' %}"><img src="https://s3.amazonaws.com/dgallery/150px-flag_of_benin.svg_.png" width="20px"></a>

                                  <a href="{% url 'alliance-entry' slug='turkey' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_turkey.svg.png" width="20px"></a>
                                  <a href="{% url 'alliance-entry' slug='pakistan' %}"><img src="https://s3.amazonaws.com/dgallery/flag_of_pakistan.svg.png" width="20px"></a>

                                </b>
                                </span>

                                <span class="centre">
                                    {% block base_options %}{% endblock base_options %}
                                    {% block options %}{% endblock options %}</span>

                                <span class="right">
                                {% block sections %}
                                {% endblock sections %}
                                </span>

                                </div>
                            {% endblock %}

                            </b>
                            <center>
                            {% block menu %}
			    {% endblock %}
                            </center>
                </div>
                    </div>
                        </div>
        </div>
        {% endblock %}

            <div id="context">
                <div class="inner">
                    <div class="container">
        <h2>{% block title %}{% endblock %}</h2>
	<h3>{% block subtitle %}{% endblock %}</h3>
        {% block content %}{% endblock %}
                   </div>
                </div>
            </div>


        {% block body_base %}
            <div class="container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}

        {% block news %}
        {% endblock %}

        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
    </body>
</html>
